Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2020-11, with the labels that each got.

#520 Add Toggle Healthbox Visibility Feature
  include/constants/battle_config.h
  src/battle_interface.c
Labels: branch: battle_engine, type: feature

#545 Fix Mega Pinsir Icon
  graphics/pokemon/mega_pinsir/icon.png
Labels: category: pokemon, gen: 6, type: bug

#530 More exp options in battle_config
  include/constants/battle_config.h
  src/battle_script_commands.c
Labels: branch: battle_engine, type: feature

#552 Corrected a few Gen. 4 footprints after accidentally screwing them up
  graphics/pokemon/bidoof/footprint.png
  graphics/pokemon/lucario/footprint.png
  graphics/pokemon/luxray/footprint.png
  graphics/pokemon/regigigas/footprint.png
  graphics/pokemon/staraptor/footprint.png
  graphics/pokemon/staravia/footprint.png
  graphics/pokemon/starly/footprint.png
Labels: branch: pokemon_expansion, category: pokemon, gen: 4, type: bug

#29 Toggle options for abilities and Egg Groups.
  include/constants/pokemon_config.h
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, type: bug

#145 Item Expansion config file.
  include/constants/item_config.h
  include/constants/pokemon.h
  include/item.h
  include/wild_encounter.h
  src/battle_main.c
  src/battle_script_commands.c
  src/data/items.h
  src/item_use.c
  src/pokemon.c
  src/wild_encounter.c
Labels: branch: item_expansion, type: documentation, type: feature

#538 Created macro used to detect Ultra Beasts.
  include/constants/species.h
Labels: branch: pokemon_expansion, type: feature

#555 Fixed Trapinch's evolutions abilities.
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, type: bug

#564 Fixed the descriptions of Freeze Dry and Flying Press
  src/data/text/move_descriptions.h
Labels: branch: battle_engine, gen: 5, gen: 6, type: data

#568 Changed Hurricane's animation
  data/battle_anim_scripts.s
Labels: branch: battle_engine, category: move animation, type: bug

#1212 Moved ITEM_EXPANSION define to global.h to fix reading from other branches like Battle Engine
  include/constants/item_config.h
  include/global.h
Labels: branch: item_expansion, type: bug

#1214 Moved POKEMON_EXPANSION define to global.h to fix reading from other branches
  include/constants/pokemon_config.h
  include/global.h
Labels: branch: pokemon_expansion, type: bug

#1213 Moved BATTLE_ENGINE define to global.h to fix reading from other bran…
  include/constants/battle_config.h
  include/global.h
Labels: branch: battle_engine, type: bug

#1207 Plate type data and hold effect.
  include/constants/hold_effects.h
  src/data/items.h
Labels: branch: item_expansion, category: item, type: data

#1216 Tweaked Intimidate a little
  data/battle_scripts_1.s
  include/constants/battle_config.h
  include/constants/battle_string_ids.h
  src/battle_message.c
Labels: branch: battle_engine, category: ability, gen: 8

#569 Fixed anim. settings labels in src/battle_anim.c
  src/battle_anim.c
Labels: branch: battle_engine, type: bug, type: documentation

#571 Added functionality to the B_NEW_SURF_PARTICLE_PALETTE anim. config label
  src/battle_anim_water.c
Labels: branch: battle_engine, category: move animation, type: feature

#563 Fixing Litleo's and Pyroar's gender ratio.
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, gen: 6, type: bug

#566 Support for Gender Differences
  graphics/pokemon/eevee/anim_frontf.png
  graphics/pokemon/eevee/backf.png
  include/data.h
  include/graphics.h
  include/pokemon_icon.h
  src/data.c
  src/data/graphics/pokemon.h
  src/data/pokemon_graphics/back_pic_table.h
  src/data/pokemon_graphics/front_pic_table.h
  src/data/pokemon_graphics/palette_table.h
  src/data/pokemon_graphics/shiny_palette_table.h
  src/decompress.c
  src/pokedex.c
  src/pokemon.c
  src/pokemon_icon.c
  src/pokemon_storage_system.c
  src/trainer_card.c
Labels: branch: pokemon_expansion, gen: 4, type: feature

#556 Critical Capture Config Option And Catching Charm
  include/constants/battle_config.h
  src/battle_script_commands.c
Labels: branch: battle_engine, type: feature

#1218 Prevent Ability Popup overwrites
  data/battle_scripts_1.s
Labels: branch: battle_engine, type: bug

#575 Implemented Wish Mega Evolution
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_string_ids.h
  include/constants/pokemon.h
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, gen: 6, type: feature

#1206 Refactor move effects for type changing moves
  include/constants/battle_move_effects.h
  include/constants/hold_effects.h
  src/battle_main.c
  src/battle_util.c
  src/data/battle_moves.h
Labels: category: move effect, gen: 4, gen: 5, gen: 7

#1219 Small tweaks related to EVO_MOVE_MEGA_EVOLUTION
  include/constants/pokemon.h
  src/data/pokemon/evolution.h
Labels: branch: pokemon_expansion, category: pokemon, gen: 6

#1220 Added config option for Steel type resistances.
  include/constants/battle_config.h
  src/battle_util.c
Labels: branch: battle_engine, type: enhancement

#13 LGPE & Isle of Armor move data.
  data/battle_anim_scripts.s
  include/constants/moves.h
  src/battle_debug.c
  src/battle_util.c
  src/data/battle_moves.h
  src/data/text/move_descriptions.h
  src/data/text/move_names.h
Labels: branch: battle_engine, gen: 7, gen: 8, type: data

#1232 Fixed the pal. of Arceus' Fighting and Flying forms
  src/data/graphics/pokemon.h
Labels: branch: pokemon_expansion, category: pokemon, gen: 4, gen: 7, type: bug

#1237 Fixed a few Pokémon icon sprites
  graphics/pokemon/combee/icon.png
  graphics/pokemon/landorus/icon.png
  graphics/pokemon/sawk/icon.png
  graphics/pokemon/solosis/icon.png
  graphics/pokemon/tynamo/icon.png
Labels: branch: pokemon_expansion, category: pokemon, type: bug

#1236 Fixed UndoFormChange bug at the end of battles
  src/battle_util.c
Labels: branch: battle_engine, type: bug

#1234 Implemented Guts' missing effect
  src/battle_util.c
Labels: branch: battle_engine, category: ability, type: bug

#1226 ifdef items in base_stats.h and uncomment vanilla hold items
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, type: enhancement

#1239 redo power trick anim
  data/battle_anim_scripts.s
  src/battle_anim_new.c
Labels: branch: battle_engine, category: move animation

#519 Added commands for scripted double wild battles
  asm/macros/event.inc
  include/battle_setup.h
  include/script_pokemon_util.h
  src/battle_setup.c
  src/scrcmd.c
  src/script_pokemon_util.c
Labels: branch: battle_engine, type: feature

#1235 Expand Ability IDs to u16, Add SWSH Ability Data, and Remove Cacophony
  asm/macros/battle_script.inc
  include/battle.h
  include/battle_ai_script_commands.h
  include/battle_controllers.h
  include/battle_message.h
  include/battle_util.h
  include/constants/abilities.h
  include/pokemon.h
  src/battle_ai_script_commands.c
  src/battle_ai_switch_items.c
  src/battle_controller_player.c
  src/battle_controllers.c
  src/battle_debug.c
  src/battle_main.c
  src/battle_message.c
  src/battle_pike.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/text/abilities.h
  src/egg_hatch.c
  src/field_player_avatar.c
  src/fldeff_cut.c
  src/pokemon.c
  src/pokemon_summary_screen.c
  src/wild_encounter.c
Labels: branch: battle_engine, category: ability, gen: 8, type: data, type: enhancement

#1249 A few evolution updates
  include/constants/pokemon.h
  include/pokemon.h
  src/data/pokemon/evolution.h
  src/pokemon.c
Labels: branch: pokemon_expansion

#1243 Finish Switch In Ability Activation Messages
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_util.c
Labels: branch: battle_engine, category: ability
