Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2020-12, with the labels that each got.

#1251 Add mon flags
  include/constants/species.h
  include/pokemon.h
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, category: pokemon, type: data

#1252 Removed IS_ULTRA_BEAST in favor of mon flag
  src/battle_script_commands.c
Labels: branch: item_expansion, category: item

#1240 Terrain Moves Cause Permament BG Change
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  include/battle_anim.h
  include/battle_bg.h
  include/constants/battle.h
  include/constants/battle_anim.h
  include/constants/battle_config.h
  src/battle_anim.c
  src/battle_bg.c
  src/battle_script_commands.c
Labels: branch: battle_engine, gen: 7, type: enhancement

#1261 Fix Buffering abilities > 255
  src/battle_message.c
Labels: branch: battle_engine, category: ability, type: bug

#1260 Fix Babydoll eyes animation
  data/battle_anim_scripts.s
Labels: branch: battle_engine, category: move animation

#1267 Updated abilities.h
  include/constants/abilities.h
Labels: branch: pokemon_expansion, category: ability, type: data

#1273 Fix Terrain BG on new battles
  src/battle_util2.c
Labels: branch: battle_engine, type: bug

#1244 toggleable manual ability popup destruction
  asm/macros/battle_script.inc
  include/battle.h
  include/battle_interface.h
  include/constants/battle_script_commands.h
  src/battle_interface.c
  src/battle_script_commands.c
Labels: branch: battle_engine, category: ability, type: enhancement

#1274 Change Pidgey front animation
  src/pokemon.c
Labels: branch: pokemon_expansion, type: enhancement

#1297 Corrected the icon sprite of Mandibuzz
  graphics/pokemon/mandibuzz/icon.png
Labels: branch: pokemon_expansion, category: pokemon

#1275 Fix Shadow Sneak Animation
  data/battle_anim_scripts.s
  src/battle_anim_new.c
Labels: branch: battle_engine, category: move animation, type: bug

#1281 Allow player partner NPC's to mega evolve
  src/battle_controller_player_partner.c
Labels: branch: battle_engine, type: bug

#1299 Cacophony
  src/data/text/abilities.h
Labels: branch: pokemon_expansion, category: ability

#1306 Add Galarian Form mon flags
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, category: pokemon, gen: 8, type: data

#1283 Added the data of SwSh's Crown Tundra's moves
  data/battle_anim_scripts.s
  include/constants/moves.h
  src/data/battle_moves.h
  src/data/text/move_descriptions.h
  src/data/text/move_names.h
Labels: branch: battle_engine, gen: 8, type: data

#1288 Some more small battle_config.h tweaks
  include/constants/battle_config.h
Labels: branch: battle_engine, type: documentation
