Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2020-10, with the labels that each got.

#18 Added comments for each entry of gBattlescriptsForBallThrow
  data/battle_scripts_2.s
Labels: branch: item_expansion, type: documentation

#22 Renamed the HOLD_EFFECT_EV_BOOST label
  include/constants/hold_effects.h
  src/data/items.h
Labels: branch: item_expansion, type: documentation

#25 2v1 multibattle fix
  src/battle_controller_opponent.c
Labels: branch: battle_engine, type: bug

#17 Updated many moves' data to Gen. 8 standards
  data/battle_scripts_1.s
  include/constants/battle_config.h
  src/data/battle_moves.h
  src/data/text/move_names.h
Labels: branch: battle_engine, category: move effect, gen: 8, type: data

#27 Tweaked EVO_MAP evolutions
  include/pokemon.h
  src/data/pokemon/evolution.h
Labels: branch: pokemon_expansion, type: documentation

#11 Added breeding effects for Incenses.
  src/daycare.c
Labels: branch: item_expansion, category: item, gen: 4, type: feature

#12 Added Karrablast/Shelmet evolution method.
  include/constants/pokemon.h
  include/pokemon.h
  src/battle_main.c
  src/data/pokemon/evolution.h
  src/party_menu.c
  src/pokemon.c
  src/trade.c
Labels: branch: pokemon_expansion, gen: 5, type: feature

#518 Add Oval Charm
  graphics/items/icon_palettes/oval_charm.pal
  graphics/items/icons/oval_charm.png
  include/constants/items.h
  include/graphics.h
  src/data/graphics/items.h
  src/data/item_icon_table.h
  src/data/items.h
  src/data/text/item_descriptions.h
  src/daycare.c
Labels: branch: item_expansion, category: item, type: feature

#524 Fixed Electrify's animation again
  data/battle_anim_scripts.s
Labels: branch: battle_engine, gen: 6, type: bug

#523 Fixed Eerie Impulse's animation again
  data/battle_anim_scripts.s
Labels: branch: battle_engine, gen: 6, type: bug

#529 Reincorporated badge based stat boosts
  include/battle_util.h
  include/constants/battle_config.h
  src/battle_main.c
  src/battle_util.c
  src/pokemon.c
Labels: branch: battle_engine, type: feature

#16 Added the data of Deoxys' forms
  graphics/pokemon/deoxys/anim_front_attack.png
  graphics/pokemon/deoxys/anim_front_defense.png
  graphics/pokemon/deoxys/anim_front_speed.png
  graphics/pokemon/deoxys/back_attack.png
  graphics/pokemon/deoxys/back_defense.png
  graphics/pokemon/deoxys/back_speed.png
  graphics/pokemon/deoxys/front_attack.png
  graphics/pokemon/deoxys/front_defense.png
  graphics/pokemon/deoxys/front_speed.png
  graphics/pokemon/deoxys/icon_attack.png
  graphics/pokemon/deoxys/icon_defense.png
  graphics/pokemon/deoxys/icon_speed.png
  graphics/pokemon/deoxys/normal_attack.pal
  graphics/pokemon/deoxys/normal_defense.pal
  graphics/pokemon/deoxys/normal_speed.pal
  graphics/pokemon/deoxys/shiny_attack.pal
  graphics/pokemon/deoxys/shiny_defense.pal
  graphics/pokemon/deoxys/shiny_speed.pal
  include/constants/species.h
  include/graphics.h
  sound/cry_tables.inc
  sound/direct_sound_data.inc
  src/data/graphics/pokemon.h
  src/data/pokemon/base_stats.h
  src/data/pokemon/level_up_learnset_pointers.h
  src/data/pokemon/level_up_learnsets.h
  src/data/pokemon_graphics/back_pic_coordinates.h
  src/data/pokemon_graphics/back_pic_table.h
  src/data/pokemon_graphics/front_pic_anims.h
  src/data/pokemon_graphics/front_pic_coordinates.h
  src/data/pokemon_graphics/front_pic_table.h
  src/data/pokemon_graphics/palette_table.h
  src/data/pokemon_graphics/shiny_palette_table.h
  src/data/text/species_names.h
  src/pokemon_icon.c
Labels: branch: pokemon_expansion, category: pokemon, type: data

#528 Fixed Magnemite's and Magneton's battle sprites
  graphics/pokemon/magnemite/anim_front.png
  graphics/pokemon/magnemite/back.png
  graphics/pokemon/magnemite/front.png
  graphics/pokemon/magneton/back.png
Labels: branch: pokemon_expansion, category: pokemon, type: bug

#526 Corrected Tsareena's sprites
  graphics/pokemon/tsareena/back.png
  graphics/pokemon/tsareena/front.png
  graphics/pokemon/tsareena/shiny.pal
Labels: branch: pokemon_expansion, category: pokemon, type: bug

#532 Fixed the animation of Deoxys' Attack, Defense and Speed forms
  src/data/pokemon_graphics/front_pic_anims.h
Labels: branch: pokemon_expansion, category: pokemon, type: bug

#30 Updated types and stats in configuration file.
  include/constants/pokemon_config.h
  include/pokemon.h
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, type: feature

#521 Fixed indentation for various files.
  src/battle_script_commands.c
  src/battle_util.c
  src/data/text/move_descriptions.h
Labels: branch: battle_engine, type: documentation

#150 More Battle Config options
  include/constants/battle_config.h
  include/pokemon.h
  include/wild_encounter.h
  src/battle_interface.c
  src/battle_script_commands.c
  src/data/battle_moves.h
  src/wild_encounter.c
Labels: branch: battle_engine, type: feature

#540 Items corrections
  graphics/items/icon_palettes/honey.pal
  graphics/items/icons/honey.png
  src/data/items.h
  src/data/text/item_descriptions.h
Labels: branch: item_expansion, category: item, type: bug

#541 Removed unused labels for expanded TMs
  include/constants/items.h
Labels: branch: item_expansion, category: item

#15 Option to use Gen 3 Physical/Special split.
  include/battle.h
  include/battle_util.h
  include/constants/battle_config.h
  src/battle_ai_script_commands.c
  src/battle_main.c
  src/battle_util.c
  src/pokemon_summary_screen.c
Labels: branch: battle_engine, type: feature
