Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-10, with the labels that each got.

#1349 Implemented Gulp Missile
  asm/macros/battle_script.inc
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_anim.h
  include/constants/battle_config.h
  src/battle_anim.c
  src/battle_util.c
Labels: branch: battle_engine, type: feature, gen: 8, category: ability

#1587 Fix Shields Down
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine, type: feature, category: ability

#1704 Implemented Battle Bond
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_config.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, gen: 7, category: ability

#1708 Fixed Sleep talk being canceled by the user being asleep..
  src/battle_util.c
Labels: type: bug, branch: battle_engine, category: move effect

#1691 Sitrus Berry Gen4+ heal. Credit to SBird1337
  include/constants/item_config.h
  include/constants/item_effects.h
  src/data/items.h
  src/data/pokemon/item_effects.h
  src/pokemon.c
Labels: branch: item_expansion, category: item, type: data

#1714 Refactor Form Change Table Code
  include/constants/pokemon.h
  include/strings.h
  src/data/pokemon/form_change_tables.h
  src/party_menu.c
  src/pokemon.c
  src/strings.c
Labels: branch: pokemon_expansion, type: feature, category: pokemon, type: data

#1718 Assign FORM_ITEM_USE Constants
  src/data/items.h
Labels: branch: item_expansion, category: item, type: data

#1712 Fix instances where Gastro Acid is not affecting the ability
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: bug, branch: battle_engine, category: move effect

#1727 Fix Simple Beam
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine

#1715 Config for Shadow Tag vs Shadow Tag
  include/constants/battle_config.h
  src/battle_util.c
Labels: branch: battle_engine, category: ability

#1705 Fix Unnerve not canceling out type resist berries.
  src/battle_util.c
Labels: type: bug, branch: battle_engine, category: ability

#1729 AI handles dynamic move types
  src/battle_ai_main.c
Labels: branch: battle_engine, type: feature, category: ai

#1549 add last used ball
  graphics/battle_interface/ability_pop_up.pal
  graphics/battle_interface/last_used_ball_l.png
  graphics/battle_interface/last_used_ball_r.png
  include/battle.h
  include/battle_interface.h
  include/battle_util.h
  include/constants/battle_config.h
  include/item_use.h
  src/battle_controller_player.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/item_use.c
  src/new_game.c
Labels: branch: battle_engine, type: feature, gen: 7

#1732 Fix Soundproof cancelling out user's Perish Song
  data/battle_scripts_1.s
  src/battle_util.c
Labels: branch: battle_engine

#1738 Fix Safety Googles
  data/battle_scripts_1.s
  include/constants/battle_string_ids.h
  include/constants/hold_effects.h
  src/battle_ai_util.c
  src/battle_debug.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: bug, branch: battle_engine, category: item

#1733 Fix DoesSubstituteBlockMove calls
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine

#1648 PSS supports gender differences (kinda)
  src/pokemon_storage_system.c
Labels: branch: pokemon_expansion, type: feature, category: pokemon

#1773 Redo Prankster
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, category: ability

#1776 Expand move target field to u16
  include/battle.h
  include/battle_util.h
  include/constants/battle.h
  include/pokemon.h
  src/battle_ai_main.c
  src/battle_controller_player.c
  src/battle_util.c
Labels: branch: battle_engine

#1545 Implemented PLG move effects
  data/battle_scripts_1.s
  include/constants/battle_move_effects.h
  src/data/battle_moves.h
Labels: branch: battle_engine, type: feature, gen: 7, category: move effect, type: data

#1777 Fixed Female Pyroar's sprite position
  graphics/pokemon/pyroar/backf.png
Labels: type: bug, branch: pokemon_expansion, category: pokemon

#1771 Fix multi target moves
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine, category: move effect

#1739 Implemented Primal Reversion
  asm/macros/battle_script.inc
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  graphics/battle_anims/sprites/alpha_symbol.png
  graphics/battle_anims/sprites/omega_symbol.png
  graphics/battle_anims/sprites/primal_particles.png
  graphics/battle_interface/alpha_indicator.png
  graphics/battle_interface/omega_indicator.png
  include/battle.h
  include/battle_interface.h
  include/battle_scripts.h
  include/constants/battle_anim.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  include/constants/pokemon.h
  include/graphics.h
  src/battle_anim.c
  src/battle_anim_effects_3.c
  src/battle_anim_new.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/graphics.c
Labels: branch: battle_engine, category: pokemon, category: item

#1752 Quick Draw
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  src/battle_main.c
  src/battle_message.c
Labels: branch: battle_engine, gen: 8, category: ability

#1822 fix recycle and harvest
  data/battle_scripts_1.s
  include/battle.h
  include/battle_util.h
  src/battle_ai_main.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: bug, branch: battle_engine

#1824 Fix iteam healing after a failed move
  data/battle_scripts_1.s
  include/constants/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: bug, branch: battle_engine

#1829 Revert "Ex fix move bg tilemaps"
  graphics/battle_anims/backgrounds/dark_void.bin
  graphics/battle_anims/backgrounds/new/aeroblast_map.bin
  graphics/battle_anims/backgrounds/new/blackhole_eclipse.bin
  graphics/battle_anims/backgrounds/new/bloom_doom.bin
  graphics/battle_anims/backgrounds/new/bolt_strike.bin
  graphics/battle_anims/backgrounds/new/clangorous_soulblaze.bin
  graphics/battle_anims/backgrounds/new/dark_void.bin
  graphics/battle_anims/backgrounds/new/electric_terrain.bin
  graphics/battle_anims/backgrounds/new/fire1.bin
  graphics/battle_anims/backgrounds/new/focus_blast.bin
  graphics/battle_anims/backgrounds/new/giga_impact_opponent.bin
  graphics/battle_anims/backgrounds/new/giga_impact_player.bin
  graphics/battle_anims/backgrounds/new/grassy_terrain.bin
  graphics/battle_anims/backgrounds/new/high_speed.bin
  graphics/battle_anims/backgrounds/new/hydro_cannon.bin
  graphics/battle_anims/backgrounds/new/hydro_pump.bin
  graphics/battle_anims/backgrounds/new/inferno_overdrive.bin
  graphics/battle_anims/backgrounds/new/leaf_storm.bin
  graphics/battle_anims/backgrounds/new/malicious_moonsault.bin
  graphics/battle_anims/backgrounds/new/max_lightning.bin
  graphics/battle_anims/backgrounds/new/misty_terrain.bin
  graphics/battle_anims/backgrounds/new/neverending_nightmare.bin
  graphics/battle_anims/backgrounds/new/nightmare.bin
  graphics/battle_anims/backgrounds/new/psychic_terrain.bin
  graphics/battle_anims/backgrounds/new/rock_wrecker.bin
  graphics/battle_anims/backgrounds/new/shattered_psyche.bin
  graphics/battle_anims/backgrounds/new/sky_day.bin
  graphics/battle_anims/backgrounds/new/snuggle_forever.bin
  graphics/battle_anims/backgrounds/new/soulstealing_7star_strike.bin
  graphics/battle_anims/backgrounds/new/spacial_rend_opponent.bin
  graphics/battle_anims/backgrounds/new/spacial_rend_player.bin
  graphics/battle_anims/backgrounds/new/trick_room.bin
  graphics/battle_anims/backgrounds/new/twinkle_tackle.bin
  graphics/battle_anims/backgrounds/new/water_pulse.bin
  graphics/battle_anims/backgrounds/new/waterfall.bin
  graphics/battle_anims/backgrounds/new/zmove_activate.bin
  graphics/battle_anims/backgrounds/new/zmove_mountain.bin
  graphics/battle_anims/backgrounds/spacial_rend_opponent.bin
  graphics/battle_anims/backgrounds/spacial_rend_player.bin
Labels: type: bug, branch: battle_engine, category: move animation

#1826 Fix Mega Gardevoir's front sprite
  graphics/pokemon/mega_gardevoir/front.png
Labels: type: bug, branch: pokemon_expansion, category: pokemon

#1828 Implement Gorilla Tactics
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, gen: 8, category: ability

#1749 Wandering Spirit
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_interface.h
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  src/battle_interface.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, gen: 8, category: ability
