Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-11, with the labels that each got.

#1512 Utility Umbrella
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_util.h
  include/constants/battle_script_commands.h
  src/battle_anim_effects_3.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, type: feature, gen: 8, category: item

#1842 Added Gen 8 contest data
  include/constants/contest.h
  src/data/contest_moves.h
Labels: branch: battle_engine, type: data

#1750 Mirror Armor
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, gen: 8, category: ability

#1675 Using boolean for flags
  include/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: documentation, branch: battle_engine

#1849 Add Pastel Veil, fix Corrosion and Poison Touch
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_string_ids.h
  src/battle_ai_util.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: bug, branch: battle_engine, type: feature, gen: 5, gen: 7, gen: 8, category: ability

#1810 AI: Multi-strike moves, variable power moves, sleep check
  include/battle_util.h
  include/constants/pokemon.h
  src/battle_ai_util.c
  src/data/battle_moves.h
Labels: branch: battle_engine, category: ai

#1855 AI versions of CanPoisonType, CanBePoisoned and IsAbilityOnSide
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
Labels: branch: battle_engine, category: ai

#1851 Hunger Switch and Aura Wheel
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_config.h
  include/constants/battle_move_effects.h
  src/battle_main.c
  src/battle_util.c
  src/data/battle_moves.h
Labels: branch: battle_engine, gen: 8, category: move effect, category: ability

#1852 Update waterfall, trick room, & focus blast BG
  data/battle_anim_scripts.s
  graphics/battle_anims/backgrounds/dark_void.bin
  graphics/battle_anims/backgrounds/dark_void.pal
  graphics/battle_anims/backgrounds/dark_void.png
  graphics/battle_anims/backgrounds/new/dark_void.bin
  graphics/battle_anims/backgrounds/new/dark_void.pal
  graphics/battle_anims/backgrounds/new/dark_void.png
  graphics/battle_anims/backgrounds/new/focus_blast.bin
  graphics/battle_anims/backgrounds/new/focus_blast.png
  graphics/battle_anims/backgrounds/new/magic_room.pal
  graphics/battle_anims/backgrounds/new/trick_room.bin
  graphics/battle_anims/backgrounds/new/trick_room.pal
  graphics/battle_anims/backgrounds/new/trick_room.png
  graphics/battle_anims/backgrounds/new/waterfall.bin
  graphics/battle_anims/backgrounds/new/waterfall.pal
  graphics/battle_anims/backgrounds/new/waterfall.png
  graphics/battle_anims/backgrounds/new/wonder_room.pal
  graphics/battle_anims/backgrounds/trick_room.png
  graphics/battle_anims/backgrounds/trick_room_map.bin
  include/graphics.h
  src/battle_anim.c
  src/graphics.c
Labels: branch: battle_engine, category: move animation

#1856 Fix AI discouraging own magic guard
  src/battle_ai_main.c
Labels: branch: battle_engine, category: ai

#1850 Finish Relic Song's effect
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_moves.h
Labels: branch: battle_engine, gen: 5, category: move effect

#1724 Moves affected by Terrain: Camouflage, Secret Power & Terrain Pulse
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  include/battle.h
  include/battle_script_commands.h
  include/constants/battle.h
  include/constants/battle_config.h
  include/constants/battle_move_effects.h
  src/battle_anim_new.c
  src/battle_anim_utility_funcs.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_moves.h
Labels: branch: battle_engine, category: move effect

#1862 Dont have XX_UP_HIT effects trigger at end of battle
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine

#1875 Fix AI status logic and CanAttackerFaintTarget
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
Labels: type: bug, branch: battle_engine, category: ai

#1859 Gen 8 moves batch 1
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_moves.h
Labels: branch: battle_engine, type: feature, gen: 8, category: move effect

#1731 Ported New Ball Catch Rate Modifier Effects from Item Expansion
  include/constants/battle_config.h
  include/wild_encounter.h
  src/battle_main.c
  src/battle_script_commands.c
  src/wild_encounter.c
Labels: branch: battle_engine, type: feature, category: item

#1561 Item ID Revamp
  data/battle_scripts_2.s
  data/maps/AbandonedShip_HiddenFloorCorridors/scripts.inc
  data/maps/AbandonedShip_HiddenFloorRooms/map.json
  data/maps/LilycoveCity_ContestLobby/scripts.inc
  data/maps/PetalburgCity_Gym/scripts.inc
  data/maps/Route110/scripts.inc
  data/maps/RusturfTunnel/scripts.inc
  data/maps/SlateportCity_OceanicMuseum_2F/scripts.inc
  graphics/items/icon_palettes/devon_parts.pal
  graphics/items/icon_palettes/dowsing_machine.pal
  graphics/items/icon_palettes/leek.pal
  graphics/items/icon_palettes/upgrade.pal
  graphics/items/icons/devon_parts.png
  graphics/items/icons/dowsing_machine.png
  graphics/items/icons/key_to_room_1.png
  graphics/items/icons/key_to_room_2.png
  graphics/items/icons/key_to_room_4.png
  graphics/items/icons/key_to_room_6.png
  graphics/items/icons/leek.png
  graphics/items/icons/upgrade.png
  include/battle.h
  include/constants/battle_frontier.h
  include/constants/hold_effects.h
  include/constants/item_config.h
  include/constants/items.h
  include/graphics.h
  include/pokeball.h
  include/wild_encounter.h
  src/battle_ai_switch_items.c
  src/battle_anim_throw.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_tower.c
  src/battle_util.c
  src/berry.c
  src/berry_blender.c
  src/data/battle_frontier/battle_frontier_mons.h
  src/data/graphics/interface_pokeballs.h
  src/data/graphics/items.h
  src/data/item_icon_table.h
  src/data/items.h
  src/data/party_menu.h
  src/data/pokemon/base_stats.h
  src/data/pokemon/evolution.h
  src/data/pokemon/tmhm_learnsets.h
  src/data/text/item_descriptions.h
  src/item.c
  src/item_menu.c
  src/item_menu_icons.c
  src/item_use.c
  src/menu_helpers.c
  src/party_menu.c
  src/pokeball.c
  src/pokemon.c
  src/pokemon_summary_screen.c
  src/script_pokemon_util.c
  src/tv.c
  src/wild_encounter.c
Labels: branch: item_expansion, type: feature, gen: 4, gen: 5, gen: 6, gen: 7, gen: 8, category: item, type: data

#1878 Fix Big Pecks
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine, category: ability

#1883 add kings rock serene grace boost config
  include/constants/battle_config.h
  src/battle_util.c
Labels: branch: battle_engine, type: feature

#1884 Restored FRLG items
  include/constants/items.h
  include/graphics.h
  src/data/graphics/items.h
  src/data/item_icon_table.h
  src/data/items.h
  src/data/text/item_descriptions.h
Labels: branch: item_expansion, category: item, type: data

#1888 Fix Contrary Animation
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine, category: move animation

#1889 Update Brick Break with config
  include/constants/battle_config.h
  src/battle_script_commands.c
Labels: branch: battle_engine

#1894 Fixed Relic Song's SE
  data/battle_anim_scripts.s
Labels: type: bug, branch: battle_engine, category: move effect

#1892 wish update
  include/constants/battle_config.h
  src/battle_script_commands.c
Labels: branch: battle_engine

#1891 Fix Assault Vest's battle message and effect on Me First
  src/battle_message.c
  src/battle_util.c
Labels: branch: battle_engine

#1899 Fix Cherrim softlock
  src/battle_util.c
Labels: type: bug, branch: battle_engine

#1834 Add Neutralizing Gas
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/battle_util2.c
Labels: branch: battle_engine, gen: 8, category: ability

#1887 Fix Knock Off, add config
  include/constants/battle_config.h
  src/battle_util.c
Labels: type: bug, branch: battle_engine, gen: 6, category: move effect

#1905 Fix Dark Aura and Fairy Aura
  src/battle_util.c
Labels: type: bug, branch: battle_engine, gen: 6, category: ability

#1917 Implement Unseen Fist
  src/battle_util.c
Labels: branch: battle_engine, gen: 8, category: ability

#1876 Some more CanAIFaintTarget checks and other AI updates
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
Labels: branch: battle_engine, category: ai

#1919 Fix unseen fist check
  src/battle_util.c
Labels: branch: battle_engine

#1925 fix rampage cancelling
  include/constants/battle_config.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine

#1924 Fix wish
  include/battle.h
  src/battle_script_commands.c
Labels: branch: battle_engine

#1696 AI Item Usage Considers Move Choice
  include/battle_ai_main.h
  include/battle_ai_switch_items.h
  include/battle_ai_util.h
  include/battle_main.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_controller_opponent.c
  src/battle_controller_player_partner.c
  src/battle_main.c
Labels: branch: battle_engine, category: ai

#1933 Fix Brick Break
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine, category: move effect

#1954 revert ai item usage code
  include/battle_ai_main.h
  include/battle_ai_switch_items.h
  include/battle_main.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_controller_opponent.c
  src/battle_controller_player_partner.c
  src/battle_main.c
Labels: type: bug, branch: battle_engine, category: ai
