Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-05, with the labels that each got.

#1454 Minor syntax tweaks to HandleAction_UseMove
  src/battle_util.c
Labels: branch: battle_engine

#1442 Fixed Punk Rock
  src/battle_util.c
Labels: branch: battle_engine, category: ability, type: bug

#1451 Implemented Stench's battle effect
  src/battle_util.c
  src/data/text/abilities.h
Labels: branch: battle_engine, category: move effect, type: feature

#1406 Fix data corruption from HideMegaTriggerSprite
  src/battle_interface.c
Labels: branch: battle_engine, type: bug

#1443 Keen Eye evasion ignoring effect from Gen 6
  src/battle_script_commands.c
Labels: branch: battle_engine, category: ability, gen: 6, type: feature

#1432 Fix Thousand Arrows
  include/constants/pokemon.h
  src/battle_util.c
  src/data/battle_moves.h
Labels: branch: battle_engine, category: move effect, type: bug, type: data

#1412 restore and add noFlip values
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion

#1399 Corrected the order of actions in BattleScript_FirstChargingTurn
  data/battle_scripts_1.s
Labels: branch: battle_engine

#1308 Overhaul AI
  data/battle_ai_scripts.s
  include/battle.h
  include/battle_ai_main.h
  include/battle_ai_script_commands.h
  include/battle_ai_switch_items.h
  include/battle_ai_util.h
  include/battle_script_commands.h
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_ai.h
  include/constants/battle_config.h
  include/constants/hold_effects.h
  include/item.h
  ld_script.txt
  src/battle_ai_main.c
  src/battle_ai_script_commands.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_controller_link_opponent.c
  src/battle_controller_link_partner.c
  src/battle_controller_opponent.c
  src/battle_controller_player_partner.c
  src/battle_controller_recorded_opponent.c
  src/battle_controller_recorded_player.c
  src/battle_controllers.c
  src/battle_debug.c
  src/battle_factory.c
  src/battle_gfx_sfx_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/battle_util2.c
  src/data/trainers.h
  src/item.c
  src/trainer_hill.c
  sym_ewram.txt
Labels: branch: battle_engine, type: feature

#1415 Add Berry Hold Effects
  include/constants/hold_effects.h
  src/data/items.h
Labels: branch: item_expansion, category: item

#1396 Update Many moves' data to Gen 8 Standard
  include/constants/battle_config.h
  src/battle_script_commands.c
  src/data/battle_moves.h
Labels: branch: battle_engine, type: data
