Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-04, with the labels that each got.

#1435 Fixed Defeatist's check
  src/battle_util.c
Labels: branch: battle_engine, category: ability, gen: 5, type: bug

#1424 Ability Pop Up Apostrophes
  src/battle_interface.c
Labels: branch: battle_engine, category: ability

#1419 Added a check for the Mega Bracelet in CanMegaEvolve
  src/battle_util.c
Labels: branch: battle_engine, category: item, type: bug

#1425 Decapped nature names
  src/data/text/nature_names.h
Labels: branch: pokemon_expansion, type: data

#1430 Decapped the in battle type strings
  src/battle_main.c
Labels: branch: battle_engine, type: data

#1445 Added a config for the amount of HP recovered by healing items
  include/constants/item_config.h
  src/data/pokemon/item_effects.h
Labels: branch: item_expansion, category: item, gen: 7, type: feature

#1457 Fixed Blacephalon's species name
  src/data/text/species_names.h
Labels: branch: pokemon_expansion, gen: 7, type: data

#1431 Corrected the position of some icon sprites
  graphics/pokemon/eevee/icon.png
  graphics/pokemon/flareon/icon.png
  graphics/pokemon/leafeon/icon.png
Labels: branch: pokemon_expansion, category: pokemon, type: bug, type: data

#1418 Fix powder immunity for self-targeting moves
  src/battle_util.c
Labels: branch: battle_engine, category: move effect, type: bug

#1364 Fix Two-Turn Moves Failing Innapropriately
  src/battle_script_commands.c
Labels: branch: battle_engine, type: bug
