Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-12, with the labels that each got.

#1963 Fix AI protect struct reset
  src/battle_ai_main.c
Labels: type: bug, branch: battle_engine, category: ai

#1964 Renamed the Enigma Berries' constants
  data/maps/PetalburgCity_Gym/scripts.inc
  include/constants/items.h
  src/battle_ai_switch_items.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/berry.c
  src/berry_blender.c
  src/data/item_icon_table.h
  src/data/items.h
  src/data/object_events/berry_tree_graphics_tables.h
  src/data/text/item_descriptions.h
  src/item_menu.c
  src/item_menu_icons.c
  src/item_use.c
  src/menu_helpers.c
  src/party_menu.c
  src/pokemon.c
  src/pokemon_summary_screen.c
  src/script_pokemon_util.c
Labels: branch: item_expansion

#1951 Ice Types immune to Sheer Cold
  include/constants/battle_config.h
  src/battle_ai_main.c
  src/battle_util.c
Labels: branch: battle_engine, gen: 7

#1971 Remove extra spaces in battle strings
  src/battle_message.c
Labels: branch: battle_engine

#1997 Add Back Enigma Berry e-Reader Constant With Less Conflicts and Update Berry Data
  data/maps/PetalburgCity_Gym/scripts.inc
  include/constants/items.h
  include/graphics.h
  src/battle_ai_switch_items.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/berry.c
  src/berry_blender.c
  src/data/graphics/berries.h
  src/data/item_icon_table.h
  src/data/items.h
  src/data/object_events/berry_tree_graphics_tables.h
  src/data/object_events/object_event_graphics.h
  src/data/text/item_descriptions.h
  src/item_menu.c
  src/item_menu_icons.c
  src/item_use.c
  src/menu_helpers.c
  src/party_menu.c
  src/pokemon.c
  src/pokemon_summary_screen.c
  src/script_pokemon_util.c
Labels: branch: item_expansion, gen: 4, gen: 6, category: item, type: data

#1996 fix EVO_LEVEL_RAIN
  src/pokemon.c
Labels: type: bug, branch: pokemon_expansion

#1986 Added Steam Engine's overworld effect
  src/egg_hatch.c
Labels: branch: battle_engine, type: feature, category: ability

#1990 Improved battle debug number value changing
  src/battle_debug.c
Labels: branch: battle_engine, type: feature

#1965 Pokemon expansion debug
  include/battle_bg.h
  include/constants/pokemon_config.h
  include/constants/pokemon_debug.h
  include/decompress.h
  include/pokedex.h
  include/pokemon.h
  include/pokemon_debug.h
  include/pokemon_icon.h
  include/reset_rtc_screen.h
  ld_script.txt
  src/battle_anim_mons.c
  src/battle_bg.c
  src/battle_gfx_sfx_util.c
  src/data/pokemon/form_species_tables.h
  src/decompress.c
  src/pokemon.c
  src/pokemon_debug.c
  src/pokemon_icon.c
  src/pokemon_summary_screen.c
  src/reset_rtc_screen.c
Labels: branch: pokemon_expansion

#1978 Fixed the palette of Pikachu Partner Cap's back
  graphics/pokemon/pikachu/partner_cap/back.png
  graphics/pokemon/pikachu/partner_cap/front.png
Labels: branch: pokemon_expansion

#1935 Added gender differences for a couple of Gen. 4 Pokémon
  graphics/pokemon/bidoof/anim_frontf.png
  graphics/pokemon/bidoof/backf.png
  graphics/pokemon/kricketot/anim_frontf.png
  graphics/pokemon/kricketot/backf.png
  graphics/pokemon/kricketune/anim_frontf.png
  graphics/pokemon/kricketune/backf.png
  graphics/pokemon/shinx/anim_front.png
  graphics/pokemon/shinx/anim_frontf.png
  graphics/pokemon/shinx/back.png
  graphics/pokemon/shinx/backf.png
  graphics/pokemon/staraptor/anim_frontf.png
  graphics/pokemon/staravia/anim_frontf.png
  graphics/pokemon/staravia/backf.png
  graphics/pokemon/starly/anim_frontf.png
  graphics/pokemon/starly/backf.png
  include/graphics.h
  src/data.c
  src/data/graphics/pokemon.h
  src/data/pokemon_graphics/back_pic_table.h
  src/data/pokemon_graphics/front_pic_table.h
  src/data/pokemon_graphics/palette_table.h
  src/data/pokemon_graphics/shiny_palette_table.h
  src/pokemon_icon.c
Labels: branch: pokemon_expansion

#1994 Config for HP bars moving faster for higher HP amounts. Credit to Dat.H
  include/constants/battle_config.h
  src/battle_interface.c
Labels: branch: battle_engine

#1947 Updated Light Ball's effect and improved readability
  src/battle_util.c
Labels: branch: battle_engine

#1972 Removed weird spaces in 7 dex descriptions
  src/data/pokemon/pokedex_text.h
Labels: branch: pokemon_expansion

#1934 Fix Burmy form change
  include/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, gen: 4, category: pokemon

#2001 Using TAG_NONE in battle debug
  src/battle_debug.c
Labels: type: documentation, branch: battle_engine

#1952 Added Nature evolution methods
  include/constants/pokemon.h
  src/data/pokemon/evolution.h
  src/pokemon.c
Labels: branch: pokemon_expansion

#1698 Form changing by holding items
  include/constants/pokemon_config.h
  include/party_menu.h
  include/pokemon.h
  src/data/pokemon/form_change_table_pointers.h
  src/data/pokemon/form_change_tables.h
  src/party_menu.c
  src/pokemon.c
  src/pokemon_storage_system.c
  src/script_pokemon_util.c
Labels: branch: pokemon_expansion, type: feature

#1926 Update to item descriptions based on configured effect.
  src/data/text/item_descriptions.h
Labels: branch: item_expansion, category: item, type: data

#1582 Smart Wild AI Option
  include/battle_main.h
  include/constants/battle_config.h
  src/battle_ai_main.c
  src/battle_controller_opponent.c
  src/battle_main.c
Labels: branch: battle_engine, type: feature, category: ai

#1999 More battle-will-end checks on stat-changing damaging effects
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: branch: battle_engine

#1981 Fix aqua ring heal anim
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  include/constants/battle_anim.h
Labels: branch: battle_engine

#2004 Add sport effects back
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_config.h
  src/battle_ai_main.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine

#2007 Update Role Play
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: branch: battle_engine

#1980 Multi battle updates
  data/battle_scripts_1.s
  include/constants/battle_config.h
  src/battle_script_commands.c
Labels: branch: battle_engine
