Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-03, with the labels that each got.

#1342 Magic Room Affects Macho Brace/Power Item Speed Drop
  src/battle_main.c
Labels: branch: battle_engine, category: item

#1356 Update tailwind timer To Gen5
  include/constants/battle_config.h
  src/battle_script_commands.c
Labels: branch: battle_engine, category: move effect, gen: 5

#1295 Various Terrain Effects and Fixes
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  data/event_scripts.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_anim.h
  include/constants/battle_config.h
  src/battle_interface.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/overworld.c
Labels: branch: battle_engine, category: move animation, gen: 7, gen: 8, type: bug, type: feature

#1334 More Gen 8 Abilities
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_script_commands.h
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  src/battle_interface.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, category: ability, gen: 8

#1397 Fix Ghost Types Unable to Escape
  src/battle_util.c
Labels: branch: battle_engine, gen: 6

#1411 Fix Spiky Shield/Jump Kick freeze
  data/battle_scripts_1.s
Labels: branch: battle_engine

#1392 Fix HP Boxes not Dissapearing with Certian Moves
  include/battle_interface.h
  src/battle_anim.c
  src/battle_anim_throw.c
  src/battle_interface.c
Labels: branch: battle_engine, type: bug

#1338 Add Ripen and Finish Gen4 Berries
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_string_ids.h
  include/constants/hold_effects.h
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, category: ability, gen: 4, gen: 8
