Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-06, with the labels that each got.

#1423 Implement Body Press's effect
  data/battle_scripts_1.s
  include/constants/battle_move_effects.h
  src/battle_util.c
  src/data/battle_moves.h
Labels: branch: battle_engine, category: move effect, gen: 8, type: feature

#1498 Fixed B_X_ITEMS_BUFF boosting 2 stages only in Gen 7
  src/pokemon.c
Labels: branch: battle_engine, category: item, type: bug

#1492 Tweaked src/battle_debug.c to comply with the PE
  src/battle_debug.c
Labels: branch: battle_engine, type: feature

#1519 Fix FlameBurst
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: branch: battle_engine, category: move effect, type: bug

#1437 Tweaked Oblivious
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, category: ability, type: bug

#1528 Add back NUM_SPECIES to sSpeciesToBackAnimSet definition.
  src/pokemon_animation.c
Labels: branch: pokemon_expansion, category: pokemon, type: bug, type: data

#1446 Tweaked Inner Focus
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_script_commands.c
Labels: branch: battle_engine, category: ability, type: bug
