Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-01, with the labels that each got.

#1250 infestation between turn anim
  data/battle_anim_scripts.s
  include/constants/battle_anim.h
  src/battle_anim_throw.c
Labels: branch: battle_engine, category: move animation

#1289 Corrected Final Gambit's move data and tweaked its effect
  data/battle_scripts_1.s
  src/data/battle_moves.h
Labels: branch: battle_engine, category: move effect, gen: 5, type: bug, type: data

#1294 Added missing check to Flower Gift (offensive)
  src/battle_util.c
Labels: branch: battle_engine, category: ability, gen: 4, type: bug

#1272 Fix Jump Kick
  data/battle_scripts_1.s
  include/constants/battle_config.h
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
Labels: branch: battle_engine, category: move effect

#1262 Implemented various Gen. 8 abilities
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/constants/battle_string_ids.h
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, category: ability, gen: 8

#1340 Corrected Defines for Item Expansion-introduced Items in Gen 8 Species Data
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, category: pokemon, gen: 8, type: bug, type: data

#1298 Fix Early Mummy Activation
  src/battle_util.c
Labels: branch: battle_engine, category: ability, type: bug

#1314 battle_config.h tweaks
  include/battle_debug.h
  include/constants/battle_config.h
  src/battle_controller_player.c
  src/battle_util.c
Labels: branch: battle_engine, type: enhancement

#1242 Totem Boosts
  asm/macros/battle_script.inc
  asm/macros/event.inc
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  data/specials.inc
  include/battle.h
  include/battle_scripts.h
  include/constants/battle_anim.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  src/battle_anim_effects_1.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
Labels: branch: battle_engine, type: feature

#1253 Increase readability of too-long names
  data/battle_anim_scripts.s
  include/constants/moves.h
  src/battle_arena.c
  src/battle_dome.c
  src/battle_message.c
  src/battle_util.c
  src/data/battle_frontier/apprentice.h
  src/data/battle_frontier/battle_frontier_mons.h
  src/data/battle_frontier/battle_pyramid_level_50_wild_mons.h
  src/data/battle_frontier/battle_pyramid_open_level_wild_mons.h
  src/data/battle_frontier/battle_tent.h
  src/data/battle_frontier/trainer_hill.h
  src/data/battle_moves.h
  src/data/contest_moves.h
  src/data/contest_opponents.h
  src/data/easy_chat/easy_chat_group_move_1.h
  src/data/easy_chat/easy_chat_group_move_2.h
  src/data/easy_chat/easy_chat_words_by_letter.h
  src/data/pokemon/egg_moves.h
  src/data/pokemon/level_up_learnsets.h
  src/data/text/abilities.h
  src/data/text/move_descriptions.h
  src/data/text/move_names.h
  src/data/trainer_parties.h
  src/ereader_helpers.c
  src/frontier_util.c
Labels: branch: battle_engine, type: data

#1319 Updated the type-enhancing items' boost
  src/data/items.h
Labels: branch: item_expansion, category: item, type: data

#1345 Sync Battle Engine Defines for Crown Tundra Moves and Renamed Moves
  include/constants/moves.h
  src/battle_arena.c
  src/battle_dome.c
  src/battle_message.c
  src/data/battle_frontier/apprentice.h
  src/data/battle_frontier/battle_frontier_mons.h
  src/data/battle_frontier/battle_pyramid_level_50_wild_mons.h
  src/data/battle_frontier/battle_pyramid_open_level_wild_mons.h
  src/data/battle_frontier/battle_tent.h
  src/data/battle_frontier/trainer_hill.h
  src/data/battle_moves.h
  src/data/contest_moves.h
  src/data/contest_opponents.h
  src/data/easy_chat/easy_chat_group_move_1.h
  src/data/easy_chat/easy_chat_group_move_2.h
  src/data/easy_chat/easy_chat_words_by_letter.h
  src/data/pokemon/egg_moves.h
  src/data/pokemon/level_up_learnsets.h
  src/data/text/move_descriptions.h
  src/data/text/move_names.h
  src/data/trainer_parties.h
  src/ereader_helpers.c
  src/frontier_util.c
Labels: branch: pokemon_expansion, type: data

#1277 Reworked the effects of the X Items #2
  src/data/pokemon/item_effects.h
Labels: branch: item_expansion, category: item

#1276 Reworked the effects of the X Items #1
  include/battle_message.h
  include/constants/battle_config.h
  include/constants/item_effects.h
  src/battle_ai_switch_items.c
  src/battle_message.c
  src/party_menu.c
  src/pokemon.c
Labels: branch: battle_engine, category: item

#1346 Fix AI corruption bug.
  src/battle_controllers.c
Labels: branch: battle_engine, type: bug

#1259 anim particle configs false by default
  include/constants/battle_config.h
  src/battle_interface.c
Labels: branch: battle_engine

#1353 Updated berries' path on spritesheet_rules.mk
  spritesheet_rules.mk
Labels: branch: item_expansion, type: data

#1361 Included global.h into battle_config.h
  include/constants/battle_config.h
Labels: branch: battle_engine, type: bug

#1331 fix alolan form movesets
  src/data/pokemon/level_up_learnsets.h
Labels: branch: pokemon_expansion, type: data

#1315 Add Form Species ID Tables
  include/pokemon.h
  src/data/pokemon/form_species_table_pointers.h
  src/data/pokemon/form_species_tables.h
  src/pokemon.c
Labels: branch: pokemon_expansion, category: pokemon, type: data, type: feature

#1316 Add Form Species ID Tables
  include/pokemon.h
  src/data/pokemon/form_species_table_pointers.h
  src/data/pokemon/form_species_tables.h
  src/pokemon.c
Labels: branch: battle_engine, category: pokemon, type: data, type: feature

#1317 Add Form Species ID Tables
  include/pokemon.h
  src/data/pokemon/form_species_table_pointers.h
  src/data/pokemon/form_species_tables.h
  src/pokemon.c
Labels: branch: item_expansion, category: pokemon, type: data, type: feature

#1330 Made Alolan Marowak be affected by Thick Club
  src/battle_util.c
Labels: branch: battle_engine, category: item, category: pokemon, gen: 7

#1327 Add Fairy-type FRLG Icon to Fix Fairy TM Info Icon Being Blank
  graphics/interface_fr/menu.png
  src/menu.c
Labels: branch: battle_engine, type: bug

#1326 Add Fairy-type Icon to Fix Contest Move Viewing Crash
  graphics/types/fairy.png
  graphics_file_rules.mk
  src/pokemon_summary_screen.c
Labels: branch: item_expansion, type: bug

#1328 Add Fairy-type FRLG Icon to Fix Fairy TM Info Icon Being Blank
  graphics/interface_fr/menu.png
  src/menu.c
Labels: branch: pokemon_expansion, type: bug

#1329 Add Fairy-type FRLG Icon to Fix Fairy TM Info Icon Being Blank
  graphics/interface_fr/menu.png
  src/menu.c
Labels: branch: item_expansion, type: bug

#1311 Remove Special Handling for Deoxys
  include/battle_anim.h
  include/decompress.h
  include/pokemon.h
  include/pokemon_icon.h
  include/trainer_pokemon_sprites.h
  src/battle_anim_effects_3.c
  src/battle_anim_mons.c
  src/battle_dome.c
  src/battle_factory_screen.c
  src/battle_gfx_sfx_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/contest.c
  src/contest_painting.c
  src/contest_util.c
  src/data/party_menu.h
  src/decompress.c
  src/egg_hatch.c
  src/evolution_scene.c
  src/field_effect.c
  src/hall_of_fame.c
  src/mail.c
  src/menu.c
  src/mevent_801BAAC.c
  src/naming_screen.c
  src/party_menu.c
  src/pokeblock_feed.c
  src/pokedex.c
  src/pokemon.c
  src/pokemon_icon.c
  src/pokemon_storage_system.c
  src/pokemon_summary_screen.c
  src/pokenav_ribbons_2.c
  src/trade.c
  src/trainer_card.c
  src/trainer_pokemon_sprites.c
Labels: branch: pokemon_expansion, category: pokemon, type: bug, type: enhancement

#1322 Dex colors, mawile footprint, hoopa friendship, koffing abilities, config fix
  graphics/pokemon/mawile/footprint.png
  src/data/pokemon/base_stats.h
Labels: branch: pokemon_expansion, category: pokemon, type: data

#1354 Fix wrap-style move damage
  src/battle_util.c
Labels: branch: battle_engine, type: bug

#1320 update item effects, prices, names & descriptions
  src/data/items.h
  src/data/pokemon/item_effects.h
  src/data/text/item_descriptions.h
Labels: branch: item_expansion, category: item, type: data

#1321 remove redundant minimize interactions and add move config ifs
  src/data/battle_moves.h
Labels: branch: battle_engine, category: move effect, type: data

#1376 Fix Fire Blast Power
  src/data/battle_moves.h
Labels: branch: battle_engine, gen: 6, type: data

#1377 Update Thawing Moves
  src/battle_util.c
Labels: branch: battle_engine, category: move effect
