Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-02, with the labels that each got.

#1386 Added weather check for ability sand force
  src/battle_util.c
Labels: branch: battle_engine, category: ability

#1389 Removed trailing spaces from various files
  asm/macros/battle_script.inc
  data/battle_scripts_2.s
  src/battle_util2.c
Labels: branch: battle_engine

#1387 decap dex entries
  src/data/pokemon/pokedex_entries.h
  src/data/pokemon/pokedex_text.h
Labels: branch: pokemon_expansion, type: data
