Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2021-09, with the labels that each got.

#1221 Implement Pickpocket
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_script_commands.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_config.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  include/constants/hold_effects.h
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, type: feature, gen: 5, category: ability

#1618 Fix protect-like moves
  include/battle.h
  src/battle_script_commands.c
Labels: branch: battle_engine

#1622 Fix stacking effect on HOLD_EFFECT_DOUBLE_PRIZE
  include/battle.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine

#1580 Water Bubble Prevents Burn
  data/battle_scripts_1.s
  src/battle_pike.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, category: ability

#1579 Add Embargo Effect
  src/battle_ai_switch_items.c
  src/party_menu.c
Labels: branch: battle_engine, category: move effect

#1641 Fix Item Activation Messages
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine, category: item

#1642 Fix echoed voice power boost
  include/battle.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: bug, branch: battle_engine, category: move effect

#1537 Fix lag caused by ability pop-up while it's set to False
  data/battle_scripts_1.s
Labels: branch: battle_engine

#1643 better echoed voice power boost
  src/battle_util.c
Labels: branch: battle_engine

#1339 Add Several Hold Effects
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  include/constants/hold_effects.h
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, type: feature, category: item

#1355 Update Mental herb to Gen5
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_config.h
  include/constants/battle_string_ids.h
  include/constants/hold_effects.h
  src/battle_ai_main.c
  src/battle_message.c
  src/battle_util.c
  src/data/items.h
Labels: branch: battle_engine, type: feature, gen: 5, category: item

#1358 Electric and Misty Terrain Effects
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_ai_util.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, type: feature, gen: 7, category: move effect

#1650 Fix SPECIES_UNOWN
  src/pokemon.c
Labels: type: bug, branch: pokemon_expansion, category: pokemon

#1647 Show gender differences in evo scene
  include/decompress.h
  src/decompress.c
  src/evolution_scene.c
Labels: branch: pokemon_expansion, type: feature, category: pokemon

#1627 Update Mental Herb Description
  src/data/text/item_descriptions.h
Labels: branch: item_expansion, category: item, type: data

#1584 Port missing Gen8 icons from DPE
  graphics/pokemon/alcremie/icon.png
  graphics/pokemon/arctovish/icon.png
  graphics/pokemon/arctozolt/icon.png
  graphics/pokemon/arrokuda/icon.png
  graphics/pokemon/articuno/galarian/icon.png
  graphics/pokemon/barraskewda/icon.png
  graphics/pokemon/darmanitan/zen_mode/galarian/icon.png
  graphics/pokemon/dracovish/icon.png
  graphics/pokemon/dracozolt/icon.png
  graphics/pokemon/dustox/back.png
  graphics/pokemon/eternatus/eternamax/icon.png
  graphics/pokemon/glastrier/icon.png
  graphics/pokemon/greedent/icon.png
  graphics/pokemon/kubfu/icon.png
  graphics/pokemon/moltres/galarian/icon.png
  graphics/pokemon/pincurchin/icon.png
  graphics/pokemon/regidrago/icon.png
  graphics/pokemon/regieleki/icon.png
  graphics/pokemon/skwovet/icon.png
  graphics/pokemon/slowbro/galarian/icon.png
  graphics/pokemon/slowking/galarian/icon.png
  graphics/pokemon/slowpoke/galarian/icon.png
  graphics/pokemon/spectrier/icon.png
  graphics/pokemon/toxel/icon.png
  graphics/pokemon/urshifu/icon.png
  graphics/pokemon/zapdos/galarian/icon.png
  graphics/pokemon/zarude/dada/icon.png
  graphics/pokemon/zarude/icon.png
  include/graphics.h
  src/data/graphics/pokemon.h
  src/pokemon_icon.c
Labels: branch: pokemon_expansion, category: pokemon, type: data

#1664 Add fairy to dex search
  src/pokedex.c
Labels: branch: battle_engine

#1538 Support for double battles with only one pokemon
  include/battle_controllers.h
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controllers.c
  src/battle_main.c
  src/battle_message.c
Labels: branch: battle_engine, type: feature, gen: 7

#1588 Implement Burmy form change
  include/battle_util.h
  include/constants/battle_config.h
  src/battle_main.c
  src/battle_util.c
Labels: branch: battle_engine, type: feature, gen: 4, category: pokemon

#1548 Add Telepathy's damage prevention effect
  src/battle_util.c
Labels: branch: battle_engine, type: feature, gen: 5, category: ability

#1375 Form change table
  include/constants/pokemon.h
  include/constants/pokemon_config.h
  include/item_use.h
  include/party_menu.h
  include/pokemon.h
  src/data/pokemon/form_change_table_pointers.h
  src/data/pokemon/form_change_tables.h
  src/daycare.c
  src/item_use.c
  src/party_menu.c
  src/pokemon.c
Labels: branch: pokemon_expansion, type: feature, category: pokemon, type: data

#1416 Support form changes with PE
  src/data/items.h
Labels: branch: pokemon_expansion, type: feature, category: pokemon, category: item

#1652 Fix multihit moves vs damage reducing berries
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: type: bug, branch: battle_engine, type: feature

#1670 [ai] use expected value move dmg calculation
  include/battle_script_commands.h
  src/battle_ai_util.c
  src/battle_script_commands.c
Labels: branch: battle_engine, category: ai

#1672 Revert "Scald thaw flag config for Gen 5"
  src/data/battle_moves.h
Labels: type: bug, branch: battle_engine, category: move effect, type: data

#1378 Several Gen 8 Move Effects
  asm/macros/battle_script.inc
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  include/battle.h
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  src/battle_anim.c
  src/battle_bg.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_moves.h
Labels: branch: battle_engine, type: feature, gen: 8, category: move effect, type: data

#1360 Prankster Gen 7
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_config.h
  include/constants/battle_script_commands.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine, type: feature, gen: 7, category: ability

#1673 Gen8 move effects Fixes
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine

#1681 Dream ball checks comatose
  src/battle_script_commands.c
Labels: branch: item_expansion

#1607 Move mega indicator for lv 100 mons
  src/battle_interface.c
Labels: type: bug, branch: battle_engine

#1695 Enable Mental Herb Description Toggling Based on B_MENTAL_HERB Config
  src/data/text/item_descriptions.h
Labels: type: bug, branch: item_expansion, gen: 5, category: item, type: data
