Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2022-02, with the labels that each got.

#2049 Fix ability pop up for quick draw
  src/battle_main.c
Labels: branch: battle_engine

#2043 Psycho Shift uses CanBeStatused Functions
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: branch: battle_engine

#2052 Fix AI_WhoStrikesFirst
  src/battle_ai_util.c
Labels: branch: battle_engine, category: ai

#2056 Fixed Pokédex entry upon catch not properly handling gender differences
  src/pokedex.c
Labels: type: bug, branch: pokemon_expansion

#2067 move glare effectiveness exception to code
  data/battle_scripts_1.s
  src/battle_util.c
Labels: branch: battle_engine, category: ai

#2068 Fix struggle bug anim
  data/battle_anim_scripts.s
  include/battle_anim.h
  src/battle_anim_mon_movement.c
  src/battle_anim_new.c
  src/battle_anim_normal.c
Labels: branch: battle_engine, category: move animation
