Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2022-09, with the labels that each got.

#2290 Fixed ball multiplier fallthroughs
  include/constants/battle_config.h
  src/battle_script_commands.c
Labels: type: bug

#2324 fix ai switch semi invulnerable
  src/battle_ai_switch_items.c
Labels: battle-related

#2327 Config to limit the moves called by Metronome (by generation)
  include/constants/battle_config.h
  src/battle_script_commands.c
Labels: category:battle-related

#2336 fix natural cure, shed skin, early bird check in ShouldSwitchIfGameSt…
  src/battle_ai_switch_items.c
Labels: category:battle-related, category: ability

#2230 AI remembers Party mons
  include/battle.h
  include/battle_ai_main.h
  include/party_menu.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_debug.c
  src/battle_main.c
  src/battle_util2.c
  src/data/party_menu.h
  src/party_menu.c
Labels: category:battle-related, category: ai

#2117 ABILITY_SYMBIOSIS
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_config.h
  include/constants/battle_script_commands.h
  src/battle_message.c
  src/battle_script_commands.c
Labels: category:battle-related

#2355 Add overwrittenAbilities field
  include/battle.h
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category:battle-related, category: ai

#2121 Updated Teleport
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/constants/battle_config.h
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
Labels: category:battle-related

#2335 Multi battle interface fix
  src/battle_interface.c
  src/party_menu.c
Labels: category:battle-related, type: bugfix

#2339 Extrapolated Battle Arena's move Mind ratings
  src/battle_arena.c
Labels: category:battle-related, type: data
