Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2022-11, with the labels that each got.

#2319 Implemented Lures and Repel/Lure "use another" menu
  data/event_scripts.s
  data/scripts/repel.inc
  include/constants/item.h
  include/constants/item_config.h
  include/item_use.h
  include/strings.h
  src/data/items.h
  src/item_use.c
  src/pokemon.c
  src/script_menu.c
  src/strings.c
  src/wild_encounter.c
Labels: type: feature, category: items

#2391 Implemented Honey's Sweet Scent functionality
  include/fldeff.h
  include/item_use.h
  src/data/items.h
  src/fldeff_sweetscent.c
  src/item_use.c
Labels: category: items

#1676 Multi-hit refactor and Parental Bond
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_config.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  include/constants/pokemon.h
  src/battle_ai_main.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/battle_util.c
  src/data/battle_moves.h
  src/pokemon.c
Labels: category:battle-related

#2427 Fix abilities that raise target's stat after hit
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_util.c
Labels: type: bug, category:battle-related

#1927 Ported Gen 5 & 6 mon animations from Inclement Emerald + added most missing Gen 7 form animations
  src/data/pokemon_graphics/front_pic_anims.h
  src/pokemon.c
Labels: category: pokemon

#2433 Redo Bug Bite
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/battle_util.h
  src/battle_debug.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category:battle-related

#1589 Fix Bastiodon's second icon frame
  graphics/pokemon/bastiodon/icon.png
Labels: category: pokemon, type: data

#2464 add callnative bs func, convert metal burst dmg calc
  asm/macros/battle_script.inc
  src/battle_script_commands.c
Labels: category:battle-related

#2466 Set battler before BattleScript_TrainerSlideMsgRet
  src/battle_script_commands.c
Labels: category:battle-related
