Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2022-10, with the labels that each got.

#2365 Added missing Bide exception to Battle Arena Mind Points
  src/battle_arena.c
Labels: category:battle-related, type: bugfix

#2367 Special handling for Mew's Teachable moveset
  src/data/pokemon/teachable_learnsets.h
  src/pokemon.c
Labels: category: pokemon, type: feature

#2141 Triple kick power calc rework
  src/battle_util.c
Labels: category:battle-related

#2262 Fixed Mega Evolved Pokémon being able to get Friendship effects in battle
  include/battle_util.h
  include/pokemon.h
  src/battle_anim_new.c
  src/battle_script_commands.c
  src/battle_util.c
  src/pokemon.c
Labels: category:battle-related, type: bugfix

#2390 Improve psycho cut anim
  data/battle_anim_scripts.s
Labels: category:battle-related, category: move animation
