Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2022-01, with the labels that each got.

#1957 Ability Popup Fixes + Longer Ability Names config
  graphics/battle_interface/ability_pop_up.png
  include/battle_main.h
  include/battle_message.h
  include/constants/battle_config.h
  src/battle_interface.c
  src/data/text/abilities.h
Labels: branch: battle_engine

#2015 Updated README.md in master
  README.md
Labels: type: documentation, branch: master

#1508 Handle GetAbilityBySpecies edge cases
  include/constants/pokemon.h
  src/pokemon.c
Labels: type: bug, branch: pokemon_expansion, category: ability

#1976 [battle_engine] Moxie interaction with spread move/follow me fix
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine

#2037 Fix harvest activation msg
  src/battle_util.c
Labels: branch: battle_engine

#2038 Fixed Pokémon Expansion flag name in Battle Engine
  src/battle_script_commands.c
Labels: branch: battle_engine

#2014 Removed Jade Orb and Key Stone items
  include/constants/items.h
  include/graphics.h
  src/data/graphics/items.h
  src/data/item_icon_table.h
  src/data/items.h
  src/data/text/item_descriptions.h
Labels: branch: item_expansion

#1734 Magician
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
Labels: branch: battle_engine, category: ability

#1943 Turn order is recalculated after some actions
  include/constants/battle_config.h
  src/battle_util.c
Labels: branch: battle_engine

#2041 Optimized use of GetBattlerAbility
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: branch: battle_engine

#2042 Removed redundant checks for Unnerve
  src/battle_main.c
  src/item.c
Labels: type: documentation, branch: battle_engine

#1979 Wild mon natural enemies in double wild battles
  include/constants/battle_config.h
  src/battle_controller_opponent.c
Labels: branch: battle_engine
