Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2022-07, with the labels that each got.

#1992 Config for lost money after losing a battle
  data/battle_scripts_1.s
  include/constants/battle_config.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/overworld.c
Labels: branch: battle_engine

#2036 AI Optimizations
  include/battle.h
  include/battle_ai_main.h
  include/battle_ai_util.h
  include/battle_script_commands.h
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_ai.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_controller_opponent.c
  src/battle_controller_player_partner.c
  src/battle_debug.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/battle_util2.c
Labels: branch: battle_engine, status: on hold, category: ai

#2190 Z Moves for real
  asm/macros/battle_anim_script.inc
  asm/macros/battle_script.inc
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  graphics/battle_interface/z_move_trigger.png
  include/battle.h
  include/battle_ai_util.h
  include/battle_anim.h
  include/battle_controllers.h
  include/battle_interface.h
  include/battle_message.h
  include/battle_scripts.h
  include/battle_util.h
  include/battle_z_move.h
  include/constants/battle_anim.h
  include/constants/battle_config.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  include/constants/moves.h
  include/constants/z_move_effects.h
  include/data.h
  include/pokemon.h
  ld_script.txt
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_anim_effects_2.c
  src/battle_anim_effects_3.c
  src/battle_anim_electric.c
  src/battle_anim_fight.c
  src/battle_anim_fire.c
  src/battle_anim_flying.c
  src/battle_anim_ghost.c
  src/battle_anim_ground.c
  src/battle_anim_new.c
  src/battle_anim_poison.c
  src/battle_anim_rock.c
  src/battle_anim_status_effects.c
  src/battle_bg.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/battle_z_move.c
  src/data/battle_moves.h
  src/data/text/move_names.h
  src/pokemon.c
Labels: branch: battle_engine, gen: 7

#2178 fix GetAiLogicData logic
  src/battle_ai_main.c
Labels: branch: battle_engine

#1911 Added Egg breeding species overrides.
  include/constants/pokemon_config.h
  src/daycare.c
Labels: branch: pokemon_expansion, category: pokemon

#1928 Prevent Transforming Pokémon from changing forms
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: bug, branch: battle_engine
