Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2023-04, with the labels that each got.

#2858 Fix CalcMoveBasePower using battler addresses
  src/battle_util.c
Labels: category:battle-related

#2868 RandomElement for structured RNG
  include/random.h
  src/battle_script_commands.c
  src/random.c
  test/move_effect_dire_claw.c
  test/move_effect_tri_attack.c
  test/random.c
  test/test_battle.h
  test/test_runner_battle.c
Labels: type: bug, category:battle-related, type: feature, category: battle-tests

#2928 Fixed Budew evolution method
  src/data/pokemon/evolution.h
Labels: SQUASH ME
