Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2023-06, with the labels that each got.

#3045 Test Runner support for illegal abilities
  include/test_runner.h
  src/battle_main.c
  test/test_battle.h
  test/test_runner_battle.c
Labels: category: battle-mechanic, category: battle-tests

#3047 Fixes Hisuian mon not evolving + Fixed regional mon not breeding correctly
  include/constants/pokemon.h
  src/data/pokemon/evolution.h
Labels: category: pokemon, type: data, bugfix

#3048 Fixed Sylveon's evolution method
  include/constants/pokemon.h
  src/data/pokemon/evolution.h
  src/pokemon.c
Labels: category: pokemon, type: data, bugfix

#3049 Fixed selling TMs set as reusable
  src/item_menu.c
Labels: category: items, bugfix

#3065 At most one PASSES_RANDOMLY per test
  test/test_runner_battle.c
Labels: category: battle-tests

#2861 Add many gen 8 move animations
  data/battle_anim_scripts.s
  graphics/battle_anims/backgrounds/chloroblast.pal
  include/battle_anim.h
  include/battle_util.h
  include/constants/battle_anim.h
  include/constants/battle_anim_scripts.h
  include/graphics.h
  src/battle_anim_dragon.c
  src/battle_anim_effects_1.c
  src/battle_anim_effects_2.c
  src/battle_anim_effects_3.c
  src/battle_anim_electric.c
  src/battle_anim_flying.c
  src/battle_anim_ghost.c
  src/battle_anim_ice.c
  src/battle_anim_new.c
  src/battle_anim_rock.c
  src/battle_anim_status_effects.c
  src/battle_util.c
  src/data/battle_anim.h
  src/graphics.c
Labels: category: move animation

#3050 Easy Chat always shows words in uppercase
  gflib/string_util.c
  gflib/string_util.h
  include/union_room_chat.h
  src/easy_chat.c
  src/union_room_chat.c
Labels: type: cleanup

#2257 Config for LGPE friendship stat boost
  include/config/battle.h
  src/pokemon.c
Labels: category: pokemon
