Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2023-05, with the labels that each got.

#2873 Add mirror herb
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  test/hold_effect_mirror_herb.c
Labels: category:battle-related, category: items

#2698 Detect memory leaks in tests
  gflib/malloc.c
  gflib/malloc.h
  include/gba/defines.h
  include/global.h
  test/test.h
  test/test_battle.h
  test/test_runner.c
  test/test_runner_battle.c
Labels: category: battle-tests

#2849 Fix healthbox reappearing from B_ANIM_SWITCH_OUT_OPPONENT_MON
  src/battle_anim.c
Labels: category:battle-related, category: move animation

#2465 convert a few various to callnatives
  asm/macros/battle_script.inc
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  src/battle_z_move.c
Labels: category:battle-related

#2640 Replace launchtemplate and launchtask in battle anims
  asm/macros/battle_anim_script.inc
  data/battle_anim_scripts.s
  include/constants/battle_anim.h
Labels: category: move animation
