Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2023-02, with the labels that each got.

#2608 Fix Poison Gas Anim for MOVE_TARGET_BOTH
  data/battle_anim_scripts.s
  src/battle_anim_ice.c
Labels: category: move animation

#2602 Fix Round's Base Power calc, Add Turn order effects
  data/battle_scripts_1.s
  include/constants/battle.h
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_moves.h
Labels: category:battle-related

#2331 Config to have Shuckle make Berry Juice from Oran Berries
  include/config/pokemon.h
  src/battle_script_commands.c
  src/battle_z_move.c
Labels: category: pokemon, type: feature
