Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2024-09, with the labels that each got.

#5172 Convert 8 various to callnatives
  asm/macros/battle_script.inc
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  test/battle/hold_effect/red_card.c
Labels: category: battle-mechanic, type: cleanup

#5299 Fixes dmax move base power not seen by ai
  src/battle_util.c
Labels: category: battle-ai, bugfix

#5308 Moved ASSUMEs to inside GIVEN blocks
  test/battle/ability/anger_point.c
  test/battle/ability/galvanize.c
  test/battle/ability/harvest.c
  test/battle/ability/pickup.c
  test/battle/ability/wind_rider.c
  test/battle/form_change/status.c
  test/battle/gimmick/dynamax.c
  test/battle/move.c
  test/battle/move_effect/absorb.c
  test/battle/move_effect/accuracy_down.c
  test/battle/move_effect/dream_eater.c
  test/battle/move_effect/evasion_up.c
  test/battle/move_effect/future_sight.c
  test/battle/move_effect/heal_bell.c
  test/battle/move_effect/instruct.c
  test/battle/move_effect/reflect_type.c
  test/battle/move_effects_combined/triple_arrows.c
Labels: category: battle-tests

#5269 EV Caps and EV Items
  include/config/ev_caps.h
  include/constants/global.h
  include/ev_caps.h
  src/ev_caps.c
  src/pokemon.c
Labels: category: battle-mechanic, new-feature

#5281 Fix Slateport Battle Tent/Battle Factory
  include/frontier_util.h
  src/battle_arena.c
  src/battle_dome.c
  src/battle_factory.c
  src/battle_main.c
  src/battle_palace.c
  src/battle_pike.c
  src/battle_pyramid.c
  src/battle_tent.c
  src/battle_tower.c
  src/frontier_util.c
Labels: category: battle-mechanic, bugfix, category: overworld

#5317 Wonder Guard AI Fix
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#5307 Adds config to show target of ingame partner
  charmap.txt
  gflib/characters.h
  graphics/fonts/latin_normal.png
  include/config/battle.h
  src/battle_controller_player.c
  src/fonts.c
Labels: new-feature

#4767 (Default Off) Item Description Headers
  asm/macros/event.inc
  data/maps/MtChimney/scripts.inc
  data/maps/Route109_SeashoreHouse/scripts.inc
  data/scripts/berry_tree.inc
  data/scripts/obtain_item.inc
  include/config/overworld.h
  include/global.h
  include/overworld.h
  src/berry.c
  src/overworld.c
  src/shop.c
Labels: new-feature

#5310 AI_FLAG_SETUP_FIRST_TURN Rename and Clarifications
  docs/ai_flags.md
  include/constants/battle_ai.h
  src/battle_ai_main.c
  src/data/trainers.h
  src/data/trainers.party
Labels: type: documentation, category: battle-ai

#5306 Move battle anim arrays to C
  data/battle_anim_scripts.s
  include/battle_anim_scripts.h
  include/constants/battle_anim.h
  src/battle_anim.c
  src/battle_gfx_sfx_util.c
  src/data/moves_info.h
  src/pokemon.c
Labels: category: move animation

#5276 Converted Mechadoll text to COMPOUND_STRINGs
  data/event_scripts.s
  data/text/trick_house_mechadolls.inc
  include/strings.h
  src/data/script_menu.h
Labels: General

#5323 Fix Gen 3 foreseen and Beat Up damage type
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#5314 Converted PC strings to COMPOUND_STRINGs
  include/strings.h
  src/pokemon_storage_system.c
  src/strings.c
Labels: type: cleanup

#5162 new terrain bgs
  graphics/battle_anims/backgrounds/new_electric_terrain.bin
  graphics/battle_anims/backgrounds/new_electric_terrain.pal
  graphics/battle_anims/backgrounds/new_electric_terrain.png
  graphics/battle_anims/backgrounds/new_grassy_terrain.bin
  graphics/battle_anims/backgrounds/new_grassy_terrain.pal
  graphics/battle_anims/backgrounds/new_grassy_terrain.png
  graphics/battle_anims/backgrounds/new_misty_terrain.bin
  graphics/battle_anims/backgrounds/new_misty_terrain.pal
  graphics/battle_anims/backgrounds/new_misty_terrain.png
  graphics/battle_anims/backgrounds/new_psychic_terrain.bin
  graphics/battle_anims/backgrounds/new_psychic_terrain.pal
  graphics/battle_anims/backgrounds/new_psychic_terrain.png
  src/graphics.c
Labels: General

#5155 Fixes minor wrong order in AI_CalcDamage and adds Tera Blast/Tera Storm
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#5325 Grass/Water Pledge Swamp Animation + Sea of Fire animation tweak
  data/battle_anim_scripts.s
  graphics/battle_anims/backgrounds/swampswizzle.bin
  graphics/battle_anims/backgrounds/swampswizzle.pal
  graphics/battle_anims/backgrounds/swampswizzle.png
  include/constants/battle_anim.h
  include/graphics.h
  src/data/battle_anim.h
  src/graphics.c
Labels: category: move animation

#5330 Fix some Pledge move combo issues
  src/battle_script_commands.c
  test/battle/move_effect/pledge.c
Labels: category: move effect, bugfix

#5339 Pledge fail into opponent pledge loop fix
  src/battle_script_commands.c
  test/battle/move_effect/pledge.c
Labels: category: move effect, bugfix

#5340 Fixes Pledge move combo timeout if frozen
  src/battle_util.c
  test/battle/move_effect/pledge.c
Labels: category: move effect, bugfix

#5341 Another Pledge fix, Powder this time
  src/battle_util.c
  test/battle/move_effect/pledge.c
Labels: category: move effect, bugfix

#5351 Fixed Tera Shift description
  src/data/abilities.h
Labels: category: ability, type: cleanup

#5080 Update Move Category icons
  graphics/interface/category_icons.png
  src/pokemon_summary_screen.c
Labels: General

#5349 Add Composite AI Flags to Docs
  docs/ai_flags.md
Labels: type: documentation, category: battle-ai

#5301 Adds callnative for soundproofcheck to addtionally check the flag
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: category: move effect, bugfix

#5347 Fixed loading into the wrong version of a map after saving in areas with multiple layouts
  src/overworld.c
Labels: bugfix, category: overworld

#5300 Fixes berries missing timing
  src/battle_util.c
  test/battle/hold_effect/restore_hp.c
  test/battle/hold_effect/speed_up.c
Labels: category: battle-mechanic, bugfix

#5354 Removes redundant moveTargetType ai function
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_util.c
Labels: type: cleanup

#5356 AI burn score fixes and improvements
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix, augPollBug

#5334 Liam follower fixes
  graphics/pokemon/ambipom/overworld.png
  graphics/pokemon/crobat/overworld.png
  graphics/pokemon/donphan/overworld.png
  graphics/pokemon/flygon/overworld.png
  graphics/pokemon/grovyle/overworld.png
  graphics/pokemon/igglybuff/overworld.png
  graphics/pokemon/ledian/overworld.png
  graphics/pokemon/ledyba/overworld.png
  graphics/pokemon/mantine/overworld.png
  graphics/pokemon/marshtomp/overworld.png
  graphics/pokemon/meganium/overworld.png
  graphics/pokemon/mightyena/overworld.png
  graphics/pokemon/miltank/overworld.png
  graphics/pokemon/prinplup/overworld.png
  graphics/pokemon/raikou/overworld.png
  graphics/pokemon/roserade/overworld.png
  graphics/pokemon/skarmory/overworld.png
  graphics/pokemon/skiploom/overworld.png
  graphics/pokemon/spinarak/overworld.png
  graphics/pokemon/stunky/overworld.png
  graphics/pokemon/torkoal/overworld.png
  graphics/pokemon/wooper/overworld.png
  graphics/pokemon/xatu/overworld.png
  graphics/pokemon/yanma/overworld.png
Labels: category: pokemon, category: overworld

#5363 Reset item flags on new game
  src/new_game.c
Labels: bugfix, category: overworld

#5362 AI frostbite score fixes and improvements
  src/battle_ai_util.c
Labels: category: battle-ai

#5178 Add in-battle shadows underneath all enemy battlers
  graphics/battle_interface/enemy_mon_shadows_sized.png
  include/battle.h
  include/battle_interface.h
  include/config/battle.h
  include/constants/event_objects.h
  include/graphics.h
  include/pokemon.h
  include/pokemon_sprite_visualizer.h
  src/battle_anim_effects_1.c
  src/battle_anim_smokescreen.c
  src/battle_controller_opponent.c
  src/battle_controller_recorded_opponent.c
  src/battle_gfx_sfx_util.c
  src/battle_script_commands.c
  src/data/pokemon/species_info.h
  src/data/pokemon/species_info/gen_1_families.h
  src/data/pokemon/species_info/gen_2_families.h
  src/data/pokemon/species_info/gen_3_families.h
  src/data/pokemon/species_info/gen_4_families.h
  src/data/pokemon/species_info/gen_5_families.h
  src/data/pokemon/species_info/gen_6_families.h
  src/data/pokemon/species_info/gen_7_families.h
  src/data/pokemon/species_info/gen_8_families.h
  src/data/pokemon/species_info/gen_9_families.h
  src/graphics.c
  src/pokemon_sprite_visualizer.c
Labels: new-feature

#5366 IsMoveEffectInPlus stat Id fix
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#5364 Fixes with Pledge combos and absorption abilities
  src/battle_util.c
  test/battle/move_effect/pledge.c
Labels: category: battle-mechanic, bugfix

#5360 Improve AI's Skill Swap handling in double battles
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai_check_viability.c
Labels: category: battle-ai, bugfix

#5371 Switch AI hitsToKO considers one shot prevention
  src/battle_ai_switch_items.c
Labels: category: battle-ai

#5374 Some Strings were switched
  src/pokemon_storage_system.c
Labels: bugfix, type: cleanup

#5373 Adds CanEndureHit AI function
  src/battle_ai_util.c
Labels: category: battle-ai

#5375 Switch AI hitsToKO considers Disguise
  src/battle_ai_switch_items.c
Labels: category: battle-ai, type: cleanup

#5377 Fixes Multi Hit moves removing destiny bond flag in the middle of attack
  src/battle_script_commands.c
  test/battle/move_effect/destiny_bond.c
  test/battle/move_effect/multi_hit.c
Labels: category: battle-mechanic, bugfix

#5309 Custom anim table follower macro & Farfetch'd example
  include/event_object_movement.h
  src/data/object_events/object_event_anims.h
  src/data/pokemon/species_info.h
  src/data/pokemon/species_info/gen_1_families.h
Labels: category: overworld

#5370 Fixes Powder (status) interactions + tests
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/config/battle.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/dancer.c
  test/battle/gimmick/zmove.c
  test/battle/move_effect/pledge.c
  test/battle/move_effect/powder.c
Labels: category: battle-mechanic, category: move effect, category: battle-tests

#5381 Fixes Defog used by the wrong side when there is a Substitue and Screen
  src/battle_script_commands.c
  test/battle/move_effect/defog.c
Labels: category: battle-mechanic, bugfix

#5383 ShouldSwitchIfWonderGuard tests and cleanup
  include/random.h
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, type: cleanup, category: battle-tests

#5385 Enable asym for followers issue #5382
  graphics/pokemon/scovillain/overworld.png
  graphics/pokemon/slowbro/galarian/overworld.png
  graphics/pokemon/tinkaton/overworld.png
  src/data/pokemon/species_info/gen_1_families.h
  src/data/pokemon/species_info/gen_9_families.h
Labels: category: pokemon, category: overworld

#5358 fixes Micle Berry not increasing accuracy on the next turn
  include/battle.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/hold_effect/micle_berry.c
Labels: category: items, bugfix

#5367 new animations for many moves more details in description
  data/battle_anim_scripts.s
  graphics/battle_anims/sprites/spirit_shackle_arrow.png
  include/battle_anim.h
  src/battle_anim_bug.c
  src/battle_anim_effects_1.c
  src/battle_anim_effects_3.c
  src/battle_anim_fight.c
  src/battle_anim_flying.c
  src/battle_anim_mon_movement.c
  src/battle_anim_new.c
  src/battle_anim_rock.c
Labels: category: move animation

#5378 Cleaned up a bit of code with GetBattlerPartyData
  include/battle.h
  src/battle_anim_mons.c
  src/battle_debug.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/pokeball.c
  src/type_icons.c
Labels: type: cleanup

#5359 Merrp merge (September 9th)
  include/config/overworld.h
  include/constants/event_objects.h
  include/event_object_movement.h
  src/data/object_events/movement_type_func_tables.h
  src/event_object_movement.c
Labels: type: sync

#5390 Gourgeist and Pumpkaboo follower sizes
  graphics/pokemon/gourgeist/large/overworld.png
  graphics/pokemon/gourgeist/overworld.png
  graphics/pokemon/gourgeist/small/overworld.png
  graphics/pokemon/gourgeist/super/overworld.png
  graphics/pokemon/pumpkaboo/large/overworld.png
  graphics/pokemon/pumpkaboo/overworld.png
  graphics/pokemon/pumpkaboo/small/overworld.png
  graphics/pokemon/pumpkaboo/super/overworld.png
Labels: category: pokemon, category: overworld

#5357 Version 1.9.2
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/02_battle_ai_issues.yaml
  .github/ISSUE_TEMPLATE/04_other_errors.yaml
  CHANGELOG.md
  README.md
  docs/SUMMARY.md
  docs/changelogs/1.9.x/1.9.0.md
  docs/changelogs/1.9.x/1.9.1.md
  docs/changelogs/1.9.x/1.9.2.md
  docs/changelogs/template.md
  include/constants/expansion.h
Labels: type: sync

#5393 Remove potential uninitialized behavior
  src/battle_script_commands.c
Labels: type: cleanup

#5392 Fallback on default BW map pop-up theme to reduce potential for error
  src/map_name_popup.c
Labels: bugfix

#5397 Fixed corruption of the next turn used move caused by Scale Shot
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_script_commands.c
  test/battle/move_effect/multi_hit.c
Labels: category: battle-mechanic, bugfix, type: cleanup

#5391 Ogerpon masks were missing their hold effects
  include/constants/hold_effects.h
  src/battle_debug.c
  src/battle_util.c
  src/data/items.h
  test/battle/hold_effect/ogerpon_mask.c
Labels: category: items, bugfix

#5402 Fixes Spiky Shield Counter interaction
  src/battle_script_commands.c
  test/battle/move_effect/protect.c
Labels: category: battle-mechanic, bugfix

#5054 Add AUTO_SCROLL_TEXT and NUM_FRAMES_AUTO_SCROLL_DELAY
  gflib/text.c
  include/config/general.h
Labels: new-feature, General

#5403 Simplify HP Logic
  src/pokemon.c
Labels: type: cleanup

#5044 Add `OW_AUTO_SIGNPOST` and associated metatile behaviors
  data/event_scripts.s
  data/specials.inc
  graphics/text_window/signpost.bin
  graphics/text_window/signpost.png
  include/config/overworld.h
  include/constants/metatile_behaviors.h
  include/event_scripts.h
  include/field_control_avatar.h
  include/field_message_box.h
  include/graphics.h
  include/menu.h
  include/metatile_behavior.h
  include/script.h
  include/text_window.h
  src/field_control_avatar.c
  src/field_message_box.c
  src/field_specials.c
  src/graphics.c
  src/menu.c
  src/metatile_behavior.c
  src/overworld.c
  src/scrcmd.c
  src/script.c
  src/text_window.c
Labels: type: feature branch merge, category: overworld

#5324 Converted berry and PokeBlock strings to COMPOUND_STRINGs
  include/strings.h
  src/berry_tag_screen.c
  src/pokeblock.c
  src/pokeblock_feed.c
  src/strings.c
Labels: type: cleanup

#5415 VS Seeker documentation fix
  src/item_use.c
Labels: type: documentation, type: cleanup

#4816 Mega evolution animation is a little smoother
  data/battle_anim_scripts.s
  src/battle_anim_effects_3.c
Labels: category: move animation

#5166 Removed FRONTIER_BRAIN_SPRITES and updated TRAINER_SPRITE, TRAINER_BACK_SPRITE, and TRAINER_CLASS
  data/event_scripts.s
  data/text/frontier_brain.inc
  include/strings.h
  src/battle_main.c
  src/data/graphics/trainers.h
  src/frontier_util.c
Labels: type: refactor

#5420 Clean up Unseen Fist Check
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#5188 Adds SAVE_TYPE_ERROR_SCREEN
  include/config/general.h
  src/main.c
  src/save_failed_screen.c
Labels: new-feature, General

#5429 Merge level_caps and ev_caps into one caps file
  include/caps.h
  include/config/caps.h
  include/config/ev_caps.h
  include/constants/global.h
  include/ev_caps.h
  src/battle_controller_player.c
  src/battle_interface.c
  src/battle_script_commands.c
  src/caps.c
  src/daycare.c
  src/ev_caps.c
  src/party_menu.c
  src/pokemon.c
Labels: type: cleanup

#5433 Use move effect for some moves instead of ids
  src/battle_main.c
Labels: category: move effect

#5278 Added MB_X_Y_STAIR_WARP metatile behaviors
  include/constants/metatile_behaviors.h
  include/field_screen_effect.h
  include/global.fieldmap.h
  include/metatile_behavior.h
  include/overworld.h
  src/field_control_avatar.c
  src/field_player_avatar.c
  src/field_screen_effect.c
  src/metatile_behavior.c
  src/overworld.c
Labels: new-feature, type: feature branch merge, category: overworld

#5440 Add ShouldSwitch result to AiLogicData
  include/battle.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_main.c
Labels: category: battle-ai, type: refactor

#5442 Wake-Up Slap test typo
  test/battle/move_effect/wake_up_slap.c
Labels: type: cleanup, category: battle-tests

#5443 Fixed test assumption fail summary fields using more memory than needed
  tools/mgba-rom-test-hydra/main.c
Labels: type: cleanup, category: battle-tests

#5439 Add Gen 1 Crit Chance
  src/battle_script_commands.c
Labels: category: battle-mechanic, new-feature

#5246 Adds Commander and Order Up
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_script_commands.h
  include/battle_scripts.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  include/constants/battle_string_ids.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/abilities.h
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ability/commander.c
  test/battle/hold_effect/eject_button.c
  test/battle/move_effect_secondary/order_up.c
Labels: category: move effect, category: ability

#5444 Fix Jubilife Muffin full heal effect + better full heal tests
  src/data/items.h
  test/battle/item_effect/cure_status.c
Labels: bugfix, category: battle-tests

#4836 Add Sideways Stairs
  include/config/overworld.h
  include/constants/event_object_movement.h
  include/constants/metatile_behaviors.h
  include/event_object_movement.h
  include/field_player_avatar.h
  include/global.fieldmap.h
  include/metatile_behavior.h
  src/bike.c
  src/data/object_events/movement_action_func_tables.h
  src/event_object_movement.c
  src/field_control_avatar.c
  src/field_player_avatar.c
  src/metatile_behavior.c
  src/scrcmd.c
Labels: new-feature, type: feature branch merge
