Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2024-08, with the labels that each got.

#5073 Removes unnecessary checks for Shield Dust and Covert Cloak
  src/battle_script_commands.c
  test/battle/ability/shield_dust.c
  test/battle/hold_effect/covert_cloak.c
Labels: category: items, category: ability, type: cleanup

#4967 FRLG+ whiteout message
  data/event_scripts.s
  include/config/overworld.h
  include/constants/heal_locations.h
  include/event_scripts.h
  include/field_screen_effect.h
  include/heal_location.h
  include/strings.h
  src/data/heal_locations_pkm_center.h
  src/field_screen_effect.c
  src/heal_location.c
  src/overworld.c
  src/strings.c
Labels: category: text

#5071 Fixed stray transparent pixels in Urshifu sprites
  graphics/pokemon/urshifu/front.png
  graphics/pokemon/urshifu/rapid_strike_style/front.png
Labels: category: sprite-issue

#4780 Fix speed ties
  include/battle.h
  include/battle_main.h
  src/battle_ai_main.c
  src/battle_main.c
  test/battle/ability/comatose.c
  test/battle/move.c
Labels: bugfix

#5099 Doesn't compile on some compilers
  include/constants/pokemon.h
Labels: bugfix

#5098 Pret Merge (5th of August)
  src/landmark.c
Labels: type: sync

#5093 Fixes Defiant interaction with Court Changed Sticky Web + Fickle Beam description
  data/battle_scripts_1.s
  src/battle_util.c
  src/data/moves_info.h
  test/battle/ability/defiant.c
Labels: category: battle-mechanic, bugfix

#5108 Fixed the Giratina origin overworld shiny pal
  graphics/pokemon/giratina/origin/overworld_shiny.pal
Labels: category: sprite-issue, category: overworld

#5081 Move Relearner now displays move category
  include/config/battle.h
  include/move_relearner.h
  src/menu_specialized.c
  src/move_relearner.c
Labels: General

#5094 Added missing Move Effect TODO tests - Volume C
  test/battle/gimmick/dynamax.c
  test/battle/move_effect/calm_mind.c
  test/battle/move_effect/camouflage.c
  test/battle/move_effect/captivate.c
  test/battle/move_effect/change_type_on_item.c
  test/battle/move_effect/charge.c
  test/battle/move_effect/chilly_reception.c
  test/battle/move_effect/clangorous_soul.c
  test/battle/move_effect/coaching.c
  test/battle/move_effect/coil.c
  test/battle/move_effect/conversion.c
  test/battle/move_effect/conversion_2.c
  test/battle/move_effect/copycat.c
  test/battle/move_effect/corrosive_gas.c
  test/battle/move_effect/cosmic_power.c
  test/battle/move_effect/counter.c
  test/battle/move_effect/court_change.c
Labels: category: battle-tests

#5089 Fix Switch AI Bug: AI never switching out when it could be OHKO'd
  include/random.h
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#5110 Merrp merge (7th of August)
  include/battle_tower.h
  src/battle_tower.c
  src/data/text/follower_messages.h
  src/follower_helper.c
Labels: type: sync

#5117 Fixed non-grass Ivy Cudgel breaking battle UI
  src/data/battle_anim.h
Labels: category: move animation, bugfix

#5084 Dynamic Move Types in Summary Screen/Battle
  include/battle_ai_switch_items.h
  include/config/pokemon.h
  include/pokemon.h
  src/battle_ai_switch_items.c
  src/battle_controller_player.c
  src/pokemon.c
  src/pokemon_summary_screen.c
Labels: new-feature

#5037 Created COMPOUND_STRINGs for default player names
  include/strings.h
  src/main_menu.c
  src/strings.c
Labels: category: text

#4963 Changed single-use berry blender strings to be COMPOUND_STRINGs
  src/berry_blender.c
Labels: category: text

#5122 trainerproc: Parse line markers
  Makefile
  src/data/trainers.h
  tools/trainerproc/main.c
Labels: category: battle-mechanic, bugfix

#5115 Made perfect IV count into a granular setting
  include/constants/pokemon.h
  include/pokemon.h
  src/data/pokemon/species_info.h
  src/data/pokemon/species_info/gen_1_families.h
  src/data/pokemon/species_info/gen_2_families.h
  src/data/pokemon/species_info/gen_3_families.h
  src/data/pokemon/species_info/gen_4_families.h
  src/data/pokemon/species_info/gen_5_families.h
  src/data/pokemon/species_info/gen_6_families.h
  src/data/pokemon/species_info/gen_7_families.h
  src/data/pokemon/species_info/gen_8_families.h
  src/data/pokemon/species_info/gen_9_families.h
  src/pokemon.c
Labels: category: pokemon, type: data, type: cleanup

#5129 Fixes Zigzgoon battle being able to use a Gimmick
  src/battle_dynamax.c
  src/battle_terastal.c
Labels: category: battle-mechanic, bugfix

#5127 Adjusted AI calcs for Triple Kick Effect
  src/battle_ai_util.c
  src/battle_util.c
Labels: category: battle-ai

#5132 Dynamic move type clean up
  include/pokemon.h
  src/pokemon.c
Labels: bugfix, type: cleanup

#5131 Add B_SHOW_TYPES and cleaned up IsDoubleBattle
  gflib/sprite.c
  gflib/sprite.h
  graphics/types/battle_icons1.pal
  graphics/types/battle_icons1.png
  graphics/types/battle_icons2.pal
  graphics/types/battle_icons2.png
  include/battle.h
  include/battle_anim.h
  include/battle_controllers.h
  include/config/battle.h
  include/constants/battle.h
  include/data.h
  include/graphics.h
  include/type_icons.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_anim_effects_1.c
  src/battle_anim_effects_2.c
  src/battle_anim_mons.c
  src/battle_anim_new.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controllers.c
  src/battle_gfx_sfx_util.c
  src/battle_gimmick.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_util.c
  src/battle_util2.c
  src/data/types_info.h
  src/graphics.c
  src/party_menu.c
  src/pokemon.c
  src/tv.c
  src/type_icons.c
Labels: category: battle-mechanic, new-feature

#4994 Remove agbcc
  .github/workflows/build.yml
  INSTALL.md
  Makefile
  common_syms/AgbRfu_LinkManager.txt
  common_syms/agb_flash.txt
  common_syms/apprentice.txt
  common_syms/battle_anim_throw.txt
  common_syms/battle_controllers.txt
  common_syms/battle_factory_screen.txt
  common_syms/battle_main.txt
  common_syms/battle_tower.txt
  common_syms/berry_blender.txt
  common_syms/bg.txt
  common_syms/contest.txt
  common_syms/contest_painting.txt
  common_syms/ereader_screen.txt
  common_syms/evolution_scene.txt
  common_syms/faraway_island.txt
  common_syms/field_camera.txt
  common_syms/field_control_avatar.txt
  common_syms/field_specials.txt
  common_syms/fieldmap.txt
  common_syms/image_processing_effects.txt
  common_syms/intro.txt
  common_syms/librfu_rfu.txt
  common_syms/librfu_sio32id.txt
  common_syms/librfu_stwi.txt
  common_syms/link.txt
  common_syms/link_rfu_2.txt
  common_syms/list_menu.txt
  common_syms/load_save.txt
  common_syms/m4a.txt
  common_syms/main.txt
  common_syms/mauville_old_man.txt
  common_syms/overworld.txt
  common_syms/party_menu.txt
  common_syms/pokedex.txt
  common_syms/pokedex_cry_screen.txt
  common_syms/random.txt
  common_syms/rtc.txt
  common_syms/save.txt
  common_syms/sound.txt
  common_syms/sprite.txt
  common_syms/start_menu.txt
  common_syms/task.txt
  common_syms/text.txt
  common_syms/trainer_see.txt
  common_syms/tv.txt
  common_syms/window.txt
  ld_script.ld
  sym_bss.txt
  sym_common.txt
  sym_ewram.txt
Labels: General, type: refactor

#5140 Fixes Stomping Tantrum effect not doubling power in certain situations
  src/battle_script_commands.c
  test/battle/move_effect/stomping_tantrum.c
Labels: category: move effect, bugfix

#5145 Fixes Purifying Salt not halving dmg for dynamic move types
  src/battle_util.c
  test/battle/ability/purifying_salt.c
Labels: category: ability, bugfix

#5092 Made the speed tie test use PASSES_RANDOMLY
  test/battle/move.c
  test/test_runner_battle.c
Labels: category: battle-tests

#5161 Set new anim particles by default to off
  include/config/battle.h
Labels: category: move animation

#5156 Removed some hardcoding of move IDs + Gen4/5 Defog
  include/config/battle.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_script_commands.c
  src/battle_util.c
  src/pokemon.c
  test/battle/move_effect/defog.c
Labels: category: battle-mechanic, type: cleanup

#5059 Added guide to running documentation website locally
  docs/SUMMARY.md
  docs/local_mdbook/index.md
  docs/local_mdbook/ubuntu_WSL.md
Labels: type: documentation

#5159 some gen 9 move anims + fickle beam rework
  asm/macros/battle_script.inc
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  graphics/battle_anims/sprites/beam.png
  graphics/battle_anims/sprites/blood_moon.png
  graphics/battle_anims/sprites/purple_chain.png
  graphics/battle_anims/sprites/red_explosion.png
  include/battle.h
  include/battle_anim.h
  include/battle_scripts.h
  include/constants/battle_anim.h
  include/constants/battle_string_ids.h
  include/graphics.h
  src/battle_anim_effects_1.c
  src/battle_anim_new.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_anim.h
  src/data/battle_move_effects.h
  src/graphics.c
Labels: category: move animation

#5168 Fixes Poltergeist missing accuracy check
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#5167 Fixes booster energy not increasing speed
  src/battle_main.c
Labels: category: items, bugfix

#5158 #5120 Follow up
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#5171 Fixed Ice Face, implemented tests
  include/battle.h
  src/battle_main.c
  src/battle_util.c
  test/battle/ability/ice_face.c
Labels: category: battle-mechanic, bugfix

#5179 Fixed followers breaking for species IDs above 1535
  include/constants/event_objects.h
Labels: bugfix, category: overworld

#5182 Fixed Retaliate not working correctly with passive damage
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/retaliate.c
Labels: category: move effect, bugfix

#4983 Created PokeNav COMPOUND_STRINGS
  include/strings.h
  src/pokenav_conditions_gfx.c
  src/pokenav_conditions_search_results.c
  src/pokenav_list.c
  src/pokenav_main_menu.c
  src/pokenav_match_call_data.c
  src/pokenav_match_call_gfx.c
  src/pokenav_match_call_list.c
  src/pokenav_menu_handler_gfx.c
  src/pokenav_ribbons_summary.c
  src/strings.c
Labels: category: text

#5183 Fixed incorrect rounding when maxHP <16
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_util.c
  test/battle/ability/ice_body.c
  test/battle/ability/rain_dish.c
  test/battle/weather/hail.c
  test/battle/weather/sandstorm.c
Labels: category: battle-mechanic, category: battle-ai, bugfix

#5186 Consolidated the values of Rotom's moves and added Gen9 base form effect
  include/config/item.h
  src/data/party_menu.h
  src/party_menu.c
Labels: category: items

#5123 Removed all instances of gBitTable[x]
  include/battle.h
  include/constants/battle.h
  include/util.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_arena.c
  src/battle_controller_link_opponent.c
  src/battle_controller_link_partner.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_controller_recorded_opponent.c
  src/battle_controller_recorded_player.c
  src/battle_controller_safari.c
  src/battle_controller_wally.c
  src/battle_controllers.c
  src/battle_dome.c
  src/battle_gfx_sfx_util.c
  src/battle_gimmick.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_pyramid.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_util.c
  src/battle_z_move.c
  src/pokemon.c
  src/recorded_battle.c
  src/script_movement.c
  src/trainer_hill.c
  src/util.c
  test/test_runner_battle.c
Labels: General, type: refactor

#5189 Adds missing AI checks for poltergeist
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#5191 Fixes UB in Cmd_averagestats
  src/battle_script_commands.c
  test/battle/move_effect/guard_split.c
  test/battle/move_effect/power_split.c
Labels: category: battle-mechanic, bugfix

#5193 Removed gBitTable usage again
  src/battle_main.c
Labels: bugfix

#5195 Fix using Population Dice with Loaded Dice printing garbage text
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#5196 Round Tests
  test/battle/move_effect/round.c
Labels: category: battle-tests

#5221 Fix 3 move description typos
  src/data/moves_info.h
Labels: type: data, type: cleanup

#5187 Adds OW_BERRY_IMMORTAL
  include/config/overworld.h
  src/berry.c
Labels: new-feature, category: items, category: overworld

#5209 Fixes weather abilities not activating when Cloud Nine user leaves th…
  data/battle_scripts_1.s
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/forecast.c
Labels: category: ability, bugfix

#5142 New Garganacl and Naclstack battle sprite + various battle sprite fixes
  graphics/pokemon/absol/mega/front.png
  graphics/pokemon/aerodactyl/mega/front.png
  graphics/pokemon/bombirdier/front.png
  graphics/pokemon/diancie/mega/back.png
  graphics/pokemon/diancie/mega/front.png
  graphics/pokemon/diancie/mega/normal.pal
  graphics/pokemon/diancie/mega/shiny.pal
  graphics/pokemon/garganacl/back.png
  graphics/pokemon/garganacl/front.png
  graphics/pokemon/garganacl/normal.pal
  graphics/pokemon/garganacl/shiny.pal
  graphics/pokemon/kilowattrel/back.png
  graphics/pokemon/kilowattrel/front.png
  graphics/pokemon/kilowattrel/shiny.pal
  graphics/pokemon/landorus/anim_front.png
  graphics/pokemon/landorus/back.png
  graphics/pokemon/landorus/normal.pal
  graphics/pokemon/landorus/shiny.pal
  graphics/pokemon/latias/mega/front.png
  graphics/pokemon/latios/mega/front.png
  graphics/pokemon/magearna/back.png
  graphics/pokemon/magearna/shiny.pal
  graphics/pokemon/medicham/mega/back.png
  graphics/pokemon/medicham/mega/front.png
  graphics/pokemon/medicham/mega/normal.pal
  graphics/pokemon/medicham/mega/shiny.pal
  graphics/pokemon/naclstack/back.png
  graphics/pokemon/naclstack/front.png
  graphics/pokemon/naclstack/normal.pal
  graphics/pokemon/naclstack/shiny.pal
  graphics/pokemon/orthworm/front.png
  graphics/pokemon/ponyta/galarian/back.png
  graphics/pokemon/ponyta/galarian/shiny.pal
  graphics/pokemon/rapidash/galarian/back.png
  graphics/pokemon/rapidash/galarian/shiny.pal
  graphics/pokemon/salamence/anim_front.png
  graphics/pokemon/salamence/mega/front.png
  graphics/pokemon/shroodle/back.png
  graphics/pokemon/shroodle/front.png
  graphics/pokemon/shroodle/shiny.pal
  graphics/pokemon/spidops/front.png
  graphics/pokemon/veluza/front.png
  graphics/pokemon/wattrel/back.png
  graphics/pokemon/wattrel/front.png
  src/data/pokemon/species_info/gen_9_families.h
Labels: category: pokemon, category: sprite-issue

#5241 A bunch of fixes for follower Pokemon sprites
  graphics/pokemon/archen/overworld.png
  graphics/pokemon/archeops/overworld.png
  graphics/pokemon/basculin/blue_striped/overworld.png
  graphics/pokemon/blitzle/overworld.png
  graphics/pokemon/blitzle/overworld_normal.pal
  graphics/pokemon/blitzle/overworld_shiny.pal
  graphics/pokemon/crustle/overworld_normal.pal
  graphics/pokemon/crustle/overworld_shiny.pal
  graphics/pokemon/dwebble/overworld.png
  graphics/pokemon/escavalier/overworld.png
  graphics/pokemon/excadrill/overworld_shiny.pal
  graphics/pokemon/krokorok/overworld.png
  graphics/pokemon/krookodile/overworld.png
  graphics/pokemon/krookodile/overworld_normal.pal
  graphics/pokemon/krookodile/overworld_shiny.pal
  graphics/pokemon/lillipup/overworld_shiny.pal
  graphics/pokemon/sawsbuck/summer/overworld.png
  graphics/pokemon/serperior/overworld.png
  graphics/pokemon/serperior/overworld_normal.pal
  graphics/pokemon/serperior/overworld_shiny.pal
  graphics/pokemon/servine/overworld.png
  graphics/pokemon/servine/overworld_normal.pal
  graphics/pokemon/servine/overworld_shiny.pal
  graphics/pokemon/sigilyph/overworld.png
  graphics/pokemon/sigilyph/overworld_normal.pal
  graphics/pokemon/sigilyph/overworld_shiny.pal
  graphics/pokemon/snivy/overworld.png
  graphics/pokemon/swoobat/overworld.png
  graphics/pokemon/swoobat/overworld_shiny.pal
  graphics/pokemon/throh/overworld.png
  graphics/pokemon/throh/overworld_normal.pal
  graphics/pokemon/tranquill/overworld.png
  graphics/pokemon/tranquill/overworld_normal.pal
  graphics/pokemon/tranquill/overworld_shiny.pal
  graphics/pokemon/venipede/overworld.png
  graphics/pokemon/venipede/overworld_normal.pal
  graphics/pokemon/venipede/overworld_shiny.pal
  graphics/pokemon/vulpix/overworld.png
  graphics/pokemon/woobat/overworld.png
  graphics/pokemon/woobat/overworld_shiny.pal
  graphics/pokemon/zamazenta/crowned_shield/overworld.png
  graphics/pokemon/zebstrika/overworld.png
  graphics/pokemon/zebstrika/overworld_normal.pal
  graphics/pokemon/zebstrika/overworld_shiny.pal
Labels: bugfix, resource:sprites

#5078 Remove support for the original LCG random number generator
  include/battle.h
  include/random.h
  src/battle_main.c
  src/main.c
  src/random.c
  test/random.c
  test/test_runner_battle.c
Labels: type: cleanup

#5249 Disguise tests
  test/battle/ability/disguise.c
Labels: category: battle-tests

#5251 Weatherball fire type check changed to WEATHER_DROUGHT, added overwor…
  src/pokemon.c
Labels: category: battle-mechanic, bugfix

#5245 Fixed Z-Moves+Obedience bugged behavior
  include/battle.h
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: move effect, bugfix

#5252 Fixes Purifying Salt being poisoned by Toxic Spikes
  src/battle_script_commands.c
  test/battle/ability/purifying_salt.c
Labels: category: ability, bugfix

#5257 remove unused bs signature
  include/battle_scripts.h
Labels: type: cleanup

#5244 Add Anger Point/Crit Moves Doubles AI Interaction
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#5194 Add Population Bomb animation
  data/battle_anim_scripts.s
  src/battle_anim_new.c
Labels: category: move animation

#5239 Add I_REPEL_INCLUDE_FAINTED config and behavior
  include/config/item.h
  src/wild_encounter.c
Labels: category: items, category: overworld

#5201 Fix a display issue with B_SHOW_TYPES
  include/battle_controllers.h
  src/battle_controller_player.c
  src/type_icons.c
Labels: category: battle-mechanic, new-feature, bugfix

#5264 Fixed Snore not hitting twice with Parental Bond
  src/battle_script_commands.c
  test/battle/ability/parental_bond.c
Labels: category: battle-mechanic, bugfix

#5265 Chilly Reception AI
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  test/battle/ai/ai_flag_sequence_switching.c
Labels: category: battle-ai

#5261 Replaced all usages of tabs in C files with spaces
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_anim_dragon.c
  src/battle_anim_effects_1.c
  src/battle_anim_electric.c
  src/battle_anim_fight.c
  src/battle_anim_fire.c
  src/battle_anim_flying.c
  src/battle_anim_mon_movement.c
  src/battle_anim_new.c
  src/battle_anim_normal.c
  src/battle_anim_poison.c
  src/battle_anim_rock.c
  src/battle_anim_status_effects.c
  src/battle_anim_water.c
  src/battle_controllers.c
  src/battle_util.c
  src/data/field_effects/field_effect_objects.h
  src/data/pokemon/level_up_learnsets/gen_3.h
  src/data/pokemon/pokedex_orders.h
  src/data/tilesets/graphics.h
  src/debug.c
  src/event_object_movement.c
  src/mini_printf.c
  src/pokedex_plus_hgss.c
Labels: type: cleanup

#5271 Chilly Reception AI
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  test/battle/ai/ai_flag_sequence_switching.c
Labels: category: battle-ai

#5273 Fixed swapped frostbite and freeze descriptions for Ice Fang
  src/data/moves_info.h
Labels: General

#5262 Fix Instruct bypassing AtkCanceler, Entry Hazards targeting wrong side of the field if opponent fainted
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/instruct.c
  test/battle/move_effect/sticky_web.c
Labels: category: battle-mechanic, bugfix

#5274 Fixes Charged up status
  include/battle.h
  include/config/battle.h
  src/battle_script_commands.c
  src/battle_tv.c
  src/battle_util.c
  test/battle/move_effect/charge.c
Labels: category: battle-mechanic, bugfix

#5277 Paldean Wooper and Clodsire followers
  graphics/pokemon/clodsire/overworld.png
  graphics/pokemon/clodsire/overworld_normal.pal
  graphics/pokemon/clodsire/overworld_shiny.pal
  graphics/pokemon/wooper/wooper_paldean/overworld.png
  graphics/pokemon/wooper/wooper_paldean/overworld_normal.pal
  graphics/pokemon/wooper/wooper_paldean/overworld_shiny.pal
  spritesheet_rules.mk
  src/data/graphics/pokemon.h
  src/data/object_events/object_event_pic_tables_followers.h
  src/data/pokemon/species_info/gen_2_families.h
Labels: category: pokemon, category: overworld

#5284 Added performance counter
  include/global.h
Labels: new-feature

#5285 Enable female Indeedee follower and improve shiny Indeedees
  graphics/pokemon/indeedee/back.png
  graphics/pokemon/indeedee/female/back.png
  graphics/pokemon/indeedee/female/overworld.png
  graphics/pokemon/indeedee/female/overworld_shiny.pal
  graphics/pokemon/indeedee/female/shiny.pal
  graphics/pokemon/indeedee/front.png
  graphics/pokemon/indeedee/shiny.pal
  spritesheet_rules.mk
  src/data/pokemon/species_info/gen_8_families.h
Labels: category: pokemon

#5240 Deprecate MMBN Names
  docs/mmbn_style_names.md
  include/config/battle.h
  include/config/item.h
  include/config/test.h
  include/constants/global.h
  src/data/abilities.h
  src/data/items.h
  src/data/moves_info.h
  src/data/pokemon/species_info.h
  src/data/pokemon/species_info/gen_2_families.h
  src/data/pokemon/species_info/gen_5_families.h
  src/data/pokemon/species_info/gen_6_families.h
  src/data/pokemon/species_info/gen_7_families.h
  src/data/pokemon/species_info/gen_8_families.h
  src/data/pokemon/species_info/gen_9_families.h
  src/data/types_info.h
Labels: type: documentation, type: data, type: cleanup

#5295 Fixed Cinderace GMax back sprite
  graphics/pokemon/cinderace/gigantamax/back.png
Labels: category: pokemon

#5235 Fixed ability to use dupe gimmick use in Double Battles
  src/battle_controller_player.c
  src/battle_gimmick.c
Labels: category: battle-mechanic, bugfix
