Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2024-12, with the labels that each got.

#5737 Changes Max Phantasm move anim script call
  data/battle_anim_scripts.s
Labels: category: move animation, bugfix

#5603 Deoxys Sprite/Animation Fixes
  graphics/pokemon/deoxys/anim_front.png
  graphics/pokemon/deoxys/attack/anim_front.png
  graphics/pokemon/deoxys/attack/normal.pal
  graphics/pokemon/deoxys/defense/anim_front.png
  graphics/pokemon/deoxys/defense/normal.pal
  graphics/pokemon/deoxys/defense/shiny.pal
  graphics/pokemon/deoxys/normal.pal
  graphics/pokemon/deoxys/shiny.pal
  graphics/pokemon/deoxys/speed/anim_front.png
  graphics/pokemon/deoxys/speed/normal.pal
  src/data/pokemon_graphics/front_pic_anims.h
Labels: category: pokemon, bugfix, category: sprite-issue

#5703 Smart Switching handles Soundproof
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#5704 Add Revival Blessing AI
  src/battle_ai_main.c
Labels: new-feature, category: battle-ai

#5566 Add B_FLAG_SLEEP_CLAUSE
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_ai_util.h
  include/battle_scripts.h
  include/battle_util.h
  include/config/battle.h
  include/config/test.h
  include/constants/battle_string_ids.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_dynamax.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/pokemon.c
  test/battle/sleep_clause.c
  test/test_runner_battle.c
Labels: category: battle-mechanic, new-feature

#5706 Added scope document and made changes to pull request template
  .github/pull_request_template.md
  docs/SUMMARY.md
  docs/scope.md
Labels: type: documentation

#5761 Fix Sleep Clause AI handling of partner sleeping moves
  src/battle_ai_util.c
Labels: category: battle-mechanic, bugfix

#5762 Sleep Clause global config
  include/battle_util.h
  include/config/battle.h
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#5636 Add AI_FLAG_WEIGH_ABILITY_PREDICTION
  docs/tutorials/ai_flags.md
  include/constants/battle_ai.h
  include/random.h
  src/battle_ai_util.c
  test/battle/ai/ai_flag_predict_ability.c
Labels: new-feature, category: battle-ai

#5708 Variadic IS_BATTLER_OF_TYPE and GetBattlerTypes
  include/battle.h
  include/battle_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, new-feature

#5732 Fixes items preventing other switch in effects
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/battle_util.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/hold_effect/booster_energy.c
  test/battle/hold_effect/cure_status.c
Labels: category: battle-mechanic, bugfix

#5714 Converted item-related variables to COMPOUND_STRINGs
  include/strings.h
  src/data/party_menu.h
  src/item_menu.c
  src/item_use.c
  src/player_pc.c
  src/strings.c
Labels: type: cleanup

#5101 Added FONT_SHORT_NARROWER
  charmap.txt
  data/scripts/debug.inc
  graphics/fonts/latin_short_narrower.png
  graphics/fonts/latin_small_narrower.png
  graphics_file_rules.mk
  include/fonts.h
  include/text.h
  src/debug.c
  src/fonts.c
  src/text.c
Labels: new-feature

#5769 trainerproc: Fix showing incorrect error context
  tools/trainerproc/main.c
Labels: bugfix

#5773 Adds SleepClauseBlock enum to CanBeSlept
  include/battle_util.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_dynamax.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: cleanup

#5652 Destiny Bond fails on repeated use in Gen 7+
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_util.h
  include/config/battle.h
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/destiny_bond.c
Labels: category: battle-mechanic, new-feature

#5707 Pursuit refactor
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/config/battle.h
  include/constants/battle_script_commands.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/pursuit.c
Labels: category: battle-mechanic, type: refactor

#5781 Fix octolock + defiant
  data/battle_scripts_1.s
  src/battle_util.c
  test/battle/move_effect/octolock.c
Labels: bugfix, category: battle-tests

#5780 Gravity fix + Sky Drop Test
  data/battle_scripts_1.s
  test/battle/move_effect/gravity.c
Labels: category: battle-tests

#5729 New Volt Switch Animation
  data/battle_anim_scripts.s
  include/battle_anim.h
  src/battle_anim_electric.c
Labels: category: move animation

#5782 Narrower font tweaks and font fitting fixes
  data/scripts/debug.inc
  graphics/fonts/latin_narrower.png
  graphics/fonts/latin_short_narrower.png
  graphics/fonts/latin_small_narrower.png
  src/debug.c
  src/fonts.c
  src/item_menu.c
  test/text.c
Labels: General

#5661 Palette cleanup
  graphics/battle_anims/sprites/attack_order.png
  graphics/battle_anims/sprites/aura_sphere.png
  graphics/battle_anims/sprites/blue_flare.pal
  graphics/battle_anims/sprites/dragon_pulse.png
  graphics/battle_anims/sprites/embers.png
  graphics/battle_anims/sprites/fly.png
  graphics/battle_anims/sprites/horn_hit_new.png
  graphics/battle_anims/sprites/mean_look.png
  graphics/battle_anims/sprites/poison_jab.png
  graphics/battle_anims/sprites/power_gem.png
  graphics/battle_anims/sprites/psycho_cut.png
  graphics/battle_anims/sprites/stealth_rock.png
  graphics/battle_anims/sprites/stone_edge.png
  graphics/battle_anims/sprites/wood_hammer.png
Labels: type: cleanup

#5792 Added the missing config to use new terrains
  include/config/battle.h
Labels: bugfix

#5793 Updated Ogerpon, Enamorus and Sinistcha sprites
  graphics/pokemon/enamorus/back.png
  graphics/pokemon/enamorus/front.png
  graphics/pokemon/enamorus/normal.pal
  graphics/pokemon/enamorus/shiny.pal
  graphics/pokemon/enamorus/therian/back.png
  graphics/pokemon/enamorus/therian/front.png
  graphics/pokemon/enamorus/therian/normal.pal
  graphics/pokemon/enamorus/therian/shiny.pal
  graphics/pokemon/ogerpon/back.png
  graphics/pokemon/ogerpon/cornerstone/back.png
  graphics/pokemon/ogerpon/cornerstone/front.png
  graphics/pokemon/ogerpon/cornerstone/normal.pal
  graphics/pokemon/ogerpon/cornerstone/shiny.pal
  graphics/pokemon/ogerpon/front.png
  graphics/pokemon/ogerpon/hearthflame/back.png
  graphics/pokemon/ogerpon/hearthflame/front.png
  graphics/pokemon/ogerpon/hearthflame/normal.pal
  graphics/pokemon/ogerpon/hearthflame/shiny.pal
  graphics/pokemon/ogerpon/normal.pal
  graphics/pokemon/ogerpon/shiny.pal
  graphics/pokemon/ogerpon/wellspring/back.png
  graphics/pokemon/ogerpon/wellspring/front.png
  graphics/pokemon/ogerpon/wellspring/normal.pal
  graphics/pokemon/ogerpon/wellspring/shiny.pal
  graphics/pokemon/sinistcha/back.png
  graphics/pokemon/sinistcha/front.png
  graphics/pokemon/sinistcha/normal.pal
  graphics/pokemon/sinistcha/shiny.pal
  src/data/pokemon/species_info/gen_8_families.h
  src/data/pokemon/species_info/gen_9_families.h
Labels: category: pokemon

#5791 Evolution level 1 learn
  include/config/pokemon.h
  src/pokemon.c
Labels: bugfix

#5799 Fixes simu hp reduction when no partner was on field
  include/constants/pokemon.h
  src/battle_util.c
  src/pokemon.c
  test/battle/spread_moves.c
Labels: bugfix

#5796 Added missing tests + Fix Coaching/Crafty Shield interaction
  src/battle_util.c
  test/battle/ability/flower_gift.c
  test/battle/move_effect/coaching.c
  test/battle/move_effect/cosmic_power.c
  test/test_runner.c
Labels: bugfix, category: battle-tests

#5797 New Enamorus-Incarnate sprite
  graphics/pokemon/enamorus/anim_front.png
  graphics/pokemon/enamorus/back.png
  graphics/pokemon/enamorus/front.png
  graphics/pokemon/enamorus/normal.pal
  graphics/pokemon/enamorus/shiny.pal
  src/data/graphics/pokemon.h
  src/data/pokemon/species_info/gen_8_families.h
  src/data/pokemon_graphics/front_pic_anims.h
Labels: category: pokemon

#5790 Fix HGSS dex sort orders working incorrectly
  src/pokedex_plus_hgss.c
Labels: bugfix

#5610 Updating install instructions
  INSTALL.md
  docs/install/chromeos/CHROME_OS.md
  docs/install/linux/ARCH_LINUX.md
  docs/install/linux/DEBIAN.md
  docs/install/linux/NIXOS.md
  docs/install/linux/OTHERS.md
  docs/install/linux/UBUNTU.md
  docs/install/mac/MAC_OS.md
  docs/install/windows/CYGWIN.md
  docs/install/windows/MSYS2.md
  docs/install/windows/WSL.md
Labels: type: documentation

#5814 Fixes absorb still draining HP when flinched
  src/battle_script_commands.c
  test/battle/move_effect/absorb.c
Labels: category: move effect, bugfix

#5819 Fixes Tidy Up
  data/battle_scripts_1.s
  src/battle_script_commands.c
  test/battle/move_effect/tidy_up.c
Labels: category: move effect, bugfix

#5822 Changes target TURN_DAMAGED and MAX_HP to inlines
  include/battle.h
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: cleanup

#5826 Fixes Shed Tail substitute health
  src/battle_script_commands.c
  test/battle/move_effect/shed_tail.c
Labels: category: battle-mechanic, bugfix

#5830 Fixes moves based on Dragon Darts with strikeCount > 2 always hitting the same battler from the second hit onwards
  src/battle_script_commands.c
Labels: category: move effect, bugfix

#5829 Adds Thief/Covet config to send stolen item to bag and Pickup config to pickup user's item in wild battles
  include/config/battle.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/pickup.c
  test/battle/move_effect_secondary/steal_item.c
Labels: General

#5831 Fixes Clear Amulet displaying the wrong battler and Starting Status displaying the wrong message
  src/battle_message.c
Labels: bugfix

#5827 Fixes Room Service
  data/battle_scripts_1.s
  src/battle_script_commands.c
  test/battle/hold_effect/room_service.c
Labels: bugfix

#5839 Changes Various defines to an Enum
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#5838 Fixes Quash-affected battlers having the wrong order for End Turn effects
  src/battle_anim_effects_1.c
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#5841 Fixes Cotton Down and Gulp Missile not interacting correctly with stat reduction prevention effects
  data/battle_scripts_1.s
  test/battle/ability/cotton_down.c
  test/battle/ability/gulp_missile.c
Labels: bugfix

#5809 remove fno-toplevel-reorder
  Makefile
Labels: type: cleanup

#5812 Sheer Force fix and move effect cleanup
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  include/pokemon.h
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ability/sheer_force.c
  test/battle/move_effect/salt_cure.c
  test/battle/move_effect_secondary/haze.c
  test/battle/move_effect_secondary/ion_deluge.c
  test/battle/move_effect_secondary/leech_seed.c
  test/battle/move_effect_secondary/light_screen.c
  test/battle/move_effect_secondary/reflect.c
Labels: category: move effect, bugfix

#5870 Fixes regression caused by argument refactor
  src/battle_script_commands.c
  test/battle/move_effect/solar_beam.c
  test/battle/move_effect/two_turns_attack.c
Labels: category: battle-mechanic, bugfix

#5879 Fixed Ally Switch breaking Illusion
  src/battle_anim_effects_1.c
  test/battle/move_effect/ally_switch.c
Labels: category: battle-mechanic, bugfix

#5885 Atk Canceller refactor / reorder / clean up
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/stance_change.c
  test/battle/gimmick/dynamax.c
Labels: type: refactor

#5896 New Ally Switch test fails on CI
  test/battle/move_effect/ally_switch.c
Labels: category: battle-tests

#5894 Fixed TODO tests not showing up when filtering by name
  include/test/battle.h
Labels: bugfix, category: battle-tests

#5895 Fix Salt Cure script
  data/battle_scripts_1.s
  test/battle/move_effect/salt_cure.c
Labels: category: battle-mechanic, bugfix

#5901 Comment out Ally Switch Illusion test
  test/battle/move_effect/ally_switch.c
Labels: category: battle-tests

#5890 Fixed leaking tasks not showing up in summary
  test/test_runner.c
Labels: category: battle-tests

#5902 Fixes Eject Pack / Intimidate issue
  src/battle_util.c
  test/battle/hold_effect/eject_pack.c
Labels: category: battle-mechanic, bugfix

#5803 Setting Battle configs during tests
  Makefile
  include/constants/generational_changes.h
  include/generational_changes.h
  include/test/battle.h
  src/battle_main.c
  src/generational_changes.c
  test/battle/ability/gale_wings.c
  test/test_runner_battle.c
Labels: category: battle-tests

#5893 Adds Generational config for Magic Guard (Fix for Gen4+)
  include/config/battle.h
  src/battle_util.c
  test/battle/ability/magic_guard.c
Labels: bugfix, feature-request

#5899 Adds Pledge Side Statuses as Starting Statuses
  data/battle_scripts_1.s
  include/constants/battle.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: new-feature

#5906 Clean up redundancy for mugshots
  include/battle_transition.h
  include/data.h
  src/data/trainers.h
  tools/trainerproc/main.c
Labels: type: cleanup

#5640 Improve README.md
  README.md
Labels: type: documentation, type: cleanup

#5913 Fix wrong value for NUM_MOVE_EFFECTS
  include/constants/battle.h
Labels: type: cleanup

#5910 New U-turn animation to fix visibility
  data/battle_anim_scripts.s
  src/battle_anim_new.c
Labels: category: move animation, bugfix

#5909 Fixes Stance Change, Sleep Talk interaction
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/stance_change.c
Labels: category: battle-mechanic, bugfix

#5907 Fixes Round doubling it's BP if previous Round failed
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#5911 Fixes Sparkling Aria Shield Dust / Covert Cloak interaction
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/shield_dust.c
  test/battle/hold_effect/covert_cloak.c
Labels: category: battle-mechanic, bugfix

#5917 Renamed OW type effectiveness function for clarity
  include/battle_util.h
  src/battle_util.c
  src/event_object_movement.c
Labels: type: cleanup
