Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2024-11, with the labels that each got.

#5628 Fixes dynamicMoveType global not being reset during AI calcs
  src/battle_ai_util.c
Labels: bugfix

#5629 AI_CalcDamage clean up
  src/battle_ai_util.c
Labels: type: cleanup

#5620 Fixed text wrap obtaining the incorrect glyph width
  include/text.h
  src/battle_message.c
  src/fonts.c
  src/text.c
  test/text.c
Labels: bugfix

#5632 Set default battle shadow to Gen3
  include/config/battle.h
Labels: General

#5645 Fixes Magic Coat message
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  src/battle_message.c
  src/battle_script_commands.c
  test/battle/move_effect/magic_coat.c
Labels: category: move effect, bugfix

#5649 Convert gBattleStringsTable to COMPOUND_STRINGs
  include/battle_message.h
  src/battle_message.c
  src/evolution_scene.c
  test/text.c
Labels: type: cleanup

#5648 fix(makefile): dependencies for map_group_count.h
  map_data_rules.mk
Labels: bugfix

#5622 Add merged placeholder text for trainer name with class
  charmap.txt
  include/battle_message.h
  src/battle_message.c
Labels: type: cleanup

#5635 Check that PASSES_RANDOMLY affected a Random call
  include/test/battle.h
  test/test_runner_battle.c
Labels: category: battle-tests

#5657 Fixes Red Card / Eject Pack interaction with Emergency Exit
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  src/battle_script_commands.c
  test/battle/hold_effect/eject_pack.c
  test/battle/hold_effect/red_card.c
Labels: category: items, category: ability, bugfix

#5659 Cleans up Primal Reversion code
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_message.c
  src/battle_util.c
Labels: type: cleanup

#5663 Fixed curse + Protean interaction
  data/battle_scripts_1.s
  test/battle/move_effect/curse.c
Labels: category: battle-mechanic, category: ability, bugfix

#5667 Fix Order Up + Tera Stellar breaking each other with Commander
  include/battle.h
Labels: category: battle-mechanic, bugfix

#5665 Critical Hit documentation and distorted match up struct switch
  include/battle.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: cleanup

#5670 Refactors Absorb to use Moveend
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/move_effect/absorb.c
Labels: category: move effect, type: refactor

#5669 Followers sprite fixes
  graphics/pokemon/audino/overworld.png
  graphics/pokemon/boldore/overworld.png
  graphics/pokemon/cottonee/overworld.png
  graphics/pokemon/cottonee/overworld_normal.pal
  graphics/pokemon/cottonee/overworld_shiny.pal
  graphics/pokemon/drilbur/overworld.png
  graphics/pokemon/drilbur/overworld_normal.pal
  graphics/pokemon/emboar/overworld.png
  graphics/pokemon/emboar/overworld_normal.pal
  graphics/pokemon/emboar/overworld_shiny.pal
  graphics/pokemon/gigalith/overworld.png
  graphics/pokemon/herdier/overworld.png
  graphics/pokemon/herdier/overworld_shiny.pal
  graphics/pokemon/liepard/overworld.png
  graphics/pokemon/munna/overworld.png
  graphics/pokemon/munna/overworld_shiny.pal
  graphics/pokemon/musharna/overworld.png
  graphics/pokemon/musharna/overworld_normal.pal
  graphics/pokemon/musharna/overworld_shiny.pal
  graphics/pokemon/palpitoad/overworld.png
  graphics/pokemon/palpitoad/overworld_normal.pal
  graphics/pokemon/palpitoad/overworld_shiny.pal
  graphics/pokemon/panpour/overworld.png
  graphics/pokemon/panpour/overworld_normal.pal
  graphics/pokemon/pansage/overworld.png
  graphics/pokemon/pansear/overworld.png
  graphics/pokemon/pidove/overworld.png
  graphics/pokemon/pidove/overworld_normal.pal
  graphics/pokemon/pignite/overworld.png
  graphics/pokemon/pignite/overworld_normal.pal
  graphics/pokemon/pignite/overworld_shiny.pal
  graphics/pokemon/purrloin/overworld.png
  graphics/pokemon/purrloin/overworld_shiny.pal
  graphics/pokemon/tepig/overworld.png
  graphics/pokemon/tympole/overworld.png
  graphics/pokemon/watchog/overworld.png
  graphics/pokemon/watchog/overworld_normal.pal
  graphics/pokemon/watchog/overworld_shiny.pal
  graphics/pokemon/whimsicott/overworld.png
  graphics/pokemon/whimsicott/overworld_normal.pal
  graphics/pokemon/whimsicott/overworld_shiny.pal
Labels: category: pokemon, category: overworld

#5666 Mimicry updates typing with RemoveAllTerrains()
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/hit_set_remove_terrain.c
Labels: category: ability, bugfix

#5678 Fixes Ice Face regression
  src/battle_script_commands.c
  test/battle/ability/ice_face.c
Labels: category: battle-mechanic, bugfix

#5684 Fixes wrong Id when AI chooses mon to switch in
  src/battle_controller_opponent.c
Labels: category: battle-mechanic, bugfix

#5688 Fixes Absorb regression caused by #5670
  data/battle_scripts_1.s
  src/battle_script_commands.c
  test/battle/move_effect/absorb.c
Labels: category: battle-mechanic, bugfix

#5692 Wrong assumtion in dauntless_shield.c
  test/battle/ability/dauntless_shield.c
Labels: type: cleanup, category: battle-tests

#5696 Removes redundant Decorate check
  src/battle_util.c
  test/battle/move_effect/protect.c
Labels: category: battle-mechanic, type: cleanup

#5700 Fixes heal blocked leeach seed in tests
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/leech_seed.c
Labels: category: battle-mechanic, bugfix

#5698 Changes taget bit of Flower Shield
  include/constants/battle.h
  src/data/moves_info.h
  test/battle/move_effect/flower_shield.c
  test/battle/move_effect/protect.c
Labels: category: battle-mechanic, type: cleanup

#5685 Follower fixes, Melmetal, Patrat, Woobat
  graphics/pokemon/melmetal/overworld.png
  graphics/pokemon/melmetal/overworld_normal.pal
  graphics/pokemon/melmetal/overworld_shiny.pal
  graphics/pokemon/patrat/overworld.png
  graphics/pokemon/woobat/overworld.png
Labels: category: pokemon, category: overworld

#5699 Trainer class+name expansion fix for Battle Frontier
  src/battle_message.c
Labels: bugfix

#5711 Fixed Farfetch'd overworld sprite
  graphics/pokemon/farfetchd/overworld.png
Labels: category: pokemon, category: overworld

#5713 Added Minimize interaction to Supercell Slam
  src/data/moves_info.h
Labels: category: battle-mechanic, bugfix

#5650 dark void, clangorous soulblaze, vortex animation fixes
  data/battle_anim_scripts.s
  src/battle_anim_flying.c
  src/battle_anim_mon_movement.c
  src/battle_anim_rock.c
Labels: category: move animation, bugfix

#5720 Update README.md to link to INSTALL.md
  README.md
Labels: type: documentation

#5724 Fixes Red Card / Eject Pack interaction
  include/constants/battle_script_commands.h
  test/battle/form_change/primal_reversion.c
  test/battle/hold_effect/red_card.c
Labels: category: battle-mechanic, bugfix

#5723 Fixes gems triggering on confusion damage
  src/battle_script_commands.c
  test/battle/status2/confusion.c
Labels: category: battle-mechanic, bugfix

#5721 Updated the new pokemon tutorial for 1.10
  docs/tutorials/how_to_new_pokemon_1_10_0.md
Labels: type: documentation

#5728 Fixes minor move desc errors
  src/data/moves_info.h
Labels: type: documentation

#5727 Fixes Kee Maranga and Enigma Berry
  include/battle.h
  src/battle_util.c
  test/battle/hold_effect/enigma_berry.c
  test/battle/hold_effect/kee_berry.c
  test/battle/hold_effect/maranga_berry.c
Labels: category: battle-mechanic, bugfix

#5689 Automatic Line Breaks, somewhat even lines
  include/battle_message.h
  include/line_break.h
  src/battle_controller_player.c
  src/battle_controller_safari.c
  src/battle_message.c
  src/line_break.c
Labels: new-feature, General

#5742 Fixes Misty Terrain displaying wrong message
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#5746 Fixes Switch in flag not restoring mons properly with test
  src/battle_ai_util.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#5739 Fixes Dynamax dynamic move type
  src/battle_dynamax.c
Labels: category: battle-mechanic, bugfix
