Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-03, with the labels that each got.

#6365 Fixed Zacian/Zamazenta learning Iron head while already knowing
  src/pokemon.c
Labels: category: pokemon, bugfix

#6367 Fixed a missing ) in trainers.party comment block.
  src/data/trainers.party
Labels: type: documentation

#6370 Change ability to abilityNum in CreateTrainerMon
  src/battle_main.c
  test/battle/move_effect/charge.c
Labels: type: cleanup

#6362 Small Code clean up in GetBattlerAbility (removes duplication)
  src/battle_util.c
Labels: type: cleanup

#6369 Fixed Ivy Cudgel types with type changes
  src/battle_controller_player.c
  src/battle_main.c
Labels: category: move effect, bugfix

#6375 Update README.md for contest src link
  README.md
Labels: type: documentation

#6376 Fix Red Card overwriting gBattlerAttacker
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  src/battle_script_commands.c
  test/battle/ability/dancer.c
  test/battle/hold_effect/red_card.c
Labels: category: battle-mechanic, category: battle-tests

#6366 Fix roamers having 0 hp on repeat encounters
  src/battle_main.c
Labels: category: pokemon, bugfix

#6330 Gen 1's Special base stat
  src/data/pokemon/species_info/gen_1_families.h
Labels: category: battle-mechanic, new-feature

#6368 "no additional effect" text for status Z moves without effects
  include/config/battle.h
  src/battle_z_move.c
Labels: category: battle-mechanic

#6343 Switch AI will factor in player's choice lock when determining hits to KO
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#6391 Switch AI considers Wind Rider
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#6396 Fix roll handling in AI damage calcs
  include/battle.h
  include/battle_ai_util.h
  include/battle_script_commands.h
  include/battle_util.h
  include/config/ai.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_debug.c
  src/battle_script_commands.c
Labels: category: battle-ai, bugfix

#6395 B_FAST_INTRO_PKMN_TEXT fix
  src/battle_main.c
Labels: bugfix, General

#6361 Fixes crash damage move against absorbing abilities
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  src/data/battle_move_effects.h
  test/battle/move_effect/recoil_if_miss.c
Labels: category: battle-mechanic, bugfix

#6397 Minor Clean up for AI_CalcDamage to remove some duplicate code
  src/battle_ai_util.c
Labels: category: battle-ai, type: cleanup

#6400 Fix compile errors with OW_BATTLE_ONLY_FORMS set to FALSE
  src/data/object_events/object_event_pic_tables_followers.h
Labels: bugfix, category: overworld

#6405 Moved some AI stuff out of the battlestruct
  include/battle.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_debug.c
  src/battle_main.c
  src/battle_util2.c
  test/test_runner_battle.c
Labels: category: battle-ai

#6149 Configuration to make all Hail moves summon Snow or vis versa, to have only one ice weather
  data/battle_scripts_1.s
  include/config/battle.h
  src/battle_script_commands.c
  src/data/items.h
  src/data/moves_info.h
  test/battle/move_effect/chilly_reception.c
  test/battle/weather/hail.c
Labels: category: battle-mechanic

#6297 Tests for checking all move animations
  include/config/test.h
  include/global.h
  src/battle_main.c
  src/sprite.c
  test/battle/move_animations/all_anims.c
Labels: category: battle-tests

#6411 Create move end Sheer Force
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#6328 Low Health Beeps Configuration
  audio_rules.mk
  include/config/battle.h
  tools/mid2agb/Makefile
  tools/mid2agb/agb.cpp
  tools/mid2agb/agb.h
  tools/mid2agb/midi.cpp
Labels: new-feature, General, type: big feature

#6429 Wrong argumet usage in `CalcCritChanceStage`
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix

#6269 Include Missed `GetInteractedMetatileScript` Entries for Mart & Center Signs
  src/field_control_avatar.c
Labels: bugfix, category: overworld

#6275 Replace Incorrect Slow Stairs Movement with Correct One
  asm/macros/movement.inc
  include/constants/event_object_movement.h
  include/event_object_movement.h
  src/data/object_events/movement_action_func_tables.h
  src/event_object_movement.c
  src/field_player_avatar.c
Labels: bug, category: overworld

#6431 Fixes hazards not respecting tera types
  src/battle_util.c
  test/battle/move_effect/stealth_rock.c
Labels: category: battle-mechanic, bugfix

#6416 Fixes dynamax reversion when ejected out + anim fix
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_dynamax.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/gimmick/dynamax.c
Labels: category: battle-mechanic, bugfix

#6436 Fix Focus Sash being considered in switch AI's hits to KO calcs
  src/battle_ai_switch_items.c
  test/battle/ai/ai.c
Labels: category: battle-ai, bugfix

#6433 Fixes negative priority being blocked by dazzling abilities
  src/battle_util.c
  test/battle/ability/dazzling.c
Labels: category: battle-mechanic, bugfix

#6432 Rename absentBattlerFlags to absent
  include/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: cleanup, General

#6403 Allow the AI to see the second hit of Parental Bond
  src/battle_ai_util.c
Labels: category: battle-ai

#6418 Fixes Cotton Spore failing if one of the targets blocks it
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/speed_down.c
Labels: category: battle-mechanic, bugfix

#6332 Optimization / Clean up of AI move usability
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
Labels: category: battle-ai, type: cleanup

#6442 Fix AI using Scald / fire moves against frozen / frostbitten targets
  include/battle_script_commands.h
  src/battle_ai_main.c
  src/battle_script_commands.c
  test/battle/ai/ai.c
Labels: new-feature, category: battle-ai

#6448 Fixes Toxic Spikes Absorbed message
  charmap.txt
  include/battle_message.h
  src/battle_message.c
  test/battle/move_effect/hit_switch_target.c
  test/test_runner_battle.c
Labels: category: battle-mechanic, bugfix

#6441 Refactor HasWeatherEffect and IsUnnerveAbilityOnOpposingSide
  src/battle_util.c
Labels: category: battle-mechanic, type: refactor

#6439 Refactor the function IsAbilityPreventingEscape
  include/config/battle.h
  src/battle_util.c
Labels: category: battle-mechanic, type: refactor

#6443 Unifies dynamic move category checks
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/battle_util.h
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_move_effects.h
  src/move_relearner.c
  src/pokedex_plus_hgss.c
  src/pokemon_summary_screen.c
Labels: category: battle-mechanic, type: refactor

#6364 Adds move description battle config
  include/config/battle.h
  src/battle_controller_player.c
  src/battle_interface.c
Labels: category: move effect, bugfix

#6453 Improve "all moves bad" switching
  include/config/ai.h
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#6461 Fix Jet Punch in isolated tests
  data/battle_anim_scripts.s
Labels: category: move animation, bugfix

#6460 Update the All Move Animations test
  include/config/test.h
  test/battle/move_animations/all_anims.c
Labels: category: battle-tests

#6444 Update Battle Debug menu with new AI flags
  src/battle_debug.c
Labels: category: battle-ai, type: cleanup

#6466 Fixes Cheek Pouch mutating damage
  include/battle.h
  src/battle_script_commands.c
  test/battle/ability/cheeck_pouch.c
Labels: category: battle-mechanic, bugfix

#6468 Removed unused debug EWRAM variables
  src/berry_blender.c
Labels: type: cleanup, General

#6475 Sucker punch vs struggle
  src/battle_script_commands.c
  test/battle/move_effect/sucker_punch.c
Labels: category: move effect, bugfix

#6474 Fixes protective pads against Protects secondary effects
  src/battle_script_commands.c
  test/battle/hold_effect/protective_pads.c
Labels: category: battle-mechanic, bugfix

#6478 AI gimmick check changed from checking trainer data to a BattleStruct field
  include/battle.h
  src/battle_gimmick.c
  src/battle_main.c
Labels: category: battle-ai, bugfix

#6479 Removes unused Special Status members
  include/battle.h
  src/battle_script_commands.c
Labels: type: cleanup

#6481 25-03-25 master to upcoming merge
  data/battle_anim_scripts.s
  include/battle.h
  include/config/battle.h
  include/dexnav.h
  src/battle_controller_player.c
  src/battle_debug.c
  src/battle_gimmick.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_script_commands.c
  src/dexnav.c
  src/pokemon.c
  test/battle/ability/cheeck_pouch.c
  test/battle/hold_effect/protective_pads.c
  test/battle/move_effect/sucker_punch.c
Labels: General

#6451 Add B_ANIMATE_MON_AFTER_KO - mons animate after scoring a KO
  include/config/battle.h
  src/battle_controllers.c
Labels: category: pokemon, new-feature, category: move animation

#6484 Increase dex no digits from 3 to 4
  src/pokedex_plus_hgss.c
Labels: bugfix, General

#6482 Fixes clear body type effect and clear amulet against protect effects
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/clear_body.c
  test/battle/hold_effect/clear_amulet.c
  test/battle/hold_effect/protective_pads.c
  test/battle/move_effect/counter.c
  test/battle/move_effect/protect.c
Labels: category: battle-mechanic, bugfix

#6485 Remove potential pitfall with saved damage for recoil moves
  src/battle_script_commands.c
Labels: type: cleanup, General

#6492 Changed KNOWN_FAILING test
  test/battle/move_effect/toxic_spikes.c
Labels: category: battle-tests

#6488 Added workflow for labels check
  .github/workflows/labels.yml
Labels: new-feature, General

#6469 metaprogram.h without global.h
  include/metaprogram.h
Labels: General

#6462 Made memory integrity checks run betweeen PARAMETRIZE runs
  include/test_runner.h
  test/test_runner.c
  test/test_runner_battle.c
  tools/mgba-rom-test-hydra/main.c
Labels: bugfix, category: battle-tests

#6491 Fixs Aftermath ability popup message
  data/battle_scripts_1.s
  src/battle_util.c
  test/battle/ability/aftermath.c
Labels: category: battle-mechanic, bugfix

#6459 Fixes Emergency Exit and Eject Pack
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/emergency_exit.c
  test/battle/hold_effect/eject_pack.c
  test/battle/spread_moves.c
Labels: category: battle-mechanic, bugfix

#6496 Pret merge 2025-03-29
  include/graphics.h
  src/berry_tag_screen.c
  src/data/battle_frontier/apprentice.h
  src/data/graphics/berries.h
  src/data/union_room.h
  src/decoration.c
  src/graphics.c
  src/script.c
  src/union_room.c
Labels: type: sync, General

#6494 Fixes Hospitality not being blocked by Heal Block
  src/battle_util.c
  test/battle/ability/hospitality.c
Labels: category: battle-mechanic, bugfix

#6464 Fix Choice'd AI not switching if player immune to move
  src/battle_ai_switch_items.c
  test/battle/ai/ai_choice.c
Labels: new-feature, category: battle-ai

#6493 Fixes timesGotHit not increasing on forced switch out
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  test/battle/move_effect/rage_fist.c
Labels: category: battle-mechanic, bugfix

#6498 Fix hit escape ace mon switching
  include/constants/generational_changes.h
  include/generational_changes.h
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#6495 Rename removelishtscreenreflect to removescreens
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: type: cleanup, General

#6501 Fixes Destiny Bond against Dynamax no failing
  src/battle_script_commands.c
  test/battle/gimmick/dynamax.c
Labels: category: battle-mechanic, bugfix

#6503 1.11.1 Release
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/02_battle_ai_issues.yaml
  .github/ISSUE_TEMPLATE/04_other_errors.yaml
  README.md
  docs/SUMMARY.md
  docs/changelogs/1.11.x/1.11.1.md
  include/constants/expansion.h
Labels: General

#6507 Mark RTC/Flash save hint string as used
  src/siirtc.c
Labels: bugfix, General

#6510 Fix move names in learnset helper
  tools/learnset_helpers/porymoves_files/b2w2.json
  tools/learnset_helpers/porymoves_files/bw.json
  tools/learnset_helpers/porymoves_files/dp.json
  tools/learnset_helpers/porymoves_files/frlg.json
  tools/learnset_helpers/porymoves_files/hgss.json
  tools/learnset_helpers/porymoves_files/oras.json
  tools/learnset_helpers/porymoves_files/pt.json
  tools/learnset_helpers/porymoves_files/rse.json
  tools/learnset_helpers/porymoves_files/sm.json
  tools/learnset_helpers/porymoves_files/sv.json
  tools/learnset_helpers/porymoves_files/usum.json
  tools/learnset_helpers/porymoves_files/xy.json
Labels: bugfix, General

#6512 Add General Merge to label check
  .github/workflows/labels.yml
Labels: General
