Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-10, with the labels that each got.

#7780 No bag use flag changed to a varable
  data/scripts/debug.inc
  include/battle_controllers.h
  include/battle_util.h
  include/config/battle.h
  src/battle_controllers.c
  src/battle_main.c
  src/battle_util.c
  src/debug.c
  src/item_use.c
  src/overworld.c
Labels: category: battle-mechanic, feature-request

#7835 Remove two unused bits from battle structs
  include/battle.h
  src/battle_main.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#7844 Fix LTO breaking with FREE_MYSTERY_GIFT set to TRUE
  src/easy_chat.c
Labels: bugfix, category: overworld

#7849 Add failsafe to AI_DecideHoldEffectForTurn
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#7852 Update INSTALL.md
  INSTALL.md
Labels: type: documentation, type: cleanup

#7856 Updated Mountain Gale's PP for Gen 9
  src/data/moves_info.h
Labels: category: move effect, bugfix

#7868 Fix for uncaught mon with terrain active
  src/pokedex.c
Labels: category: battle-mechanic, bugfix

#7855 Fix dns palette weight
  src/overworld.c
Labels: bugfix, category: overworld

#7847 Fixes shininess for givemon
  asm/macros/event.inc
  include/constants/pokemon.h
  src/script_pokemon_util.c
  test/pokemon.c
Labels: category: pokemon, bugfix

#7848 Fix EV display in debug menu
  src/debug.c
Labels: bugfix, General

#7875 Ensure last used ball and move description window sprites don't free palette too early
  src/battle_interface.c
Labels: bugfix, General

#7886 Fixes Steadfast not activating + tests
  data/battle_scripts_1.s
  test/battle/ability/steadfast.c
Labels: category: battle-mechanic, bugfix
