Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-06, with the labels that each got.

#7038 Fix follower compression
  include/decompress.h
  src/decompress.c
Labels: bugfix, category: overworld

#6855 `BtlController_EmitTwoReturnValues` cleanup
  include/battle.h
  src/battle_ai_switch_items.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_controller_recorded_opponent.c
  src/battle_controller_recorded_player.c
  src/battle_controller_wally.c
Labels: type: cleanup, General

#7033 Put the gen 1 compression tests behind a config
  test/compression/smol.c
Labels: General

#7044 Changed trainer tutorial to take into account removed palette compression
  docs/tutorials/how_to_trainer_pic.md
Labels: type: documentation, General

#6967 `GetBattlerMon` cleanup
  src/battle_gfx_sfx_util.c
  src/battle_interface.c
  src/battle_script_commands.c
  src/battle_util.c
  src/battle_util2.c
  src/recorded_battle.c
  src/reshow_battle_screen.c
Labels: category: battle-mechanic, type: cleanup, type: big feature

#7047 Change GetZMaxMoveAgainstProtectionModifier to prevent regressions
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#6476 Fix ScaryFace anim for Bitter Malice
  src/battle_anim_effects_2.c
Labels: category: move animation

#7052 Animation documentation
  data/battle_anim_scripts.s
  src/battle_anim_fight.c
  src/battle_anim_new.c
Labels: category: move animation, type: cleanup

#7064 Fixes speed calculation order
  src/battle_main.c
Labels: category: battle-mechanic, bugfix

#7063 Deprecate sStatusFlagsForMoveEffects
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#7058 Bug fix for Grassy Terrain incorrectly healing non-grounded Pokemon
  src/battle_end_turn.c
Labels: category: battle-mechanic, bugfix

#7066 Fixes Wandering Spirit copied ability activation on fainted mon
  data/battle_scripts_1.s
  test/battle/ability/wandering_spirit.c
Labels: category: battle-mechanic, bugfix

#7008 Chloroblast fix
  include/constants/battle_move_effects.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/move_effect/chloroblast.c
Labels: category: battle-mechanic, bugfix

#7076 Added naive line break
  include/line_break.h
  src/line_break.c
Labels: new-feature, General

#7065 Bug fix: clear saved follower NPC door warp when doing dive warp
  src/field_screen_effect.c
Labels: bugfix, category: overworld

#6976 added Ash Greninja overworld sprites
  graphics/pokemon/greninja/ash/overworld.png
  graphics/pokemon/greninja/ash/overworld_normal.pal
  graphics/pokemon/greninja/ash/overworld_shiny.pal
  spritesheet_rules.mk
  src/data/graphics/pokemon.h
  src/data/object_events/object_event_pic_tables_followers.h
  src/data/pokemon/species_info/gen_6_families.h
Labels: category: pokemon, category: overworld

#7077 Fix Contest Painting load palette error
  src/contest_painting.c
Labels: bugfix, category: overworld

#7075 Fixes freeze during a 1v2 double battle
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix

#7084 Fixes Pursuit potentially causing both battlers to switch into the same mon
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/pursuit.c
Labels: category: battle-mechanic, bugfix

#6961 Simplify white out messages
  data/battle_scripts_1.s
  include/constants/battle_string_ids.h
  src/battle_message.c
  test/text.c
Labels: General

#7086 Feature/ai/wide guard quick guard singles
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai_check_viability.c
Labels: category: battle-ai, bugfix

#7073 Improve smol compressor
  Makefile
  tools/compresSmol/Makefile
  tools/compresSmol/compresSmol.cpp
  tools/compresSmol/compressAlgo.cpp
  tools/compresSmol/compressAlgo.h
  tools/compresSmol/compressSmolTiles.cpp
  tools/compresSmol/mainTiles.cpp
  tools/compresSmol/tANS.cpp
Labels: bugfix, General

#7096 Update CREDITS.md with correct line placement
  CREDITS.md
Labels: type: cleanup, General, category: credits

#7094 Wrote some missing tests
  test/battle/move_effect/acupressure.c
  test/battle/move_effect/blizzard.c
  test/battle/move_effect/bulk_up.c
  test/battle/move_effect/calm_mind.c
  test/battle/move_effect/expanding_force.c
  test/battle/move_flags/always_hits_in_hail_snow.c
Labels: category: battle-tests

#7097 Increased heap by 768 bytes
  include/malloc.h
Labels: bugfix, General

#7091 Deprecate absent member from battlerState
  include/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#7108 Refactor damage calculations aruguments by using a struct context
  include/battle_util.h
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/battle_util.c
Labels: category: battle-mechanic, type: refactor

#7111 Add damage context to effectiveness multiplier
  include/battle_util.h
  src/battle_ai_util.c
  src/battle_controller_player.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/anticipation.c
Labels: category: battle-mechanic, type: refactor

#7116 Fix typo in INSTALL.md
  INSTALL.md
Labels: type: cleanup, General

#7100 Test runner fixes
  include/test/battle.h
  include/test/test.h
  test/battle/ai/ai_switching.c
  test/test_runner.c
  test/test_runner_battle.c
Labels: bugfix, category: battle-tests

#7130 Fix incorrect function parameters used in AI damage calc
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#7133 Use RGB values for DEFAULT_LIGHT_COLOR
  src/palette.c
Labels: type: documentation, General

#7104 Applied Kasen's documentation improvements
  docs/tutorials/dns.md
Labels: type: documentation, General

#7125 Decouple Status set by ability from SetMoveEffect
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_script_commands.h
  include/constants/battle.h
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: refactor

#7134 Removed redundant Damp check
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#7138 Removed Mind Blown effect in favor of move flag
  include/constants/battle_move_effects.h
  include/move.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/move_effects_combined/mind_blown.c
Labels: category: battle-mechanic, type: refactor

#6983 Volatile status refactoring
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  data/battle_scripts_2.s
  include/battle_util.h
  include/constants/battle.h
  include/metaprogram.h
  include/pokemon.h
  src/battle_ai_main.c
  src/battle_debug.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: refactor

#7030 Improve music/se macros and fix names
  src/debug.c
Labels: type: cleanup, General

#7018 Bag refactor (groundwork for expansion)
  include/constants/global.h
  include/constants/item.h
  include/global.h
  include/item.h
  include/pokemon.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_controller_player.c
  src/battle_dome.c
  src/battle_interface.c
  src/battle_pike.c
  src/battle_pyramid.c
  src/battle_script_commands.c
  src/battle_setup.c
  src/battle_tower.c
  src/berry_tag_screen.c
  src/frontier_util.c
  src/item.c
  src/item_menu.c
  src/item_menu_icons.c
  src/load_save.c
  src/party_menu.c
  src/player_pc.c
  src/pokemon.c
  src/record_mixing.c
  src/scrcmd.c
  src/strings.c
  src/tv.c
Labels: General, type: refactor

#6949 Fixed KNOWN_FAILING Tera test
  test/battle/gimmick/terastal.c
  test/battle/move_effect/transform.c
Labels: category: battle-tests

#7114 Repurposes IsMagicGuardProtected into a general function
  include/battle_util.h
  src/battle_end_turn.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#7144 Stat Change (Animation) Refactor
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  data/battle_scripts_2.s
  include/battle_scripts.h
  include/battle_util.h
  include/config/battle.h
  include/constants/battle_script_commands.h
  include/constants/generational_changes.h
  include/generational_changes.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/contrary.c
  test/battle/ability/defiant.c
  test/battle/ability/opportunist.c
  test/battle/ability/weak_armor.c
  test/battle/move_animations/all_anims.c
Labels: category: battle-mechanic, type: refactor

#7071 Converts more defines to enums and name unnamed enums
  docs/tutorials/how_to_new_pokemon.md
  include/battle.h
  include/battle_ai_util.h
  include/battle_util.h
  include/constants/cries.h
  include/constants/pokedex.h
  include/constants/pokemon.h
  include/move.h
  include/pokedex.h
  include/pokemon.h
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
  src/contest_util.c
  src/credits.c
  src/debug.c
  src/dexnav.c
  src/easy_chat.c
  src/egg_hatch.c
  src/mystery_event_script.c
  src/pokedex.c
  src/pokedex_plus_hgss.c
  src/pokemon.c
  src/pokemon_summary_screen.c
  src/scrcmd.c
  src/script_pokemon_util.c
  src/sound.c
  src/trade.c
  src/trainer_pools.c
Labels: type: cleanup, General

#7153 Bug fix: clear follower npc surf blob on white out
  src/follower_npc.c
  src/overworld.c
Labels: bugfix, category: overworld

#7151 Add missing flag for Berserk Gene
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#7170 Fixes Neutralizing Gas leaving the field activating unsuppressable abilities again
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/neutralizing_gas.c
Labels: category: battle-mechanic, bugfix

#7141 Use `argument.type` for `EFFECT_SOAK`
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/data/moves_info.h
  test/battle/move_effect/soak.c
Labels: category: battle-mechanic, type: cleanup

#6877 More battle controller function consolidation.
  include/battle_controllers.h
  src/battle_controller_link_opponent.c
  src/battle_controller_link_partner.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_controller_recorded_opponent.c
  src/battle_controller_recorded_player.c
  src/battle_controller_safari.c
  src/battle_controller_wally.c
  src/battle_controllers.c
Labels: type: cleanup, General

#6748 Untangle `InitBtlControllers` functions
  include/battle_controllers.h
  src/battle_controllers.c
Labels: category: battle-mechanic, type: refactor, type: big feature

#7168 Fixed TM and Berries disappearing when sorting
  src/item.c
  test/bag.c
Labels: category: items, bugfix

#7181 Fixes Rapid Spin description (#7178)
  src/data/moves_info.h
Labels: category: pokemon, type: cleanup

#7169 Master to upcoming merge, 20/06/25
  .all-contributorsrc
  CREDITS.md
  FEATURES.md
  INSTALL.md
  asm/macros/battle_script.inc
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  docs/tutorials/dns.md
  include/battle_scripts.h
  include/constants/battle_ai.h
  include/constants/form_change_types.h
  include/constants/item.h
  include/item.h
  include/list_menu.h
  include/test/battle.h
  include/test/test.h
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_anim_effects_1.c
  src/battle_anim_throw.c
  src/battle_main.c
  src/battle_pyramid_bag.c
  src/battle_script_commands.c
  src/battle_util.c
  src/berry.c
  src/data/battle_move_effects.h
  src/follower_npc.c
  src/item.c
  src/item_menu.c
  src/list_menu.c
  src/move_relearner.c
  src/overworld.c
  src/palette.c
  src/player_pc.c
  src/wild_encounter.c
  test/battle/ai/ai_smart_tera.c
  test/battle/ai/ai_switching.c
  test/battle/gimmick/terastal.c
  test/battle/hold_effect/jaboca_berry.c
  test/battle/move_effect/acupressure.c
  test/battle/move_effect/aura_wheel.c
  test/battle/move_effect/blizzard.c
  test/battle/move_effect/bulk_up.c
  test/battle/move_effect/calm_mind.c
  test/battle/move_effect/expanding_force.c
  test/battle/move_effect/transform.c
  test/battle/move_flags/always_hits_in_hail_snow.c
  test/test_runner.c
  test/test_runner_battle.c
Labels: General Merge

#7187 force RHH Rom Header to always be present
  src/rom_header_rhh.c
Labels: bugfix, General

#7171 Fixes Enigma, Kee and Maranga Berry activation timing
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#7156 Use battler arguments for SetMoveEffect
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  data/battle_scripts_2.s
  include/battle_script_commands.h
  include/constants/battle.h
  include/constants/battle_script_commands.h
  include/gba/defines.h
  src/battle_end_turn.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, bugfix, type: refactor

#7184 Update the description of OW_OBJECT_VANILLA_SHADOWS
  include/config/overworld.h
Labels: type: documentation, General

#7190 Fixed debug flag menu sound
  src/debug.c
Labels: bugfix, General

#7193 fix: use BackPickId to calculate player intro ball throw animation palette
  src/battle_controller_player.c
Labels: General

#7119 Increase party action limit
  include/battle_controllers.h
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_controllers.c
  src/battle_main.c
  src/battle_script_commands.c
Labels: category: battle-mechanic

#7196 Added createfollowernpc macro to make a new follower from a gfx id
  asm/macros/event.inc
  include/follower_npc.h
  include/global.h
  src/follower_npc.c
Labels: new-feature, category: overworld

#7206 Pret merge (24th of June, 2025)
  Makefile
  asm/macros/event.inc
  data/maps/BattleFrontier_BattlePyramidFloor/scripts.inc
  data/scripts/trainer_hill.inc
  include/graphics.h
  include/trade.h
  src/data/graphics/intro_scene.h
  src/egg_hatch.c
  src/field_player_avatar.c
  src/graphics.c
  src/intro.c
  src/mail.c
  src/naming_screen.c
Labels: type: sync, General Merge

#6910 Easier expandability of debug menu
  src/debug.c
  src/field_weather.c
Labels: General, type: refactor

#7215 Add debug options for follower NPCs
  data/scripts/debug.inc
  include/follower_npc.h
  src/debug.c
  src/follower_npc.c
Labels: category: overworld

#7002 Fixes Eject Pack not resolving correctly during switch in effects
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_main.h
  include/battle_scripts.h
  include/battle_util.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/hold_effect/eject_pack.c
Labels: category: battle-mechanic, bugfix

#7210 Attackcanceller clean up
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#7224 Adds Ability Shield activation message
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/hold_effect/ability_shield.c
Labels: category: battle-mechanic, bugfix

#7228 Fix incorrect type input
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#7209 Add Gen 2 Moonlight, Morning Sun, Synthesis configuration
  include/config/battle.h
  include/constants/generational_changes.h
  include/generational_changes.h
  src/battle_script_commands.c
  test/battle/move_effect/moonlight.c
  test/battle/move_effect/morning_sun.c
  test/battle/move_effect/synthesis.c
Labels: category: battle-mechanic, new-feature

#7132 Add P_ASK_MOVE_CONFIRMATION
  data/battle_scripts_1.s
  include/config/pokemon.h
  src/evolution_scene.c
  src/move_relearner.c
  src/party_menu.c
Labels: category: pokemon, new-feature, type: cleanup

#7231 Changes pre-proc to a normal if for Item Desc Header
  src/overworld.c
Labels: General

#7237 Jaboca berry triggers instead of being stolen by bug bite
  src/battle_script_commands.c
  test/battle/hold_effect/jaboca_berry.c
Labels: category: battle-mechanic, bugfix, category: battle-tests

#7233 Fixes Scald defrosting target while asleep
  src/battle_script_commands.c
  test/battle/defrost.c
Labels: category: battle-mechanic, bugfix

#7177 [FIX] Prevent caught Pokémon loss in NPC partner battles
  src/battle_script_commands.c
Labels: category: pokemon, bugfix

#7242 Fix 01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
Labels: bugfix, General

#7241 Fixes Emergency Exit sometimes causing an unrelated battler to become invisible
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#7252 Flush textbox for Truant Popup
  data/battle_scripts_1.s
Labels: category: ability

#6933 Added `CRY_MODE_DYNAMAX`
  data/battle_anim_scripts.s
  include/constants/sound.h
  src/battle_anim_sound_tasks.c
  src/pokemon_sprite_visualizer.c
  src/sound.c
Labels: category: pokemon, new-feature

#7232 Bug Fix: Follower NPCs no longer have glitchy bobbing while underwater
  src/follower_npc.c
Labels: bugfix, category: overworld

#7247 Fixes Toxic Thread animation not being played at the right time
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  src/battle_script_commands.c
  src/data/moves_info.h
  test/battle/move_effects_combined/toxic_thread.c
Labels: category: battle-mechanic, bugfix
