Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-09, with the labels that each got.

#7661 AI handling for Coaching.
  src/battle_ai_main.c
  test/battle/ai/ai_doubles.c
  test/battle/move_effect/coaching.c
Labels: category: battle-ai

#7659 Helping Hand bugfix; used FOE instead of BATTLE_OPPOSITE.
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#7683 Fix crashing tests duplicating tests from another thread
  test/test_runner.c
Labels: bugfix, category: battle-tests

#7684 Master to upcoming, 2025-09-02
  README.md
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/data/items.h
  test/battle/ai/ai_doubles.c
  test/test_runner.c
Labels: General Merge

#7424 Trainers trigger in local id order
  src/trainer_see.c
Labels: category: overworld, type: big feature

#7694 AI Tests: Gimmick Support
  include/test/battle.h
  include/test_runner.h
  src/battle_main.c
  test/battle/ai/ai_smart_tera.c
  test/battle/ai/gimmick_dynamax.c
  test/battle/ai/gimmick_mega.c
  test/battle/ai/gimmick_z_move.c
  test/test_runner_battle.c
Labels: category: battle-ai, category: battle-tests

#7674 Toxic thread uses light screen's scoring....
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#7699 Fix EWRAM_INIT in tests and add a default state to test runner main loop
  ld_script_test.ld
  test/test_runner.c
Labels: bugfix, category: battle-tests

#7701 Fixes Weak Armor and items not displaying stat change attributes
  data/battle_scripts_1.s
  include/battle_message.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/weak_armor.c
  test/battle/hold_effect/restore_stats.c
  test/text.c
Labels: category: battle-mechanic, bugfix

#7704 Fixes Sweet Veil not protecting sleep from Yawn status
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_end_turn.c
  test/battle/ability/sweet_veil.c
Labels: category: battle-mechanic, bugfix

#7692 Fixes Rage Fist for gen7 Disguise
  data/battle_scripts_1.s
  src/battle_script_commands.c
  test/battle/move_effect/rage_fist.c
Labels: category: battle-mechanic, bugfix

#7706 AI uses Extreme Evoboost.
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/gimmick_z_move.c
Labels: category: battle-ai, bugfix

#7716 Fixes Intrepid Sword/Dauntless Shield boosting after entering while at max stats
  data/battle_scripts_1.s
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_util.c
  test/text.c
Labels: category: battle-mechanic, bugfix

#7715 Remove Uproar attack battle script
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/data/battle_move_effects.h
Labels: category: battle-mechanic, type: cleanup

#7672 update of sv.json to consider newest DLC changes
  tools/learnset_helpers/porymoves_files/sv.json
Labels: type: data, General

#7711 Refactors ruin ability checks into a field effect
  data/battle_scripts_1.s
  include/battle_util.h
  include/constants/battle.h
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
  src/trade.c
  test/battle/ability/vessel_of_ruin.c
Labels: category: battle-mechanic, bugfix

#7730 Config for capture to appear critical if the pokemon is already caught
  include/config/battle.h
  src/battle_script_commands.c
Labels: category: battle-mechanic, new-feature

#7697 Implement `field_name_box`
  asm/macros/event.inc
  charmap.txt
  data/event_scripts.s
  docs/tutorials/how_to_namebox.md
  docs/tutorials/img/namebox/msgbox.gif
  docs/tutorials/img/namebox/npc_trainers.gif
  docs/tutorials/img/namebox/pokenav.gif
  graphics/pokenav/name_box.png
  graphics/text_window/name_box.png
  include/config/overworld.h
  include/constants/characters.h
  include/constants/speaker_names.h
  include/field_name_box.h
  include/match_call.h
  include/menu.h
  src/battle_setup.c
  src/data/speaker_names.h
  src/field_message_box.c
  src/field_name_box.c
  src/match_call.c
  src/menu.c
  src/string_util.c
  src/text.c
Labels: new-feature, General

#7740 Fix Beak Blast burning fire types
  src/battle_script_commands.c
  test/battle/move_effect/beak_blast.c
Labels: category: battle-mechanic, bugfix

#7698 Attackcanceller fixes and improvements
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  docs/tutorials/how_to_new_move.md
  include/battle.h
  include/battle_ai_util.h
  include/battle_dynamax.h
  include/battle_scripts.h
  include/battle_terastal.h
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_string_ids.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_dynamax.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_util.c
  src/data/battle_move_effects.h
  test/battle/ability/dazzling.c
  test/battle/ability/teraform_zero.c
  test/battle/gimmick/dynamax.c
  test/battle/gimmick/zmove.c
  test/battle/move_effect/aurora_veil.c
  test/battle/move_effect/clangorous_soul.c
  test/battle/move_effect/fail_if_not_arg_type.c
  test/battle/move_effect/no_retreat.c
  test/battle/move_effect/psychic_terrain.c
  test/battle/move_effect/stockpile.c
Labels: category: battle-mechanic, bugfix, type: refactor

#7745 Fixes AI scoring when Priority moves are blocked
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#7748 Fix for Levitate and Mold Breaker being seen correctly by switch AI, with Levitate tests
  src/battle_ai_util.c
  src/battle_util.c
  test/battle/ability/levitate.c
Labels: category: ability, category: battle-ai, bugfix, category: battle-tests

#7749 Fix bug with IF_GENDER evolution condition
  src/pokemon.c
Labels: bugfix, General

#7758 Fix up end turn scripts plus small documentation
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_end_turn.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#7755 Fix failing test for B_PREFERRED_ICE_WEATHER = B_ICE_WEATHER_SNOW
  test/battle/ability/overcoat.c
  test/battle/ability/slush_rush.c
  test/battle/ai/can_use_all_moves.c
  test/battle/gimmick/dynamax.c
Labels: type: cleanup, category: battle-tests

#7762 `field_name_box` smol followup
  include/field_name_box.h
  src/field_message_box.c
  src/field_name_box.c
  src/match_call.c
  src/text.c
Labels: type: cleanup, General

#7669 Added COMPOUND_STRINGs to region_map_entries.h
  src/data/region_map/region_map_sections.json.txt
Labels: General

#7763 Pokemon storage moving items bugfix
  src/pokemon_storage_system.c
Labels: bugfix, General

#7507 Add some missing move animations to the move animation tests
  data/battle_anim_scripts.s
  include/random.h
  include/test/battle.h
  src/battle_script_commands.c
  test/battle/ability/sheer_force.c
  test/battle/move_animations/all_anims.c
  test/test_runner_battle.c
Labels: category: battle-tests

#7769 Initial Lash Out tests
  test/battle/move_effect/lash_out.c
Labels: category: move effect, category: battle-tests

#7775 Fixes Helping Hand boosts not stacking with each other
  include/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/helping_hand.c
Labels: category: battle-mechanic, bugfix

#7778 Minor clean up for Lightning Rod / Storm Drain
  include/battle.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/lightning_rod.c
Labels: category: battle-mechanic, type: cleanup

#7785 Fixes OHKO moves calculating accuracy twice
  data/battle_scripts_1.s
  src/battle_script_commands.c
  test/battle/move_effect/ohko.c
Labels: category: battle-mechanic, bugfix

#7788 Fixes Instructed moves looking at the wrong turn order number
  include/battle_script_commands.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/sucker_punch.c
  test/battle/move_effect/upper_hand.c
Labels: category: battle-mechanic, bugfix

#7721 Z Status move handling: Conversion, Detect, Nature Power, Transform
  include/config/ai.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/gimmick_z_move.c
Labels: category: battle-ai

#7793 Fix Flame Burst timeout if primary target is fainted
  data/battle_scripts_1.s
  test/battle/move_effect_secondary/flame_burst.c
Labels: category: battle-mechanic, bugfix

#7787 Fixes Leppa Berry timings
  data/battle_scripts_1.s
  src/battle_util.c
  test/battle/hold_effect/restore_pp.c
Labels: category: battle-mechanic, bugfix

#7794 Use stored values for ai switch-in effectiveness checks
  include/battle_ai_util.h
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
Labels: category: battle-ai

#7783 Added missing `LOCALID_NONE`
  src/battle_setup.c
Labels: type: cleanup, category: overworld

#7796 Fix Forecast and Flower Gift corruption
  src/battle_script_commands.c
  test/battle/form_change/faint.c
Labels: category: ability, bugfix

#7802 Fixup add-new-trainer-front-pic tutorial.
  docs/tutorials/how_to_trainer_front_pic.md
Labels: type: documentation, General

#7808 Fixes Throat Spray being blocked by Sheer Force
  include/constants/battle_script_commands.h
  src/battle_util.c
  test/battle/hold_effect/throat_spray.c
Labels: category: battle-mechanic, bugfix

#7809 27/09/25 Master to upcoming merge
  data/battle_scripts_1.s
  docs/tutorials/how_to_trainer_front_pic.md
  include/battle.h
  include/battle_script_commands.h
  include/constants/battle_script_commands.h
  include/random.h
  include/test/battle.h
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_setup.c
  src/battle_util.c
  src/line_break.c
  src/pokemon.c
  src/pokemon_storage_system.c
  src/trainer_see.c
  test/battle/ability/ball_fetch.c
  test/battle/ability/overcoat.c
  test/battle/ability/slush_rush.c
  test/battle/ai/can_use_all_moves.c
  test/battle/form_change/faint.c
  test/battle/gimmick/dynamax.c
  test/battle/hold_effect/restore_pp.c
  test/battle/hold_effect/throat_spray.c
  test/battle/move_effect/ceaseless_edge.c
  test/battle/move_effect/flower_shield.c
  test/battle/move_effect/helping_hand.c
  test/battle/move_effect/lash_out.c
  test/battle/move_effect/ohko.c
  test/battle/move_effect/sucker_punch.c
  test/battle/move_effect/upper_hand.c
  test/battle/move_effect_secondary/flame_burst.c
  test/battle/move_effect_secondary/salt_cure.c
  test/test_runner_battle.c
Labels: General Merge

#7810 Add func GetChosenMoveFromPosition
  include/battle.h
  src/battle_ai_util.c
  src/battle_controller_player.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/recorded_battle.c
Labels: category: battle-mechanic, type: cleanup

#7817 Fix Big Root tests
  test/battle/hold_effect/big_root.c
Labels: bugfix, category: battle-tests

#7820 Fix Party Menu move select name width
  src/party_menu.c
Labels: bugfix, General

#7822 Remove unused gBattleStruct fields
  include/battle.h
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#7823 Fix Battle Frontier using Strange Balls
  src/battle_tower.c
Labels: category: battle-mechanic, bugfix

#7824 fix (choice lock): Gorilla Tactics interactions with choice item removal
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix

#7827 followup: AbilityBattleEffects return type is incorrect
  include/battle_util.h
  src/battle_util.c
Labels: category: ability, type: cleanup

#7663 Adds conversion script for trainers.h
  migration_scripts/1.13/convert_trainers.py
Labels: General

#7826 More White Herb fixes/clean up
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_main.h
  include/battle_util.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/hold_effect/restore_stats.c
Labels: category: battle-mechanic, bugfix

#7829 Missing IsBattlerAlive checks in Opportunist/Mirror Herb
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix
