Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-07, with the labels that each got.

#7259 Fixes Ice Spinner and Steel Roller
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  include/move.h
  remove_terrain.log
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/gimmick/zmove.c
  test/battle/move_animations/all_anims.c
  test/battle/move_effect/hit_set_remove_terrain.c
  test/battle/move_effect/ice_spinner.c
  test/battle/move_effect/steel_roller.c
Labels: category: battle-mechanic, bugfix

#7229 Fixes protective pads not protecting from secondary protect effects
  include/battle_util.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/fluffy.c
  test/battle/move_effect/protect.c
Labels: category: battle-mechanic, bugfix

#7250 Fixes instances of battler mutation for abilities
  charmap.txt
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_message.c
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#7261 Keep removed headers
  include/gba/defines.h
  ld_script_modern.ld
  ld_script_test.ld
  src/agb_flash_1m.c
  src/rom_header.s
  src/rom_header_gf.c
  src/rom_header_rhh.c
  src/siirtc.c
Labels: bugfix

#7248 Use dedicated functions for Mud/Water Sport
  include/battle_util.h
  include/constants/battle.h
  src/battle_ai_main.c
  src/battle_debug.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/mud_sport.c
  test/battle/move_effect/water_sport.c
Labels: category: battle-mechanic, type: refactor

#7268 Remove remove_terrain.log
  remove_terrain.log
Labels: type: cleanup, General

#7267 Master to upcoming merge 01/07/25
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/02_battle_ai_issues.yaml
  .github/ISSUE_TEMPLATE/04_other_errors.yaml
  README.md
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  docs/SUMMARY.md
  docs/changelogs/1.12.x/1.12.1.md
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  include/constants/expansion.h
  include/move.h
  remove_terrain.log
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  src/follower_npc.c
  test/battle/ability/fluffy.c
  test/battle/defrost.c
  test/battle/gimmick/zmove.c
  test/battle/hold_effect/jaboca_berry.c
  test/battle/hold_effect/life_orb.c
  test/battle/move_animations/all_anims.c
  test/battle/move_effect/assist.c
  test/battle/move_effect/hit_set_remove_terrain.c
  test/battle/move_effect/ice_spinner.c
  test/battle/move_effect/protect.c
  test/battle/move_effect/steel_roller.c
  test/battle/move_effects_combined/toxic_thread.c
Labels: General Merge

#7279 Prevent AI Recursion
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#7275 Changing P_ONLY_OBTAINABLE_SHINIES to truly be Only Obtainable Shinies
  include/config/pokemon.h
  src/pokemon.c
Labels: bugfix, category: overworld

#7217 Merrp merge, 2025-06-25
  data/maps/MtChimney/scripts.inc
  data/maps/SlateportCity_OceanicMuseum_2F/scripts.inc
  data/scripts/battle_pike.inc
  include/constants/event_objects.h
  include/constants/flags.h
  include/event_object_movement.h
  include/field_effect_helpers.h
  include/follower_helper.h
  src/battle_transition.c
  src/event_object_movement.c
  src/follower_helper.c
  src/palette.c
  src/scrcmd.c
Labels: type: feature branch merge, General Merge

#7269 Fix OOB in Cmd_selectfirstvalidtarget
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix

#7282 Use compound strings in battle debug menu
  src/battle_debug.c
Labels: type: cleanup, General

#7284 Renaming STATUS1_REFRESH and adding more constants for common STATUS1 checks.
  include/constants/battle.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#7277 Fix Psych Up message and cleanup and don't allow switching to self in tests
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  src/battle_message.c
  src/battle_script_commands.c
  test/test_runner_battle.c
Labels: category: battle-mechanic, bugfix

#7285 Fix incorrect status in beneficial ability Guts check
  src/battle_ai_util.c
Labels: category: battle-mechanic, bugfix

#7274 Fixes Natural Gift moveend execution
  data/battle_scripts_1.s
  include/constants/battle_script_commands.h
  src/battle_script_commands.c
  test/battle/move_effect/natural_gift.c
  tools/compresSmol/compresSmol
  tools/compresSmol/compresSmolTilemap
Labels: category: battle-mechanic, bugfix

#7288 Added missing braces
  src/battle_ai_util.c
Labels: bugfix, General

#7287 Add Overcoat Tests
  test/battle/ability/overcoat.c
Labels: category: battle-tests

#7290 Ally Switch swap gLastX values
  src/battle_anim_effects_1.c
  test/battle/move_effect/ally_switch.c
Labels: bugfix, category: battle-tests

#7300 Removed all instances of .chance = 100, SHEER_FORCE_NO_BOOST
  src/data/moves_info.h
Labels: category: battle-mechanic, type: cleanup

#7293 feat: separate water and rock smash encounter rate checks
  include/wild_encounter.h
  src/dexnav.c
  src/wild_encounter.c
Labels: new-feature, category: overworld

#7299 Fix crashing tests looping
  include/test/battle.h
  include/test/test.h
  ld_script_test.ld
  test/test_runner.c
  test/test_test_runner.c
Labels: bugfix, category: battle-tests

#7307 Remove wrongly added binary files
  .gitignore
  tools/compresSmol/compresSmol
  tools/compresSmol/compresSmolTilemap
Labels: type: cleanup, General

#7309 Fix switch AI not seeing absorbing abilities
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#7303 Changes AccuracyCalcHelper into CanMoveSkipAccuracyCalc
  include/battle_util.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, category: battle-ai, type: refactor

#7227 battle_interface: overhaul ability pop up
  data/battle_scripts_1.s
  graphics/battle_interface/ability_pop_up.png
  graphics_file_rules.mk
  include/sprite.h
  src/battle_interface.c
  src/battle_script_commands.c
  src/sprite.c
Labels: category: battle-mechanic, bugfix, type: refactor

#6797 Add AI_FLAG_ASSUME_STAB
  docs/tutorials/ai_flags.md
  include/battle_ai_util.h
  include/config/ai.h
  include/constants/battle_ai.h
  include/pokemon.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/pokemon.c
  test/battle/ai/ai_assume_stab.c
  test/battle/ai/ai_flag_risky.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#7310 AI uses After You to help set up Trick Room.
  src/battle_ai_main.c
  test/battle/ai/ai_doubles.c
Labels: new-feature, category: battle-ai

#7316 Fix choice AI not seeing Gorilla Tactics
  src/battle_ai_switch_items.c
Labels: category: battle-ai, bugfix

#7317 Fix HGSS dex running out of heap
  src/pokedex_plus_hgss.c
Labels: bugfix, General

#7318 Cotton down use jumpifabsent
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#7166 Bag refactor 2
  Makefile
  include/constants/item.h
  include/gba/defines.h
  include/item.h
  src/item.c
  src/item_menu.c
  src/item_menu_icons.c
  src/party_menu.c
  test/bag.c
Labels: category: items, type: refactor

#7074 New and polished battle animations
  data/battle_anim_scripts.s
  graphics/battle_anims/sprites/tatsugiri_curly.png
  graphics/battle_anims/sprites/tatsugiri_droopy.png
  graphics/battle_anims/sprites/tatsugiri_stretchy.png
  graphics/battle_anims/sprites/tera_symbol.png
  include/battle_anim.h
  include/constants/battle_anim.h
  include/graphics.h
  src/battle_anim_dark.c
  src/battle_anim_effects_1.c
  src/battle_anim_effects_3.c
  src/battle_anim_electric.c
  src/battle_anim_fire.c
  src/battle_anim_ground.c
  src/battle_anim_ice.c
  src/battle_anim_mons.c
  src/battle_anim_new.c
  src/battle_anim_poison.c
  src/battle_anim_rock.c
  src/data/battle_anim.h
  src/graphics.c
  test/battle/move_animations/all_anims.c
Labels: category: move animation

#7262 Replaces STATUS2 usage with volatiles in code
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  docs/tutorials/how_to_battle_script_command_macro.md
  include/battle.h
  include/battle_controllers.h
  include/battle_gfx_sfx_util.h
  include/battle_main.h
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_script_commands.h
  include/item.h
  include/metaprogram.h
  include/pokemon.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_controller_player.c
  src/battle_controllers.c
  src/battle_debug.c
  src/battle_dynamax.c
  src/battle_end_turn.c
  src/battle_gfx_sfx_util.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_util.c
  src/battle_util2.c
  src/battle_z_move.c
  src/data/moves_info.h
  src/item.c
  src/item_use.c
  src/pokemon.c
  src/recorded_battle.c
  test/battle/ability/shield_dust.c
  test/battle/gimmick/dynamax.c
  test/battle/hold_effect/berserk_gene.c
  test/battle/hold_effect/covert_cloak.c
  test/battle/item_effect/cure_status.c
  test/battle/move_effect/attract.c
  test/battle/move_effect/baton_pass.c
  test/battle/move_effect/captivate.c
  test/battle/move_effect_secondary/thrash.c
  test/battle/move_effect_secondary/trap_both.c
  test/battle/volatiles/confusion.c
Labels: category: battle-mechanic, type: refactor

#7327 12/07/25 master merge
  data/battle_scripts_1.s
  data/maps/MtChimney/scripts.inc
  data/maps/SlateportCity_OceanicMuseum_2F/scripts.inc
  data/scripts/battle_pike.inc
  docs/tutorials/dns.md
  graphics/pokemon/hydrapple/back.png
  include/battle_ai_util.h
  include/battle_util.h
  include/constants/battle_script_commands.h
  include/constants/event_objects.h
  include/constants/flags.h
  include/event_object_movement.h
  include/field_effect_helpers.h
  include/follower_helper.h
  include/math_util.h
  include/test/battle.h
  include/test/test.h
  ld_script_test.ld
  remove_terrain.log
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_anim_effects_1.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_transition.c
  src/battle_util.c
  src/event_object_movement.c
  src/follower_helper.c
  src/math_util.c
  src/palette.c
  src/scrcmd.c
  test/battle/ability/liquid_ooze.c
  test/battle/ability/overcoat.c
  test/battle/ai/ai.c
  test/battle/ai/ai_switching.c
  test/battle/move_effect/ally_switch.c
  test/battle/move_effect/natural_gift.c
  test/battle/spread_moves.c
  test/battle/status1/poison.c
  test/test_runner.c
  test/test_test_runner.c
Labels: General Merge

#4891 Refactor battle environment
  data/battle_anim_scripts.s
  include/battle_environment.h
  include/battle_setup.h
  include/config/battle.h
  include/constants/battle.h
  include/constants/form_change_types.h
  include/pokemon_sprite_visualizer.h
  src/battle_bg.c
  src/battle_script_commands.c
  src/battle_setup.c
  src/data/battle_environment.h
  src/data/graphics/battle_environment.h
  src/debug.c
  src/pokemon_sprite_visualizer.c
Labels: category: battle-mechanic, type: refactor, type: big feature

#7328 Fix AI seeing switchin abilities wrong in tests
  src/battle_controllers.c
  src/battle_main.c
Labels: bugfix, category: battle-tests

#7154 Remove competitive syntax config
  .gitignore
  Makefile
  include/config/general.h
  src/data/battle_partners.h
  src/data/debug_trainers.h
  src/data/trainers.h
  test/battle/trainer_control.h
  trainer_rules.mk
Labels: General, type: big feature

#7329 master to upcoming 2, 2025-07-12
  src/battle_controllers.c
  src/battle_main.c
Labels: General Merge

#7333 Instant Win option in Battle Debug
  include/battle_main.h
  src/battle_debug.c
  src/battle_main.c
Labels: new-feature, General

#7131 Fix switching 1v1 calcs not handling 0
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#7335 Fix AI_DoesChoiceEffectBlockMove typo
  src/battle_ai_switch_items.c
Labels: category: battle-ai, type: cleanup

#7325 battle intro: fix issues with follower slide-in and wild shiny mon
  src/battle_controllers.c
  src/pokeball.c
Labels: bugfix, General

#7334 AI assumes Magnitude / Present damage
  src/battle_ai_util.c
  test/battle/ai/ai.c
Labels: new-feature, category: battle-ai

#7324 AI_FLAG_ASSUME_STATUS_MOVES -- AI flag to randomly know some of the player's status moves
  docs/tutorials/ai_flags.md
  include/battle_ai_util.h
  include/config/ai.h
  include/constants/battle_ai.h
  include/random.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai_assume_status_moves.c
Labels: new-feature, category: battle-ai

#7326 Bugfixes for Knock Off, Cover, Thief, Ceaseless Edge and Stone Axe
  include/battle.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/battle_util.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ability/sheer_force.c
  test/battle/ability/sticky_hold.c
  test/battle/hold_effect/air_balloon.c
  test/battle/hold_effect/red_card.c
  test/battle/hold_effect/restore_stats.c
  test/battle/move_effect/ceaseless_edge.c
  test/battle/move_effect/hit_switch_target.c
  test/battle/move_effect/ice_spinner.c
  test/battle/move_effect/knock_off.c
  test/battle/move_effect/stone_axe.c
  test/battle/move_effect_secondary/pay_day.c
  test/battle/move_effect_secondary/steal_item.c
  test/battle/move_effect_secondary/stealth_rock.c
  test/battle/move_effects_combined/make_it_rain.c
Labels: category: battle-mechanic, bugfix

#7353 Fixes Grassy Terrain healing when Heal Blocked/Semi-Invulnerable
  src/battle_end_turn.c
  src/battle_message.c
Labels: category: battle-mechanic, bugfix

#7347 Fixes shadows and mon animations for Illusioned battlers
  src/battle_controllers.c
  src/battle_gfx_sfx_util.c
Labels: category: battle-mechanic, bugfix

#7345 Improve AI's setup logic
  src/battle_ai_util.c
  test/battle/ai/ai.c
Labels: new-feature, category: battle-ai

#7157 Add `Macro` key to trainerproc
  tools/trainerproc/main.c
Labels: General

#7361 Fix magnet rise ai timer check
  src/battle_ai_main.c
Labels: category: battle-mechanic, bugfix

#7251 `trainerproc` copy other trainer party
  docs/tutorials/how_to_trainer_party_pool.md
  include/data.h
  src/battle_main.c
  tools/trainerproc/main.c
Labels: new-feature, General

#7344 preproc: Support __attribute__ in enums
  tools/preproc/asm_file.cpp
Labels: General

#7373 Switch AI can see weather abilities of switchin candidates during damage calcs
  include/battle_ai_util.h
  src/battle_ai_util.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#7366 Enum conversion for `enum MoveEffects` and `enum BattleMoveEffects`
  Makefile
  include/battle_ai_util.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  include/move.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_tv.c
Labels: General

#7377 Adds Missing break in ABILITY_TERAFORM_ZERO
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#7375 19/07/25 Master merge
  charmap.txt
  data/battle_scripts_1.s
  include/battle.h
  include/battle_message.h
  include/battle_scripts.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_controller_link_opponent.c
  src/battle_controllers.c
  src/battle_end_turn.c
  src/battle_gfx_sfx_util.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/battle_util.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ability/sheer_force.c
  test/battle/ability/sticky_hold.c
  test/battle/ai/ai.c
  test/battle/hold_effect/air_balloon.c
  test/battle/hold_effect/red_card.c
  test/battle/hold_effect/restore_stats.c
  test/battle/move_effect/ceaseless_edge.c
  test/battle/move_effect/hit_switch_target.c
  test/battle/move_effect/ice_spinner.c
  test/battle/move_effect/knock_off.c
  test/battle/move_effect/stone_axe.c
  test/battle/move_effect_secondary/pay_day.c
  test/battle/move_effect_secondary/steal_item.c
  test/battle/move_effect_secondary/stealth_rock.c
  test/battle/move_effects_combined/make_it_rain.c
  test/battle/move_flags/recoil.c
Labels: General Merge

#7356 Add missing break
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#7364 Improve AI type matchup calcs
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#7378 Multibattle Partner AI Flags and 2vs1 battler3 AI Flags fix
  include/data.h
  src/battle_ai_main.c
Labels: new-feature, category: battle-ai

#7382 Show chosen move in the battle debug menu
  src/battle_debug.c
Labels: new-feature, General

#7399 Fix Incompatible Z-Move Activation
  src/battle_controller_player.c
Labels: bug, category: battle-mechanic

#7397 Remove leftover code
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#7383 Fixes various Choice lock issues
  include/battle_util.h
  include/constants/battle_script_commands.h
  include/constants/hold_effects.h
  include/item.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_script_commands.c
  src/battle_util.c
  src/item.c
Labels: category: battle-mechanic, bugfix

#7407 Fixes Wandering Spirit overwriting battlers
  data/battle_scripts_1.s
  test/battle/hold_effect/eject_button.c
Labels: category: battle-mechanic, bugfix

#7403 Fix hit escape switching hardcode
  src/battle_controller_opponent.c
Labels: category: battle-ai, bugfix

#7337 Improve AI's priority handling
  include/battle_ai_main.h
  include/battle_ai_util.h
  include/config/ai.h
  include/random.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  test/battle/ai/ai.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#7415 Fix dynamic move types in switching
  include/config/ai.h
  include/random.h
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#7419 Make B_VAR_STARTING_STATUS tests run in CI
  include/config/test.h
  include/constants/vars.h
  test/battle/starting_status/terrain.c
Labels: category: battle-tests

#7385 fixed-damage-move-ai-calc-fix
  include/battle_util.h
  src/battle_ai_util.c
  src/battle_util.c
Labels: category: battle-ai, bugfix

#7431 Fix substruct offsets from #7313
  src/pokemon.c
Labels: category: pokemon, bugfix

#7427 Changed incorrect comment
  src/pokenav_main_menu.c
Labels: General

#7449 Fixes Magnet Rise when user is Rooted/Smacked Down
  data/battle_scripts_1.s
  test/battle/move_effect/magic_room.c
  test/battle/move_effect/magnet_rise.c
  test/battle/move_effect_secondary/will_o_wisp.c
Labels: category: battle-mechanic, bugfix
