Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-08, with the labels that each got.

#7439 Update trainer.h usage warning
  tools/trainerproc/main.c
Labels: type: documentation

#7461 Clean up some Normalize tests to make them make sense
  test/battle/ability/normalize.c
Labels: category: battle-tests

#7432 Rock climb by ghoulslash
  data/field_effect_scripts.s
  data/scripts/field_move_scripts.inc
  graphics/field_effects/palettes/big_dust.pal
  graphics/field_effects/pics/rock_climb_blob.png
  graphics/field_effects/pics/rock_climb_dust.png
  include/config/overworld.h
  include/constants/event_object_movement.h
  include/constants/field_effects.h
  include/constants/field_move.h
  include/constants/metatile_behaviors.h
  include/event_scripts.h
  include/field_effect.h
  include/metatile_behavior.h
  include/party_menu.h
  spritesheet_rules.mk
  src/data/field_effects/field_effect_object_template_pointers.h
  src/data/field_effects/field_effect_objects.h
  src/data/object_events/movement_action_func_tables.h
  src/data/object_events/object_event_graphics.h
  src/event_object_movement.c
  src/field_control_avatar.c
  src/field_effect.c
  src/field_effect_helpers.c
  src/field_move.c
  src/metatile_behavior.c
  src/party_menu.c
Labels: new-feature, General

#7468 Fixes Leech Seed recovery not applying behind Sub
  data/battle_scripts_1.s
  test/battle/move_effect/leech_seed.c
Labels: category: battle-mechanic, bugfix

#7476 Fixes Round and Fusion moves doubling power from previous turn's move
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#7458 Replace all usages of rl compression with smol
  migration_scripts/1.13/convert_compressed_files.py
  src/contest_painting.c
Labels: General

#7440 Update how_to_new_pokemon.md
  docs/tutorials/how_to_new_pokemon.md
Labels: type: documentation

#7442 Clear gScanlineEffect to fix timeout in acid downpour animation
  src/battle_main.c
Labels: category: move animation, bugfix

#7055 Bug fix: add handling for forced movements into/after ledge jumps with follower NPCs
  include/follower_npc.h
  include/global.h
  src/field_player_avatar.c
  src/follower_npc.c
Labels: bugfix, category: overworld

#7471 Macro-for-AI-Flag-definitions
  include/constants/battle_ai.h
Labels: category: battle-ai, type: cleanup

#7411 Convert Status4 to volatiles
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_ai_util.h
  include/battle_util.h
  include/constants/battle.h
  include/move.h
  include/pokemon.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_anim_effects_1.c
  src/battle_debug.c
  src/battle_end_turn.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/moves_info.h
  src/item_use.c
  test/battle/hold_effect/berserk_gene.c
  test/battle/move_effect/semi_invulnerable.c
  test/battle/move_effects_combined/hurricane.c
Labels: category: battle-mechanic, type: refactor

#7487 Add test for BoxPokemon integrity
  test/pokemon.c
Labels: category: battle-tests

#7401 AI_FLAG_ATTACKS_PARTNER with a config for bloodthirstiness
  docs/tutorials/ai_flags.md
  include/battle_ai_util.h
  include/config/ai.h
  include/constants/battle_ai.h
  src/battle_ai_field_statuses.c
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_controller_opponent.c
  test/battle/ai/ai_doubles.c
  test/battle/ai/ai_flag_attacks_partner.c
Labels: new-feature, category: battle-ai

#7495 Fix doubles switch AI to use new type matchup system
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#7502 Fix GetSwitchinHitsToKO one shot heal calcs
  src/battle_ai_switch_items.c
Labels: category: battle-ai, bugfix

#7499 Fixed compile issue `OW_TIMES_OF_DAY` is `GEN_3`
  src/overworld.c
Labels: bugfix, category: overworld

#7482 Fix using town map as registered item
  src/item_use.c
Labels: category: items

#7481 Implement using party menu items from field
  include/party_menu.h
  src/item_use.c
  src/party_menu.c
Labels: category: items, bugfix

#7460 Clear out parties between battle tests
  test/test_runner_battle.c
Labels: bugfix, category: battle-tests

#7510 Fiddling with CanLowerStat.
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
Labels: category: battle-ai

#7509 Improved hazards logic and Mycelium Might ignores ability checks
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
Labels: category: battle-ai

#7368 Remove shadow and hide follower on stair warp
  include/field_effect.h
  src/field_effect.c
  src/field_screen_effect.c
Labels: bugfix, category: overworld

#7260 Split Sheer Force tests by gen instead of by four
  test/battle/ability/sheer_force.c
Labels: category: battle-tests, type: refactor

#7513 AI handling for similar utility moves
  include/battle_ai_util.h
  src/battle_ai_field_statuses.c
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai_doubles.c
Labels: category: battle-ai

#7523 Fixes draining moves recovering 1 HP when dealing 0 damage
  src/battle_script_commands.c
  test/battle/move_effect/absorb.c
Labels: category: battle-mechanic, bugfix

#7530 11/08/25 Master to upcoming merge
  INSTALL.md
  data/battle_scripts_1.s
  docs/tutorials/how_to_new_pokemon.md
  include/battle.h
  include/constants/battle_ai.h
  include/constants/generational_changes.h
  include/field_effect.h
  include/follower_npc.h
  include/generational_changes.h
  include/global.h
  include/party_menu.h
  make_tools.mk
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_gfx_sfx_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/field_effect.c
  src/field_player_avatar.c
  src/field_screen_effect.c
  src/follower_npc.c
  src/item_use.c
  src/overworld.c
  src/party_menu.c
  test/battle/ability/dauntless_shield.c
  test/battle/ability/intrepid_sword.c
  test/battle/ability/keen_eye.c
  test/battle/ability/liquid_ooze.c
  test/battle/ability/normalize.c
  test/battle/ability/pickup.c
  test/battle/ability/protean.c
  test/battle/ability/refrigerate.c
  test/battle/ability/snow_warning.c
  test/battle/ai/ai_switching.c
  test/battle/hold_effect/life_orb.c
  test/battle/move_effect/ally_switch.c
  test/battle/move_effect/assurance.c
  test/battle/move_effect/chloroblast.c
  test/battle/move_effect/leech_seed.c
  test/battle/move_effect/synthesis.c
  test/battle/move_effect_secondary/clear_smog.c
  test/battle/move_effect_secondary/steal_item.c
  test/pokemon.c
  test/test_runner_battle.c
Labels: General Merge

#7494 Hacky support for enums in C asm statements
  include/test/overworld_script.h
  tools/preproc/asm_file.cpp
Labels: bugfix, General

#7087 Modify move prediction to work in doubles
  include/battle.h
  include/battle_ai_util.h
  include/config/ai.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  test/battle/ai/ai_check_viability.c
Labels: category: battle-ai, type: refactor

#7514 Convert statuses3 to volatiles
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_util.h
  include/constants/battle.h
  src/battle_ai_field_statuses.c
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_anim_effects_1.c
  src/battle_debug.c
  src/battle_end_turn.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/battle_util.c
  src/item_use.c
Labels: category: battle-mechanic, type: cleanup, type: refactor

#7533 Fix AI's KO evaluation getting messed up by priority
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai.c
  test/battle/ai/ai_flag_predict_move.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#7532 Fixes some Ability Shield interactions
  data/battle_scripts_1.s
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/hold_effect/ability_shield.c
Labels: category: items, bugfix

#7539 Fixing Refresh AI scoring
  src/battle_ai_main.c
  test/battle/ai/ai_check_viability.c
Labels: category: battle-ai, bugfix

#7541 Uncommenting out No Retreat, Clangorous Soul, and Extreme Evoboost from CheckBadMove
  src/battle_ai_main.c
Labels: category: battle-ai, type: cleanup

#7536 make check TESTS="..." support for filenames and infix matches
  Makefile
  include/test/battle.h
  include/test/test.h
  test/test_runner.c
Labels: category: battle-tests

#7545 Remove funcResult from AiThinkingStruct
  include/battle.h
Labels: category: battle-ai, type: cleanup

#7542 AI uses Rototiller.
  src/battle_ai_main.c
  test/battle/move_effect/rototiller.c
Labels: new-feature, category: battle-ai

#7496 Fixes Knock Off still activating when there is no Item
  src/battle_script_commands.c
  test/battle/hold_effect/eject_pack.c
  test/battle/hold_effect/red_card.c
  test/battle/move_effect/future_sight.c
  test/battle/move_effect/knock_off.c
Labels: category: battle-mechanic, bugfix

#7504 Helping Hand logic
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai_doubles.c
Labels: new-feature, category: battle-ai

#7548 Fix shell side arm rng in battle tests moves
  test/test_runner_battle.c
Labels: category: battle-tests

#7552 Test that AI uses Dragon Cheer.
  test/battle/move_effect/dragon_cheer.c
Labels: category: battle-ai, category: battle-tests

#7571 Fix tossing a stack of berries hiding following berries
  src/item.c
Labels: category: items, bugfix

#7568 Added comment in event.inc for simple menus in dynmultichoice
  asm/macros/event.inc
Labels: type: documentation, General

#7581 fix: remove unused wild_encounters.json.txt jinja file
  src/data/wild_encounters.json.txt
Labels: type: cleanup, category: overworld

#7535 Fix Form Change Item Task Data and Clean Up Field Use Funcs
  src/item_use.c
Labels: bugfix, type: cleanup, category: overworld

#7580 Fixed Teleport's description not being updated based on `B_TELEPORT_BEHAVIOR`
  src/data/moves_info.h
Labels: type: cleanup, General

#7586 Restore AI: Basic Trainer to PARTNER_STEVEN
  src/battle_tower.c
  src/data/battle_partners.party
Labels: category: battle-ai, bugfix

#7587 Fix in-game partner battles always causing a whiteout
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#7555 Tests to see that the AI uses moves.
  test/battle/ai/can_use_all_moves.c
Labels: category: battle-ai, category: battle-tests

#7531 Fix B_ANIMATE_MON_AFTER_KO with a new counter
  data/battle_scripts_1.s
  include/battle.h
  src/battle_controllers.c
  src/battle_script_commands.c
  src/pokemon_animation.c
Labels: category: battle-mechanic, bugfix

#7582 Fixes Rage Fist counter increment
  src/battle_script_commands.c
  test/battle/move_effect/rage_fist.c
Labels: category: battle-mechanic, bugfix

#7592 Suppress trainerproc compile warning for unused func
  tools/trainerproc/main.c
Labels: type: cleanup, General

#7562 Added Ability TODO tests - Volume C
  test/battle/ability/bad_dreams.c
  test/battle/ability/cheek_pouch.c
  test/battle/ability/comatose.c
  test/battle/ability/competitive.c
  test/battle/ability/contrary.c
  test/battle/ability/corrosion.c
  test/battle/ability/costar.c
  test/battle/ability/cud_chew.c
  test/battle/ability/cursed_body.c
  test/battle/ability/cute_charm.c
  test/battle/ability/defiant.c
  test/battle/ability/flower_veil.c
  test/battle/ability/insomnia.c
  test/battle/ability/moxie.c
  test/battle/gimmick/dynamax.c
  test/battle/gimmick/zmove.c
  test/battle/hold_effect/cure_status.c
  test/battle/move_effect/beat_up.c
  test/battle/move_effect/double_power_on_arg_status.c
  test/battle/move_effect/mist.c
  test/battle/move_effect/nightmare.c
  test/battle/move_effect/purify.c
  test/battle/move_effect/strength_sap.c
  test/battle/move_effect_secondary/remove_status.c
Labels: category: battle-tests

#7610 Fixed typo in test name
  test/battle/ability/intimidate.c
Labels: type: cleanup, category: battle-tests

#7600 Fix duplicate switch in after faint
  src/battle_ai_switch_items.c
Labels: category: battle-ai, bugfix

#7556 Fixes octolock not ending after user switched out
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  docs/tutorials/how_to_battle_script_command_macro.md
  include/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  test/battle/move_effect/octolock.c
  test/battle/move_effect/sky_drop.c
Labels: category: battle-mechanic, bugfix

#7617 Remove unused function
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#7616 Prevents a regression for custom abilties
  include/constants/battle.h
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#7615 Fix Vs Seeker Trainer Battle script issue
  src/vs_seeker.c
Labels: bugfix, type: cleanup, category: overworld

#7620 The original attacker wasn't restored for Doodle
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#7583 Restore X item friendship increase
  include/battle_controllers.h
  include/constants/item_effects.h
  include/pokemon.h
  src/battle_controllers.c
  src/battle_util.c
  src/data/pokemon/item_effects.h
  src/pokemon.c
  test/battle/item_effect/increase_stat.c
  test/battle/move_effect/embargo.c
Labels: category: battle-mechanic, bugfix

#7634 Ally Switch attract battler swapping, test for leech seed
  src/battle_anim_effects_1.c
  test/battle/move_effect/ally_switch.c
Labels: category: battle-mechanic, bugfix, category: battle-tests

#7635 Master to upcoming 28/08/25
  data/battle_scripts_1.s
  include/battle_controllers.h
  include/constants/item_effects.h
  include/pokemon.h
  src/battle_anim_effects_1.c
  src/battle_controllers.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/pokemon/item_effects.h
  src/pokemon.c
  src/vs_seeker.c
  test/battle/item_effect/increase_stat.c
  test/battle/move_effect/ally_switch.c
  test/battle/move_effect/embargo.c
Labels: type: sync, General

#7611 Separates FRB and FRZ animations
  data/battle_anim_scripts.s
  include/battle_anim_scripts.h
  include/constants/battle_anim.h
  src/battle_anim.c
  src/battle_gfx_sfx_util.c
  test/battle/hold_effect/cure_status.c
  test/battle/move_effect_secondary/freeze.c
  test/battle/move_effect_secondary/tri_attack.c
  test/battle/move_effects_combined/flinch_status.c
  test/battle/status1/frostbite.c
Labels: category: battle-mechanic, category: move animation

#7497 Text rendering optimizations
  include/window.h
  src/international_string_util.c
  src/text.c
Labels: General, type: big feature

#7642 AI uses Magnetic Flux.
  src/battle_ai_main.c
  test/battle/ai/can_use_all_moves.c
  test/battle/move_effect/magnetic_flux.c
Labels: category: battle-ai

#7640 AI uses Flower Shield.
  src/battle_ai_main.c
  test/battle/ai/can_use_all_moves.c
  test/battle/move_effect/flower_shield.c
Labels: category: battle-ai

#7653 Replace boolean multiplications with ternaries
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#7650 Improved move additional effect handling; now accounts for Shield Dust.
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai_check_viability.c
Labels: new-feature, category: battle-ai

#7649 Correcting test AI won't use status moves if partner chose Helping Hand
  test/battle/ai/ai_doubles.c
Labels: category: battle-ai, type: cleanup

#7664 Added sortType to Douse Drive
  src/data/items.h
Labels: bugfix, General
