Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-05, with the labels that each got.

#6733 Fix roll handling in AI party damage calcs
  include/battle_ai_util.h
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#6718 Adds RNG tags and tests for Moody and Starf Berry
  include/battle_util.h
  include/constants/generational_changes.h
  include/generational_changes.h
  include/random.h
  src/battle_util.c
  test/battle/ability/moody.c
  test/battle/hold_effect/random_stat_up.c
Labels: category: battle-tests

#6743 Add AI_FLAG_PP_STALL_PREVENTION
  include/battle.h
  include/battle_util.h
  include/config/ai.h
  include/constants/battle_ai.h
  include/random.h
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ai/ai_pp_stall_prevention.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#6752 Pret merge (2nd of May 2025)
  tools/mapjson/json11.cpp
Labels: General Merge

#6750 Bugfixes batch
  data/battle_scripts_1.s
  include/battle.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/beast_boost.c
  test/battle/ability/desolate_land.c
  test/battle/hold_effect/jaboca_berry.c
  test/battle/hold_effect/life_orb.c
  test/battle/hold_effect/restore_stats.c
  test/battle/hold_effect/rowap_berry.c
  test/battle/move_effect/dragon_darts.c
  test/battle/move_effect/hit_escape.c
Labels: category: battle-mechanic, bugfix

#6742 Rename follower npc macros for better specificity and to match documentation
  asm/macros/event.inc
  include/constants/follower_npc.h
Labels: type: cleanup, category: overworld

#6756 Add AI_FLAG_PP_STALL_PREVENTION to `ai_flags.md`
  docs/tutorials/ai_flags.md
Labels: type: documentation, category: battle-ai

#6758 Add "Move Item" option in party menu
  include/constants/party_menu.h
  include/strings.h
  src/data/party_menu.h
  src/party_menu.c
  src/strings.c
Labels: category: pokemon, new-feature

#6769 Added Egg Moves for Basculin White Striped
  src/data/pokemon/egg_moves.h
  src/data/pokemon/species_info/gen_5_families.h
Labels: category: pokemon

#6753 Refactor AI flags to u64
  include/battle.h
  include/battle_factory.h
  include/constants/battle_ai.h
  include/data.h
  include/debug.h
  include/recorded_battle.h
  include/test/battle.h
  src/battle_ai_main.c
  src/battle_factory.c
  src/debug.c
  src/recorded_battle.c
  src/trainer_hill.c
  test/test_runner_battle.c
  tools/trainerproc/main.c
Labels: category: battle-ai, type: refactor

#6773 Fix Life Orb inflicting self damage when using status moves (#6767)
  src/battle_util.c
  test/battle/hold_effect/life_orb.c
Labels: category: battle-mechanic, bugfix

#6615 Adjust switch AI based on move scoring
  include/battle_ai_switch_items.h
  include/config/ai.h
  include/random.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#6762 Fixes Stomping Tantrum not boosting damage when missed due to Accuracy
  include/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/stomping_tantrum.c
Labels: category: battle-mechanic, bugfix

#6779 Use `GetPartyBattlerData` where appropiate
  src/battle_ai_switch_items.c
  src/battle_anim.c
  src/battle_anim_new.c
  src/battle_controller_link_opponent.c
  src/battle_controller_link_partner.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_controller_recorded_opponent.c
  src/battle_controller_recorded_player.c
  src/battle_controller_safari.c
  src/battle_controller_wally.c
  src/battle_controllers.c
  src/battle_debug.c
  src/battle_gfx_sfx_util.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_tower.c
  src/battle_tv.c
  src/battle_util.c
  src/battle_util2.c
  src/pokemon_animation.c
  src/recorded_battle.c
  src/reshow_battle_screen.c
Labels: category: battle-mechanic, type: cleanup

#6781 `InitSpritePosToAnimAttacker` documentation
  src/battle_anim_electric.c
  src/battle_anim_mons.c
  src/battle_anim_new.c
  src/battle_anim_psychic.c
  src/battle_anim_water.c
Labels: category: move animation, type: cleanup

#6765 Refactor battler message ids
  include/battle.h
  src/battle_anim_effects_1.c
  src/battle_debug.c
  src/battle_end_turn.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: refactor

#6674 General MoveEnd clean up and Fell Stinger adjustments
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/constants/battle_script_commands.h
  include/constants/generational_changes.h
  include/generational_changes.h
  src/battle_script_commands.c
  test/battle/move_effect/fell_stinger.c
Labels: category: battle-mechanic, type: cleanup

#6782 Fixes Symbiosis not triggering when a weakness berry was consumed
  src/battle_script_commands.c
  test/battle/ability/symbiosis.c
Labels: category: battle-mechanic, bugfix

#6780 Document battler side in anim code
  src/battle_anim_bug.c
  src/battle_anim_effects_1.c
  src/battle_anim_effects_2.c
  src/battle_anim_fire.c
  src/battle_anim_mon_movement.c
  src/battle_anim_mons.c
  src/battle_anim_new.c
  src/battle_anim_poison.c
  src/battle_anim_psychic.c
Labels: type: documentation, category: move animation

#6787 Better handling of battle coords
  include/battle_interface.h
  src/battle_anim_mons.c
  src/battle_controller_player.c
  src/battle_gfx_sfx_util.c
  src/battle_interface.c
Labels: type: cleanup, General

#6774 Fix rerolls overwriting Fixed Personality
  src/pokemon.c
Labels: category: pokemon, bugfix

#6788 `battle_main` enum cleanup
  include/battle.h
  include/battle_main.h
  src/battle_main.c
Labels: type: cleanup, General

#6789 Fix gems activating for moves that don't deal type damage
  src/battle_main.c
  src/battle_script_commands.c
  test/battle/hold_effect/gems.c
Labels: category: battle-mechanic, bugfix

#6791 Add AI for Zero to Hero Palafin
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#6793 Add missing uses of `IsBattlerAlly`
  src/battle_ai_switch_items.c
  src/battle_anim.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: cleanup, General

#6783 Adds partyState to BattleStruct
  include/battle.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, General

#6796 Fix AI function table to match new u64 flags
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#6800 Rename `GetPartyBattlerData` to `GetBattlerMon`
  include/battle.h
  src/battle_ai_switch_items.c
  src/battle_anim.c
  src/battle_anim_dark.c
  src/battle_anim_effects_3.c
  src/battle_anim_mons.c
  src/battle_anim_new.c
  src/battle_anim_throw.c
  src/battle_anim_utility_funcs.c
  src/battle_anim_water.c
  src/battle_controller_link_opponent.c
  src/battle_controller_link_partner.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_controller_recorded_opponent.c
  src/battle_controller_recorded_player.c
  src/battle_controller_safari.c
  src/battle_controller_wally.c
  src/battle_controllers.c
  src/battle_debug.c
  src/battle_dynamax.c
  src/battle_gfx_sfx_util.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_tower.c
  src/battle_tv.c
  src/battle_util.c
  src/battle_util2.c
  src/pokeball.c
  src/pokemon_animation.c
  src/recorded_battle.c
  src/reshow_battle_screen.c
  src/type_icons.c
Labels: type: cleanup, General

#6801 Added JSON as the preferred data format
  docs/STYLEGUIDE.md
Labels: type: documentation, General

#6798 Illusion struct cleanup and many Illusion fixes
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  src/battle_controllers.c
  src/battle_dynamax.c
  src/battle_gfx_sfx_util.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_util.c
  test/battle/ability/illusion.c
  test/battle/gimmick/dynamax.c
  test/battle/gimmick/terastal.c
Labels: category: battle-mechanic, bugfix

#6794 Fix Iron Ball type effectiveness check
  include/config/battle.h
  src/battle_util.c
  test/battle/hold_effect/iron_ball.c
Labels: category: battle-mechanic, bugfix

#6803 Fixes ai moves being recorded without correct index
  src/battle_ai_util.c
  test/battle/ai/ai.c
Labels: category: battle-ai, bugfix

#6810 Refactor stockpile resets
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/constants/battle.h
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: refactor

#6814 Toxic Spikes print whether the target is poisoned or badly poisoned
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_string_ids.h
  src/battle_message.c
  src/battle_script_commands.c
  test/battle/move_effect/toxic_spikes.c
Labels: category: battle-mechanic, bugfix

#6813 Fixes Berserk Gene infinite loop
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_util.c
  test/battle/hold_effect/berserk_gene.c
Labels: category: battle-mechanic, bugfix

#6815 Changed White Herb hold effect name
  data/battle_scripts_1.s
  include/constants/hold_effects.h
  src/battle_ai_main.c
  src/battle_debug.c
  src/battle_end_turn.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/items.h
  test/battle/ability/pickup.c
  test/battle/hold_effect/restore_stats.c
Labels: category: battle-mechanic, type: cleanup

#6805 Allow different flags for Badge boost
  include/config/battle.h
  src/battle_main.c
  src/battle_util.c
Labels: new-feature, General

#6696 Timemacros
  asm/macros/event.inc
  src/scrcmd.c
Labels: new-feature, General

#6824 Add AUTO_GEN_TARGETS for .party files and map_groups_count, but on master
  Makefile
  map_data_rules.mk
Labels: bugfix, General

#6827 Fixes restoretarget on empty stack when using G-Max Gravitas
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#6829 Changed github CI to use arm-none-eabi-gcc
  .github/workflows/build.yml
Labels: General

#6822 Fixed double battles send out breaking
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix

#6830 master to upcoming, 2025-05-12
  .github/workflows/build.yml
  Makefile
  data/battle_scripts_1.s
  data/battle_scripts_2.s
  include/battle.h
  include/battle_scripts.h
  include/config/battle.h
  include/config/test.h
  include/constants/battle.h
  include/constants/battle_string_ids.h
  include/constants/flags.h
  include/constants/generational_changes.h
  include/generational_changes.h
  map_data_rules.mk
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/pokemon/egg_moves.h
  src/data/pokemon/species_info/gen_5_families.h
  src/pokemon.c
  test/battle/ability/anticipation.c
  test/battle/ability/drought.c
  test/battle/ability/liquid_ooze.c
  test/battle/ability/sand_force.c
  test/battle/ability/sand_rush.c
  test/battle/ability/sand_veil.c
  test/battle/ability/slush_rush.c
  test/battle/ability/solar_power.c
  test/battle/ability/symbiosis.c
  test/battle/ai/ai.c
  test/battle/hold_effect/berserk_gene.c
  test/battle/hold_effect/gems.c
  test/battle/hold_effect/iron_ball.c
  test/battle/hold_effect/life_orb.c
  test/battle/move_effect/stomping_tantrum.c
  test/battle/move_effect/toxic_spikes.c
  test/battle/weather/hail.c
  test/battle/weather/sandstorm.c
Labels: General Merge

#6828 Fixes a mistake made by me
  include/battle_util.h
  src/battle_end_turn.c
  src/battle_util.c
  test/battle/ability/tangling_hair.c
Labels: category: battle-mechanic, type: cleanup

#6551 Add AI_FLAG_PREDICT_MOVES
  docs/tutorials/ai_flags.md
  include/battle.h
  include/battle_ai_util.h
  include/config/ai.h
  include/constants/battle_ai.h
  include/random.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  test/battle/ai/ai_flag_predict_move.c
Labels: new-feature, category: battle-ai

#6837 Remove redundant script declaration in `battle_scripts.h`
  include/battle_scripts.h
Labels: category: battle-mechanic, type: cleanup

#6836 Added Ability TODO tests B
  test/battle/ability/bad_dreams.c
  test/battle/ability/ball_fetch.c
  test/battle/ability/battery.c
  test/battle/ability/beads_of_ruin.c
  test/battle/ability/beast_boost.c
  test/battle/ability/berserk.c
  test/battle/ability/bulletproof.c
  test/battle/ability/cheek_pouch.c
Labels: category: battle-tests

#6825 Remove non-existent functions from header files
  include/battle_controllers.h
  include/battle_dynamax.h
  include/battle_gimmick.h
  include/berry.h
  include/field_control_avatar.h
  include/field_effect.h
  include/palette.h
  include/sprite.h
Labels: type: cleanup, General

#6832 Added `IsOnPlayerSide`
  docs/tutorials/how_to_new_trainer_slide.md
  include/battle.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_anim.c
  src/battle_anim_bug.c
  src/battle_anim_dark.c
  src/battle_anim_dragon.c
  src/battle_anim_effects_1.c
  src/battle_anim_effects_2.c
  src/battle_anim_effects_3.c
  src/battle_anim_electric.c
  src/battle_anim_fight.c
  src/battle_anim_fire.c
  src/battle_anim_flying.c
  src/battle_anim_ghost.c
  src/battle_anim_ground.c
  src/battle_anim_ice.c
  src/battle_anim_mon_movement.c
  src/battle_anim_mons.c
  src/battle_anim_new.c
  src/battle_anim_normal.c
  src/battle_anim_poison.c
  src/battle_anim_psychic.c
  src/battle_anim_rock.c
  src/battle_anim_throw.c
  src/battle_anim_utility_funcs.c
  src/battle_anim_water.c
  src/battle_controller_player.c
  src/battle_controller_safari.c
  src/battle_controller_wally.c
  src/battle_controllers.c
  src/battle_debug.c
  src/battle_dynamax.c
  src/battle_end_turn.c
  src/battle_gfx_sfx_util.c
  src/battle_gimmick.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_tv.c
  src/battle_util.c
  src/battle_util2.c
  src/party_menu.c
  src/pokeball.c
  src/pokemon.c
  src/recorded_battle.c
  src/reshow_battle_screen.c
  src/trainer_slide.c
Labels: type: cleanup, General

#6835 BattleScript_BerryStatRaiseRet Ripen checks berry and cleanup
  data/battle_scripts_1.s
  include/battle_scripts.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#6846 Combined type-enhancing hold effects
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/constants/battle_script_commands.h
  include/constants/hold_effects.h
  src/battle_debug.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/items.h
  test/battle/ability/corrosion.c
  test/battle/hold_effect/type_power.c
Labels: category: battle-mechanic, type: cleanup

#6856 Removed multiple instances of hardcoded move IDs
  src/battle_ai_switch_items.c
  src/battle_anim_effects_1.c
  src/battle_anim_rock.c
  src/battle_script_commands.c
  src/battle_util.c
  src/battle_z_move.c
Labels: category: battle-mechanic, type: cleanup

#6741 Move out ai structs out of BattleResources
  include/battle.h
  include/battle_ai_main.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_controller_opponent.c
  src/battle_debug.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/battle_util2.c
  src/debug.c
  src/recorded_battle.c
  test/battle/ai/ai.c
Labels: category: battle-ai, type: refactor

#6834 New animations for Mega Evolution, Primal Reversion, Ultra Burst, and Power Construct
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  include/battle_anim.h
  include/battle_anim_scripts.h
  include/battle_scripts.h
  include/constants/battle_anim.h
  include/constants/battle_string_ids.h
  src/battle_anim.c
  src/battle_anim_effects_3.c
  src/battle_anim_new.c
  src/battle_message.c
  src/battle_util.c
  test/battle/gimmick/dynamax.c
Labels: category: battle-mechanic, category: move animation

#6812 Prevent scaninc touching tests when `make`-ing non-test builds
  Makefile
Labels: General

#6859 Fixes wrongly usage of arguments without checking effect
  include/battle.h
  src/battle_ai_util.c
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#6848 Make make clean work again
  Makefile
Labels: bugfix, General

#6852 Add move description data for Z-Moves and Max/G-Max moves
  src/data/moves_info.h
  test/text.c
Labels: General

#6850 Fix potential bug in BattleScript_FriskActivates
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#6806 Reverts wrongly done gem fix and renames struggle effect
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_move_effects.h
  src/battle_main.c
  src/battle_script_commands.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/hold_effect/gems.c
Labels: category: battle-mechanic, bugfix

#6838 Consolidates a bunch of battle controller functions
  include/battle_controllers.h
  src/battle_controller_link_opponent.c
  src/battle_controller_link_partner.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_controller_recorded_opponent.c
  src/battle_controller_recorded_player.c
  src/battle_controllers.c
Labels: category: battle-mechanic, type: refactor

#6858 Add prediction function
  include/battle_ai_util.h
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
Labels: category: battle-ai, type: cleanup

#6864 Fix FindMonThatAbsorbsOpponentsMove not seeing Mold Breaker or choice items
  src/battle_ai_switch_items.c
Labels: category: battle-ai, bugfix

#6857 Added weather accuracy move flags
  include/battle_ai_util.h
  include/constants/battle_move_effects.h
  include/move.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_dome.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/move_effect_secondary/freeze.c
  test/battle/move_effects_combined/hurricane.c
  test/battle/move_flags/accuracy_50_in_sun.c
  test/battle/move_flags/always_hits_in_hail_snow.c
  test/battle/move_flags/always_hits_in_rain.c
Labels: category: battle-mechanic, type: refactor

#6870 Pret merge (15th of May, 2025)
  include/battle.h
  include/battle_ai_script_commands.h
  include/battle_anim.h
  include/battle_controllers.h
  include/battle_main.h
  include/battle_records.h
  include/battle_script_commands.h
  include/battle_tv.h
  include/constants/battle.h
  include/global.h
  include/party_menu.h
  include/pokemon.h
  include/pokemon_storage_system.h
  include/recorded_battle.h
  include/tv.h
  src/apprentice.c
  src/battle_ai_script_commands.c
  src/battle_ai_switch_items.c
  src/battle_anim.c
  src/battle_anim_ice.c
  src/battle_anim_mon_movement.c
  src/battle_anim_mons.c
  src/battle_anim_rock.c
  src/battle_anim_sound_tasks.c
  src/battle_anim_status_effects.c
  src/battle_anim_water.c
  src/battle_controller_link_opponent.c
  src/battle_controller_link_partner.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_controller_recorded_opponent.c
  src/battle_controller_recorded_player.c
  src/battle_controller_safari.c
  src/battle_controller_wally.c
  src/battle_controllers.c
  src/battle_dome.c
  src/battle_gfx_sfx_util.c
  src/battle_interface.c
  src/battle_main.c
  src/battle_records.c
  src/battle_script_commands.c
  src/battle_tower.c
  src/battle_transition.c
  src/battle_tv.c
  src/battle_util.c
  src/battle_util2.c
  src/contest.c
  src/contest_ai.c
  src/item_menu.c
  src/move_relearner.c
  src/party_menu.c
  src/pokeball.c
  src/pokemon.c
  src/pokemon_animation.c
  src/pokemon_storage_system.c
  src/recorded_battle.c
  src/scrcmd.c
  src/secret_base.c
  src/tv.c
Labels: type: sync, General Merge

#6869 Gen 1 no recharge on KO
  include/config/battle.h
  src/battle_script_commands.c
  src/data/moves_info.h
Labels: category: battle-mechanic, new-feature

#6868 Master to upcoming merge
  Makefile
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_move_effects.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ability/bad_dreams.c
  test/battle/ability/ball_fetch.c
  test/battle/ability/battery.c
  test/battle/ability/beads_of_ruin.c
  test/battle/ability/beast_boost.c
  test/battle/ability/berserk.c
  test/battle/ability/bulletproof.c
  test/battle/ability/cheek_pouch.c
  test/battle/hold_effect/gems.c
  test/text.c
Labels: General Merge

#6871 Bug fix: add proper elevation handling for npc followers
  src/event_object_movement.c
Labels: bugfix, category: overworld

#6872 Switch AI considers Bulletproof ability
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#6863 Consolidated stat-priority ability tests
  test/battle/ability/beast_boost.c
  test/battle/ability/protosynthesis.c
  test/battle/ability/quark_drive.c
Labels: type: cleanup, category: battle-tests

#6876 Fixes Magic Guard causing Wrap to end immediately
  src/battle_end_turn.c
Labels: category: battle-mechanic, bugfix

#6861 Reword move and ability descriptions to improve clarity
  src/data/abilities.h
  src/data/moves_info.h
Labels: type: cleanup, General

#6766 AI double battle friendly fire logic improvements
  include/battle_ai_util.h
  include/config/ai.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai.c
  test/battle/ai/ai_check_viability.c
  test/battle/ai/ai_doubles.c
Labels: category: battle-ai

#6883 Fix to warnings pertaining to Mega Evolution and Ultra Burst RGB values
  data/battle_anim_scripts.s
Labels: category: move animation, bugfix

#6772 Remove non-volatile status EFFECTs
  include/battle_ai_util.h
  include/battle_scripts.h
  include/constants/battle_move_effects.h
  include/move.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_dome.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/data/battle_frontier/battle_pyramid_wild_requirements.h
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ability/corrosion.c
  test/battle/ability/flower_veil.c
  test/battle/ability/hyper_cutter.c
  test/battle/ability/immunity.c
  test/battle/ability/insomnia.c
  test/battle/ability/leaf_guard.c
  test/battle/ability/limber.c
  test/battle/ability/liquid_ooze.c
  test/battle/ability/magic_bounce.c
  test/battle/ability/pastel_veil.c
  test/battle/ability/purifying_salt.c
  test/battle/ability/sweet_veil.c
  test/battle/ability/synchronize.c
  test/battle/ability/thermal_exchange.c
  test/battle/ability/water_bubble.c
  test/battle/ai/ai.c
  test/battle/ai/ai_switching.c
  test/battle/move_effect/defog.c
  test/battle/move_effect/instruct.c
  test/battle/move_effect/magic_coat.c
  test/battle/move_effect/metronome.c
  test/battle/move_effect/mirror_move.c
  test/battle/move_effect/refresh.c
  test/battle/move_effect/retaliate.c
  test/battle/move_effect/sleep.c
  test/battle/move_effect/take_heart.c
  test/battle/move_effect/toxic.c
  test/battle/sleep_clause.c
  test/battle/status1/burn.c
  test/battle/status1/poison.c
Labels: category: battle-ai, type: refactor

#6795 Add no-whiteout feature
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/config/battle.h
  src/battle_script_commands.c
  src/battle_setup.c
  src/overworld.c
Labels: category: battle-mechanic, new-feature

#6878 Optimized `PokemonUseItemEffects` function
  src/pokemon.c
Labels: type: cleanup, General

#6770 Expand trainerproc to support additional battle types
  include/data.h
  migration_scripts/1.12/convert_trainer_battle_types.py
  src/battle_main.c
  src/battle_setup.c
  src/data/trainers.h
  src/data/trainers.party
  test/battle/trainer_control.c
  test/battle/trainer_control.h
  test/battle/trainer_control.party
  tools/trainerproc/main.c
Labels: type: data, General

#6865 Fix misleading name
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
Labels: category: battle-ai, type: cleanup

#6881 Debug menu cleanup
  src/debug.c
Labels: type: cleanup, General

#6700 Add CREDITS.md & FEATURES.md, rewrite README.md & INSTALL.md
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/02_battle_ai_issues.yaml
  .github/ISSUE_TEMPLATE/03_feature_requests.yaml
  .github/ISSUE_TEMPLATE/04_other_errors.yaml
  .github/pull_request_template.md
  CREDITS.md
  FEATURES.md
  INSTALL.md
  README.md
Labels: General

#6885 Improve a few Gen 9 Pokemon sprites
  graphics/pokemon/frigibax/anim_front.png
  graphics/pokemon/frigibax/back.png
  graphics/pokemon/frigibax/front.png
  graphics/pokemon/frigibax/normal.pal
  graphics/pokemon/frigibax/shiny.pal
  graphics/pokemon/great_tusk/anim_front.png
  graphics/pokemon/great_tusk/back.png
  graphics/pokemon/great_tusk/front.png
  graphics/pokemon/great_tusk/normal.pal
  graphics/pokemon/great_tusk/shiny.pal
  graphics/pokemon/koraidon/back.png
  graphics/pokemon/koraidon/front.png
  graphics/pokemon/koraidon/normal.pal
  graphics/pokemon/koraidon/shiny.pal
  graphics/pokemon/miraidon/back.png
  graphics/pokemon/miraidon/front.png
  graphics/pokemon/miraidon/normal.pal
  graphics/pokemon/miraidon/shiny.pal
  graphics/pokemon/ogerpon/back.png
  graphics/pokemon/ogerpon/cornerstone/back.png
  graphics/pokemon/ogerpon/cornerstone/front.png
  graphics/pokemon/ogerpon/cornerstone/normal.pal
  graphics/pokemon/ogerpon/cornerstone/shiny.pal
  graphics/pokemon/ogerpon/front.png
  graphics/pokemon/ogerpon/hearthflame/back.png
  graphics/pokemon/ogerpon/hearthflame/front.png
  graphics/pokemon/ogerpon/hearthflame/normal.pal
  graphics/pokemon/ogerpon/hearthflame/shiny.pal
  graphics/pokemon/ogerpon/normal.pal
  graphics/pokemon/ogerpon/shiny.pal
  graphics/pokemon/ogerpon/wellspring/back.png
  graphics/pokemon/ogerpon/wellspring/front.png
  graphics/pokemon/ogerpon/wellspring/normal.pal
  graphics/pokemon/ogerpon/wellspring/shiny.pal
  src/data/graphics/pokemon.h
  src/data/pokemon/species_info/gen_9_families.h
Labels: category: pokemon

#6897 Fixed URL for contributors badge on README.md
  README.md
Labels: type: documentation, General

#6907 Update .all-contributorsrc to skip CI
  .all-contributorsrc
Labels: General

#6908 Fix typo in the readme
  README.md
Labels: type: cleanup, General

#6911 Mugshot Transitions 2v1 fix
  src/battle_transition.c
Labels: category: battle-mechanic, bugfix

#6926 Fix test not referencing AI_TRAINER_NAME
  test/battle/ai/ai_switching.c
Labels: bugfix, category: battle-tests

#6925 add fail ptr arg to JumpIfMoveFailed, fix tryworryseed
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix, type: cleanup

#6938 Fix trainers.party parser failing on apostrophes
  tools/trainerproc/main.c
Labels: bugfix, General

#6937 Fix Rage Fist evolution method
  src/pokemon.c
Labels: category: pokemon, bugfix

#6923 Commenting in config files to explain limits of map popups and wild AI flags
  include/config/battle.h
  include/config/overworld.h
Labels: type: documentation, General

#6940 Fixes Life Orb damage still happening after attacker was unable to at…
  src/battle_util.c
  test/battle/hold_effect/life_orb.c
Labels: category: battle-mechanic, bugfix

#6941 Fixes global usage in super fang effect.
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#6956 Documented usage of `createsprite gSimplePaletteBlendSpriteTemplate`
  data/battle_anim_scripts.s
Labels: type: documentation, General

#6954 Documented usage of `createsprite gDirtPlumeSpriteTemplate`
  data/battle_anim_scripts.s
  src/battle_anim_ground.c
Labels: type: documentation, General

#6952 Updated CONTRIBUTING.md and Merge Freeze definition
  CONTRIBUTING.md
  docs/team_procedures/schedule.md
Labels: type: documentation, type: cleanup, General

#6950 Documented usage of `createsprite gBasicHitSplatSpriteTemplate`
  data/battle_anim_scripts.s
Labels: type: documentation, General

#6957 Added type: documentation to required labels for the label check
  .github/workflows/labels.yml
Labels: General

#6947 Fix `KNOWN_FAILING` Bestow tests
  src/battle_util.c
  src/data/moves_info.h
  test/battle/move_effect/bestow.c
Labels: category: battle-tests

#6944 Added missing root folder check in trainer battle type migration script
  migration_scripts/1.12/convert_trainer_battle_types.py
Labels: bugfix, General

#6943 Fixes Dazzling abilities activating on all multi hit move hits
  src/battle_util.c
  test/battle/ability/dazzling.c
Labels: category: battle-mechanic, bugfix

#6888 Fixes ate type being ignored after checking summary screen
  include/battle_main.h
  include/constants/battle.h
  include/pokemon.h
  src/battle_controller_player.c
  src/battle_main.c
  src/pokemon.c
  src/pokemon_summary_screen.c
Labels: category: battle-mechanic, bugfix

#6942 Fixed forfeit money for `B_WHITEOUT_MONEY <= GEN_3`
  data/battle_scripts_1.s
  src/battle_script_commands.c
  src/overworld.c
Labels: bugfix, General

#6960 Fixes Unnerve activation not limited to 1 per switch-in
  include/battle.h
  src/battle_util.c
  test/battle/ability/unnerve.c
Labels: category: battle-mechanic, bugfix

#6894 Fix AI boosting stats into mon with Haze
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#6948 Added check for gBattleStringsTable
  test/test_runner.c
  test/text.c
Labels: category: battle-tests

#6963 Fixes AI repeated use of weather set up moves
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai.c
Labels: category: battle-ai, bugfix

#6936 Fixes AI not seeing primal weather and partner absorbing abilities
  src/battle_ai_util.c
  test/battle/ai/ai.c
Labels: category: battle-ai, bugfix

#6965 Fix HasBattlerSideMoveWithEffect comment
  src/battle_ai_util.c
Labels: category: battle-ai, type: cleanup

#6892 Fix switch AI considering non-choiced SE moves when choiced
  src/battle_ai_switch_items.c
  test/battle/ai/ai_choice.c
Labels: category: battle-ai, bugfix

#6953 Documented usage of `createsprite gSlideMonToOffsetSpriteTemplate`
  data/battle_anim_scripts.s
Labels: type: cleanup, General

#6968 Remove trailing whitespace
  data/field_effect_scripts.s
  docs/STYLEGUIDE.md
  docs/team_procedures/expansion_versions.md
  docs/team_procedures/scope.md
  docs/tutorials/how_to_code_entry.md
  src/battle_controllers.c
  src/battle_message.c
  src/battle_setup.c
  src/battle_terastal.c
  src/battle_transition.c
  src/datetime.c
  src/dexnav.c
  src/evolution_scene.c
  src/field_control_avatar.c
  src/field_effect_helpers.c
  src/follower_npc.c
  src/item_use.c
  src/pokedex_area_screen.c
  src/pokedex_plus_hgss.c
  src/rtc.c
  src/scrcmd.c
  src/wild_encounter.c
  test/battle/ability/moody.c
  test/battle/ability/steam_engine.c
  test/battle/ai/ai_doubles.c
  test/battle/hold_effect/seeds.c
  test/battle/move_effect/pursuit.c
  test/battle/move_effect/roar.c
Labels: type: cleanup, General

#6975 Fixes checking wrong move's Dynamic Move Type in Summary Screen
  src/pokemon_summary_screen.c
Labels: category: battle-mechanic, bugfix

#6977 Rename AI test
  test/battle/ai/ai_calc_best_move_score.c
Labels: type: cleanup, category: battle-tests

#6974 Fix OW_POPUP_BW_TIME_MODE burning a lot of cycles due to RTC queries.
  src/map_name_popup.c
Labels: bugfix, category: overworld

#6987 Prankster block check was missng the IsStatusMove check
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#6973 Fixes weather anim damage being applied to the wrong mon
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#6927 Fix bad odds / defensive switchin double switch cases
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#6992 Missed ItemId_GetDescription change
  src/overworld.c
Labels: bugfix, type: cleanup, General

#6994 Expansion 1.11.3
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/02_battle_ai_issues.yaml
  .github/ISSUE_TEMPLATE/04_other_errors.yaml
  README.md
  docs/SUMMARY.md
  docs/changelogs/1.11.x/1.11.3.md
  include/constants/expansion.h
Labels: General

#6993 Fixes Gen3 berry activation timing
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_util.h
  src/battle_end_turn.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/hold_effect/restore_hp.c
Labels: category: battle-mechanic, bugfix

#6997 Fix Eiscue not resetting back to Ice Face form after battle.
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix

#7011 Fix out-of-bounds in Heal Bell Cures Entire Party test
  test/battle/move_effect/heal_bell.c
Labels: bugfix, category: battle-tests

#7009 Fixes follower NPC not changing state with player after warp
  src/follower_npc.c
Labels: bugfix, category: overworld

#7010 Fixed follower NPC changing to surf sprite when choosing not to surface from dive
  data/scripts/field_move_scripts.inc
Labels: bugfix, category: overworld

#6998 Fixes spread move fire types not defrosting all targets
  include/constants/battle_script_commands.h
  test/battle/defrost.c
  test/battle/spread_moves.c
Labels: category: battle-mechanic, bugfix

#7014 Fix follower NPC not reappearing after Mossdeep gym warp
  src/field_screen_effect.c
Labels: bugfix, category: overworld

#7013 Fixed surf blob binding to invisible follower NPC on map reload
  src/follower_npc.c
Labels: bugfix, category: overworld

#7017 Added test coverage for regression
  data/battle_scripts_1.s
  test/battle/hold_effect/eject_pack.c
Labels: category: battle-tests

#7015 Update Supersweet Syrup with eject pack fix
  data/battle_scripts_1.s
  test/battle/hold_effect/eject_pack.c
Labels: category: battle-mechanic, bugfix

#7019 Moved time constants to dedicated files
  data/event_scripts.s
  include/constants/rtc.h
  include/constants/siirtc.h
  include/rtc.h
  include/siirtc.h
  tools/wild_encounters/wild_encounters_to_header.py
Labels: type: cleanup, General

#6945 fix: better area mons handling, no longer duplicates `hiddenMons` field
  Makefile
  tools/wild_encounters/wild_encounters_to_header.py
Labels: bugfix, category: overworld

#7023 Fix UB when using time menu
  src/debug.c
Labels: bugfix, General

#7024 Master to upcoming merge
  data/battle_scripts_1.s
  include/battle_controllers.h
  include/constants/battle_script_commands.h
  test/battle/defrost.c
  test/battle/hold_effect/eject_pack.c
  test/battle/move_effect/heal_bell.c
  test/battle/spread_moves.c
Labels: General Merge

#7027 Master to Upcoming, 2025-05-30
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/02_battle_ai_issues.yaml
  .github/ISSUE_TEMPLATE/04_other_errors.yaml
  README.md
  docs/SUMMARY.md
  docs/changelogs/1.11.x/1.11.4.md
  docs/changelogs/1.12.x/1.12.0.md
  include/constants/expansion.h
Labels: General Merge

#6660 Refactor field moves
  asm/macros/event.inc
  data/event_scripts.s
  data/script_cmd_table.inc
  data/scripts/field_move_scripts.inc
  data/scripts/secret_base.inc
  data/scripts/surf.inc
  include/constants/field_move.h
  include/field_move.h
  include/fldeff.h
  include/fldeff_misc.h
  include/party_menu.h
  src/data/party_menu.h
  src/field_control_avatar.c
  src/field_move.c
  src/fldeff_cut.c
  src/fldeff_defog.c
  src/fldeff_dig.c
  src/fldeff_flash.c
  src/fldeff_misc.c
  src/fldeff_rocksmash.c
  src/fldeff_softboiled.c
  src/fldeff_strength.c
  src/fldeff_sweetscent.c
  src/fldeff_teleport.c
  src/party_menu.c
  src/scrcmd.c
  test/script.c
Labels: General, type: refactor, type: big feature

#6873 Clean up battlescript calls with func BattleScriptCall
  include/battle_util.h
  src/battle_dynamax.c
  src/battle_script_commands.c
  src/battle_util.c
  src/battle_util2.c
Labels: category: battle-mechanic, type: cleanup, type: big feature

#6705 AI: Add AI_SMART_TERA flag to make smarter decisions about when to terastalize.
  docs/tutorials/ai_flags.md
  include/battle.h
  include/battle_ai_util.h
  include/config/ai.h
  include/constants/battle_ai.h
  include/random.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_controller_opponent.c
  src/battle_controller_player_partner.c
  test/battle/ai/ai_smart_tera.c
Labels: new-feature, category: battle-ai

#7028 Added line break between Trainer 1 name and Trainer 2 name in sText_TwoTrainersWantToBattle
  src/battle_message.c
Labels: bugfix, General

#6886 New Attack Animations: 25w20a
  data/battle_anim_scripts.s
  src/battle_anim_effects_2.c
  src/battle_anim_electric.c
  src/battle_anim_flying.c
  src/battle_anim_new.c
  src/battle_anim_rock.c
Labels: category: move animation

#7005 Refactors Final Gambit + Tests
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_move_effects.h
  test/battle/move_effect/final_gambit.c
Labels: category: battle-mechanic, type: refactor

#7036 Fixes large battle messages being cut off instead of being prompted to advance 2
  src/battle_message.c
Labels: category: battle-mechanic

#7035 Fixed text width for a lot of forms in HGSS Dex
  src/pokedex_plus_hgss.c
Labels: category: pokemon, bugfix
