Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-02, with the labels that each got.

#6158 Tests for Big Pecks
  test/battle/ability/big_pecks.c
Labels: category: battle-tests

#6159 Water Compaction tests
  test/battle/ability/water_compaction.c
Labels: category: battle-tests

#6161 Clarify MOVE_EFFECT_SLEEP sleep clause handling
  src/battle_ai_util.c
Labels: type: cleanup

#6163 Add Poltchageist family form data
  src/data/pokemon/form_species_tables.h
  src/data/pokemon/species_info/gen_9_families.h
Labels: category: pokemon

#6162 Add the header required for TPP tags to work
  src/data.c
Labels: bugfix

#6164 Remove unused PainSplit scripting global
  include/constants/battle_script_commands.h
Labels: type: cleanup

#6167 Prevent sameMoveTurns from incrementing when unable to use move
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix

#6166 AI adds score to Pursuit if it OHKOs
  src/battle_ai_util.c
  test/battle/ai/ai_check_viability.c
Labels: new-feature, category: battle-ai

#4985 Fixed non-regional forms breeding incorrectly
  include/constants/regions.h
  include/daycare.h
  include/pokemon.h
  include/regions.h
  src/daycare.c
  src/pokemon.c
  test/daycare.c
Labels: category: pokemon, bugfix

#6172 Cleaned up party data access GetPartyBattlerData
  src/battle_ai_util.c
  src/battle_anim.c
  src/battle_anim_dark.c
  src/battle_anim_effects_3.c
  src/battle_anim_mons.c
  src/battle_anim_throw.c
  src/battle_anim_utility_funcs.c
  src/battle_anim_water.c
  src/battle_dynamax.c
  src/battle_script_commands.c
  src/pokeball.c
Labels: type: cleanup

#6173 Changed two LocalRandom calls to new LocalRandom32
  src/trainer_pools.c
Labels: type: cleanup

#6181 Cleanup some global battler ID usage
  src/battle_util.c
Labels: type: cleanup

#6179 Wrote tests for Electrify
  test/battle/move_effect/electrify.c
Labels: category: battle-tests

#6186 Clean up - Add ability args instead of calcing the ability again
  include/battle_script_commands.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: cleanup

#6182 Tachyon Cutter and Salt Cure animations
  data/battle_anim_scripts.s
  graphics/battle_anims/sprites/salt_particle.png
  include/constants/battle_anim.h
  include/graphics.h
  src/battle_anim_mons.c
  src/battle_anim_psychic.c
  src/battle_anim_rock.c
  src/data/battle_anim.h
  src/graphics.c
Labels: category: move animation

#6183 CanAbilityX Function Cleanup
  include/battle_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/battle_util.c
Labels: category: battle-mechanic, type: cleanup

#6184 SwitchType enum to clean up GetMostSuitableMonToSwitchInto
  include/battle_ai_switch_items.h
  src/battle_ai_switch_items.c
  src/battle_controller_opponent.c
  src/battle_controller_player_partner.c
  src/battle_main.c
Labels: category: battle-ai, type: cleanup

#6192 Fixed Unnerve message and wrote tests
  src/battle_util.c
  test/battle/ability/unnerve.c
Labels: bugfix

#6196 Unify setreflect/setlightscreen and MOVE_EFFECT_REFLECT/LIGHT_SCREEN
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#6198 Sheer Force Test Fixes
  test/battle/ability/sheer_force.c
Labels: category: battle-tests

#6143 Convert max effects to normal move effects
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_dynamax.h
  include/battle_scripts.h
  include/constants/battle.h
  include/move.h
  src/battle_ai_util.c
  src/battle_anim_new.c
  src/battle_dynamax.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/moves_info.h
  test/battle/gimmick/dynamax.c
  test/battle/sleep_clause.c
Labels: type: refactor

#6207 Minor Terrain Seed Test Improvement
  test/battle/hold_effect/seeds.c
Labels: category: battle-tests

#6204 Fix Choice'd mons referring to incorrect move when switching
  src/battle_ai_switch_items.c
  test/battle/ai/ai_choice.c
Labels: category: battle-ai, bugfix

#6201 Adjusted G-Max Depletion test
  test/battle/gimmick/dynamax.c
Labels: bugfix, category: battle-tests

#6197 Fixes Spectral Thief stealing boost at the wrong time
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle.h
  include/constants/battle_move_effects.h
  include/constants/battle_script_commands.h
  src/battle_ai_main.c
  src/battle_script_commands.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ability/big_pecks.c
  test/battle/ability/clear_body.c
  test/battle/ability/hyper_cutter.c
  test/battle/ability/keen_eye.c
  test/battle/move_effect/spectral_thief.c
Labels: category: battle-mechanic, bugfix

#6217 Fix Liquid Ooze + Leech Seed Test
  data/battle_scripts_1.s
  test/battle/ability/liquid_ooze.c
Labels: category: battle-tests

#6058 Add caught mon to full party by sending a different mon to the Box
  asm/macros/battle_script.inc
  data/battle_scripts_2.s
  data/text/pc_transfer.inc
  include/config/battle.h
  include/constants/battle_string_ids.h
  include/constants/party_menu.h
  include/naming_screen.h
  include/strings.h
  src/battle_controller_player.c
  src/battle_message.c
  src/battle_script_commands.c
  src/data/party_menu.h
  src/naming_screen.c
  src/party_menu.c
  src/strings.c
Labels: new-feature

#6219 Prevented fanfares from playing in headless mode
  src/sound.c
Labels: category: battle-tests, General

#6223 Fixed compilation error when turning P_GENDER_DIFFERENCES off
  src/event_object_movement.c
Labels: category: pokemon, bugfix

#6226 Fixed missing move encapsulation in upcoming
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/battle_util.c
  test/battle/ability/aroma_veil.c
  test/battle/ability/big_pecks.c
  test/battle/ability/innards_out.c
  test/battle/ability/lightning_rod.c
  test/battle/ability/liquid_voice.c
  test/battle/ability/shield_dust.c
  test/battle/ability/snow_cloak.c
  test/battle/ability/unnerve.c
  test/battle/ability/water_compaction.c
  test/battle/ai/ai_switching.c
  test/battle/gimmick/terastal.c
  test/battle/hold_effect/covert_cloak.c
  test/battle/hold_effect/shell_bell.c
  test/battle/move_effect/charge.c
  test/battle/move_effect/electrify.c
  test/battle/move_effect/evasion_up_2.c
  test/battle/move_effect/rapid_spin.c
  test/battle/trainer_slides.c
Labels: type: cleanup

#6211 Redefine IsBattlerAlive in battle.h as a static inline
  include/battle.h
  include/battle_util.h
  src/battle_util.c
Labels: type: refactor

#6210 Heal Bell/Aromatherapy/Sparkly Swirl improvements and fixes
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/constants/battle_move_effects.h
  include/constants/generational_changes.h
  include/generational_changes.h
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ai/ai_check_viability.c
  test/battle/gimmick/dynamax.c
  test/battle/move_effect/heal_bell.c
  test/battle/move_effect_secondary/aromatherapy.c
  test/battle/sleep_clause.c
Labels: bug, category: move effect

#6213 Fixed Future Sight not being affected by Electrify
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/color_change.c
  test/battle/move_effect/electrify.c
  test/battle/move_effect/instruct.c
Labels: category: move effect, bugfix

#5892 Consolidated Frontier teams into battle_frontier_trainers.h
  migration_scripts/1.11/convert_battle_frontier_trainers.py
  migration_scripts/README.md
  src/data/battle_frontier/battle_frontier_trainer_mons.h
  src/data/battle_frontier/battle_frontier_trainers.h
Labels: type: cleanup, type: refactor

#6227 Fix AI switching in absorbing mon incorrectly
  include/battle.h
  src/battle_ai_switch_items.c
  src/battle_main.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#5914 Added test support for 5 battle configs
  include/battle_script_commands.h
  include/config/battle.h
  include/constants/generational_changes.h
  include/generational_changes.h
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/battle_armor.c
  test/battle/ability/inner_focus.c
  test/battle/ability/merciless.c
  test/battle/ability/own_tempo.c
  test/battle/ability/parental_bond.c
  test/battle/ability/shell_armor.c
  test/battle/ability/super_luck.c
  test/battle/crit_chance.c
  test/battle/gimmick/dynamax.c
  test/battle/gimmick/zmove.c
  test/battle/hold_effect/critical_hit_up.c
  test/battle/hold_effect/leek.c
  test/battle/hold_effect/luck_punch.c
  test/battle/hold_effect/scope_lens.c
  test/battle/item_effect/dire_hit.c
  test/battle/move.c
  test/battle/move_effect/dragon_cheer.c
  test/battle/move_effect/focus_energy.c
  test/battle/move_effect/laser_focus.c
  test/battle/move_effect/lucky_chant.c
  test/battle/move_effect/multi_hit.c
  test/battle/move_effects_combined/triple_arrows.c
  test/battle/move_flags/critical_hit_stage.c
  test/battle/move_flags/ignores_target_ability.c
  test/battle/status1/paralysis.c
  test/battle/status2/confusion.c
Labels: category: battle-tests

#6185 Fixes Expanding Force and Spectral Thief move animations
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  src/battle_script_commands.c
Labels: category: move animation, bugfix

#6215 Fixed typo in requests_effects
  asm/macros/event.inc
  include/script.h
Labels: bugfix

#6187 Switch chance config support
  include/battle_ai_switch_items.h
  include/config/ai.h
  include/constants/global.h
  include/random.h
  src/battle_ai_switch_items.c
  src/battle_main.c
  test/battle/ai/ai_choice.c
  test/battle/ai/ai_flag_predict_switch.c
  test/battle/ai/ai_switching.c
Labels: new-feature, category: battle-ai

#6228 Try a new solution to Fix Safari #6206
  src/battle_controllers.c
  src/battle_main.c
Labels: bugfix

#6231 Pret merge (11th of February)
  src/battle_util2.c
  src/data/easy_chat/easy_chat_group_actions.h
  src/data/easy_chat/easy_chat_group_adjectives.h
  src/data/easy_chat/easy_chat_group_battle.h
  src/data/easy_chat/easy_chat_group_conditions.h
  src/data/easy_chat/easy_chat_group_endings.h
  src/data/easy_chat/easy_chat_group_events.h
  src/data/easy_chat/easy_chat_group_feelings.h
  src/data/easy_chat/easy_chat_group_greetings.h
  src/data/easy_chat/easy_chat_group_hobbies.h
  src/data/easy_chat/easy_chat_group_lifestyle.h
  src/data/easy_chat/easy_chat_group_misc.h
  src/data/easy_chat/easy_chat_group_people.h
  src/data/easy_chat/easy_chat_group_speech.h
  src/data/easy_chat/easy_chat_group_status.h
  src/data/easy_chat/easy_chat_group_time.h
  src/data/easy_chat/easy_chat_group_trainer.h
  src/data/easy_chat/easy_chat_group_trendy_saying.h
  src/data/easy_chat/easy_chat_group_voices.h
Labels: type: sync

#6212 Add abstraction layer for battler positions
  include/battle.h
  include/battle_anim.h
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_anim_mons.c
  src/battle_controller_player.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: cleanup

#6236 Fixes BATTLER_TURN_DAMAGED battler id
  include/battle.h
Labels: category: battle-mechanic, bugfix

#6239 Revert unintentional change
  src/battle_script_commands.c
Labels: type: cleanup

#6234 Remove whitespace from trainers data file
  src/data/trainers.h
Labels: type: cleanup

#6243 Fixed multi battle forced switches
  src/battle_script_commands.c
Labels: bugfix

#6244 Merrp merge (12th of February)
  asm/macros/event.inc
  data/scripts/field_move_scripts.inc
  data/scripts/pkmn_center_nurse.inc
  data/scripts/std_msgbox.inc
  include/config/overworld.h
  include/constants/flags.h
  include/event_object_movement.h
  src/event_object_movement.c
  src/scrcmd.c
  src/script.c
  src/script_movement.c
Labels: type: feature branch merge

#6245 Added missing Dream Eater and Reflect Type tests
  src/data/moves_info.h
  test/battle/move_effect/dream_eater.c
  test/battle/move_effect/reflect_type.c
Labels: category: battle-tests

#6252 Minor Clean up for CanAbilityX. Follow up for #6183
  include/battle_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
Labels: type: cleanup

#6202 Improve Yawn and Status Switching
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#6247 Add function to adjust AI scoring for generalized item effects
  include/battle_ai_main.h
  include/config/ai.h
  src/battle_ai_main.c
Labels: new-feature, category: battle-ai

#6258 Fixes Static Assert from pr #6174
  src/overworld.c
Labels: bugfix, category: overworld

#6260 Use more accurate count in MovesInfo
  src/data/moves_info.h
Labels: type: cleanup

#6251 Expand usage of IsBattlerAlly (rename from IsAlly)
  include/battle.h
  src/battle_anim.c
  src/battle_anim_bug.c
  src/battle_anim_effects_1.c
  src/battle_anim_fire.c
  src/battle_anim_new.c
  src/battle_anim_psychic.c
  src/battle_anim_status_effects.c
  src/battle_anim_utility_funcs.c
  src/battle_anim_water.c
  src/battle_script_commands.c
  src/battle_util.c
  src/pokemon.c
Labels: type: cleanup

#6274 Fix AI wrongly thinking it strikes first with priority even if player is using priority themselves
  src/battle_ai_util.c
  test/battle/ai/ai.c
Labels: category: battle-ai, bugfix

#6280 Fixes Protean not restoring types after ai damage calcs
  src/battle_ai_util.c
Labels: category: battle-mechanic, bugfix

#6295 fix spit up getting skipped
  src/debug.c
Labels: bugfix

#6298 Fixed Kecleon Shiny palette
  graphics/pokemon/kecleon/overworld_shiny.pal
Labels: bugfix, category: overworld

#6281 Update how_to_testing_system.md
  docs/tutorials/how_to_testing_system.md
Labels: type: documentation

#6302 Fixes inconsistency for Kings rock.
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#6303 Fixes Shell Bell for Spread Moves
  src/battle_util.c
  test/battle/hold_effect/shell_bell.c
Labels: category: battle-mechanic, bugfix

#6307 Fix padding amount in MoveInfo
  include/move.h
Labels: type: cleanup

#6304 Fixes doesnt effect message for Thunder Wave
  data/battle_scripts_1.s
  test/battle/status1/paralysis.c
Labels: category: battle-mechanic, bugfix

#6311 Fix AI hazard move handling, minor AI tweaks
  include/battle_ai_util.h
  include/config/ai.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#6309 Big Root AI Fix
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#6310 Fix AI hold effect considerations
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_util.c
Labels: category: battle-ai, bugfix

#6271 Fixes Tera Shell activating on moves that have no effect on target
  include/battle_script_commands.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/tera_shell.c
  test/battle/trainer_control.h
Labels: category: battle-mechanic, bugfix

#6318 Fix Overzealous Absorber Switching
  include/config/ai.h
  src/battle_ai_switch_items.c
Labels: category: battle-ai, bugfix

#6301 Refactor testing flags and vars to not conflict with user ones
  include/config/test.h
  include/constants/flags.h
  include/constants/vars.h
  src/event_data.c
Labels: type: cleanup, category: battle-tests

#6319 Resized gimmick indicators to reduce VRAM usage
  graphics/battle_interface/alpha_indicator.png
  graphics/battle_interface/bug_indicator.png
  graphics/battle_interface/dark_indicator.png
  graphics/battle_interface/dragon_indicator.png
  graphics/battle_interface/dynamax_indicator.png
  graphics/battle_interface/electric_indicator.png
  graphics/battle_interface/fairy_indicator.png
  graphics/battle_interface/fighting_indicator.png
  graphics/battle_interface/fire_indicator.png
  graphics/battle_interface/flying_indicator.png
  graphics/battle_interface/ghost_indicator.png
  graphics/battle_interface/grass_indicator.png
  graphics/battle_interface/ground_indicator.png
  graphics/battle_interface/ice_indicator.png
  graphics/battle_interface/mega_indicator.png
  graphics/battle_interface/normal_indicator.png
  graphics/battle_interface/omega_indicator.png
  graphics/battle_interface/poison_indicator.png
  graphics/battle_interface/psychic_indicator.png
  graphics/battle_interface/rock_indicator.png
  graphics/battle_interface/steel_indicator.png
  graphics/battle_interface/stellar_indicator.png
  graphics/battle_interface/water_indicator.png
  src/battle_gimmick.c
  src/data/graphics/gimmicks.h
Labels: bugfix

#6323 Clean up leftover from simu hp reduction development
  include/battle.h
Labels: type: cleanup

#6322 Fixes intimidate missing timing during a mega evo / switch
  src/battle_main.c
  test/battle/ability/intimidate.c
Labels: category: battle-mechanic, bugfix

#6329 Shifted the follower graphicsIds
  include/constants/event_objects.h
Labels: bugfix

#6334 Fix Substitute / Shed Tail Switch AI
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  test/battle/move_effect/shed_tail.c
Labels: category: battle-ai, bugfix

#6324 fix for multi 2vs1 opponent sends out too many mons bug
  src/battle_util.c
Labels: category: battle-ai, bugfix

#6338 Fixes effect paralyze not being absorbed by absorbing abilities
  data/battle_scripts_1.s
  src/battle_script_commands.c
  test/battle/ability/motor_drive.c
Labels: category: battle-mechanic, bugfix

#6336 Added MOVE_TARGET_OPPONENT and added it to Me First,
  include/constants/battle.h
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_gfx_sfx_util.c
  src/battle_util.c
  src/contest.c
  src/data/moves_info.h
  test/test_runner_battle.c
Labels: category: battle-mechanic, bugfix

#6341 Fixes recoil moves causing recoil when absorbed
  src/battle_script_commands.c
  test/battle/move_flags/recoil.c
Labels: category: battle-mechanic, bugfix

#6289 Made some move animations fit in VRAM
  data/battle_anim_scripts.s
Labels: category: move animation, bugfix

#6342 Fixed protect not resetting the counter in earlier gens
  src/battle_script_commands.c
Labels: category: battle-mechanic, bugfix

#6339 Fixes fainted battler being able to select an action
  src/battle_main.c
Labels: category: battle-mechanic, bugfix

#6350 Final 1.10 master upcoming merge
  data/battle_scripts_1.s
  docs/team_procedures/scope.md
  graphics/battle_interface/alpha_indicator.png
  graphics/battle_interface/bug_indicator.png
  graphics/battle_interface/dark_indicator.png
  graphics/battle_interface/dragon_indicator.png
  graphics/battle_interface/dynamax_indicator.png
  graphics/battle_interface/electric_indicator.png
  graphics/battle_interface/fairy_indicator.png
  graphics/battle_interface/fighting_indicator.png
  graphics/battle_interface/fire_indicator.png
  graphics/battle_interface/flying_indicator.png
  graphics/battle_interface/ghost_indicator.png
  graphics/battle_interface/grass_indicator.png
  graphics/battle_interface/ground_indicator.png
  graphics/battle_interface/ice_indicator.png
  graphics/battle_interface/mega_indicator.png
  graphics/battle_interface/normal_indicator.png
  graphics/battle_interface/omega_indicator.png
  graphics/battle_interface/poison_indicator.png
  graphics/battle_interface/psychic_indicator.png
  graphics/battle_interface/rock_indicator.png
  graphics/battle_interface/steel_indicator.png
  graphics/battle_interface/stellar_indicator.png
  graphics/battle_interface/water_indicator.png
  include/battle.h
  include/battle_ai_util.h
  include/constants/battle.h
  include/constants/event_objects.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_controller_opponent.c
  src/battle_controller_player.c
  src/battle_controller_player_partner.c
  src/battle_gfx_sfx_util.c
  src/battle_gimmick.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/contest.c
  src/data/graphics/gimmicks.h
  src/data/moves_info.h
  src/item_use.c
  test/battle/ability/intimidate.c
  test/battle/ability/motor_drive.c
  test/battle/ability/own_tempo.c
  test/battle/ability/pastel_veil.c
  test/battle/hold_effect/air_balloon.c
  test/battle/hold_effect/jaboca_berry.c
  test/battle/move_effect/coaching.c
  test/battle/move_effect/two_turns_attack.c
  test/battle/move_flags/recoil.c
  test/test_runner_battle.c
Labels: General

#6352 1.11.0 Release
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/02_battle_ai_issues.yaml
  .github/ISSUE_TEMPLATE/04_other_errors.yaml
  README.md
  docs/SUMMARY.md
  docs/changelogs/1.10.x/1.10.3.md
  docs/changelogs/1.11.x/1.11.0.md
  include/constants/expansion.h
Labels: General

#6354 Start 1.12 cycle
  include/constants/expansion.h
Labels: General

#6349 Update AI_TryTo2HKO comment
  src/battle_ai_main.c
Labels: type: cleanup

#6355 Fixing grammar of Berry Tree strings
  src/berry.c
Labels: type: cleanup

#6250 Configuration to scale Critical Capture odds based on local Pokedex or estimated National Pokedex
  include/config/battle.h
  src/battle_script_commands.c
Labels: category: pokemon, new-feature
