Repository rh-hideout/pokeemerald-expansion, pull requests merged in 2025-04, with the labels that each got.

#6517 Fix using items to heal partner in battle
  src/battle_script_commands.c
  test/battle/item_effect/restore_hp.c
Labels: category: items, bugfix

#6521 Update maintainer list
  CONTRIBUTING.md
Labels: type: documentation, type: cleanup

#6502 Fixes Tera Type not being carried over to during form change / evolution
  include/pokemon.h
  src/debug.c
  src/pokemon.c
  src/script_pokemon_util.c
  test/pokemon.c
Labels: category: battle-mechanic, bugfix

#6522 Fixes Hone Claws checking the wrong stats for its stat change animation and Stockpile drops being stopped by stat reduction prevention effects
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#6526 Fixes Red Card against Dynamaxed mons
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  src/battle_script_commands.c
  test/battle/gimmick/dynamax.c
  test/battle/hold_effect/red_card.c
Labels: category: battle-mechanic, bugfix

#6519 Refactors faint target abilities and adds Battle Bond config
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  include/config/battle.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  include/constants/generational_changes.h
  include/generational_changes.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/battle_bond.c
  test/battle/ability/beast_boost.c
  test/battle/ability/grim_neigh.c
  test/battle/ability/moxie.c
  test/battle/gimmick/dynamax.c
  test/text.c
Labels: category: battle-mechanic, type: refactor

#6506 Refactor protect to allow at least 126 different types of protect eff…
  data/battle_scripts_1.s
  include/battle.h
  include/battle_util.h
  include/constants/battle.h
  include/move.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/moves_info.h
Labels: category: battle-mechanic, type: refactor

#6529 Added AI switch display to the battle debug
  src/battle_debug.c
Labels: General

#6528 Fixes transformed mon being able to use tera on Terapagos
  src/battle_terastal.c
Labels: category: battle-mechanic, bugfix

#6499 Refactor / Simlify Cmd_adjustdamage and remove redundancy
  include/battle.h
  src/battle_script_commands.c
  test/battle/move_effect/ohko.c
Labels: category: battle-mechanic, type: refactor

#6524 Add basic Unaware check bad move scoring
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai.c
Labels: new-feature, category: battle-ai

#6534 Fixes Will-O-Wisp not being blocked by Thermal Exchange
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#6536 Thermal exchange tests
  test/battle/ability/thermal_exchange.c
Labels: category: battle-tests

#6516 Replaced Blue Sky background for Rock Field
  data/battle_anim_scripts.s
  graphics/battle_anims/backgrounds/rock_afternoon.pal
  graphics/battle_anims/backgrounds/rock_day.pal
  graphics/battle_anims/backgrounds/rock_field.bin
  graphics/battle_anims/backgrounds/rock_field.png
  graphics/battle_anims/backgrounds/rock_night.pal
  graphics/battle_anims/backgrounds/sky_afternoon.pal
  graphics/battle_anims/backgrounds/sky_day.bin
  graphics/battle_anims/backgrounds/sky_day.pal
  graphics/battle_anims/backgrounds/sky_day.png
  graphics/battle_anims/backgrounds/sky_night.pal
  include/constants/battle_anim.h
  include/graphics.h
  src/battle_anim_new.c
  src/data/battle_anim.h
  src/graphics.c
Labels: category: move animation

#6541 Consolidated "How to add Pokémon" tutorials
  docs/SUMMARY.md
  docs/tutorials/how_to_new_pokemon.md
  docs/tutorials/how_to_new_pokemon_1_10_0.md
  docs/tutorials/how_to_new_pokemon_1_6_0.md
  docs/tutorials/how_to_new_pokemon_1_8_0.md
  docs/tutorials/how_to_new_pokemon_1_9_0.md
  docs/tutorials/img/add_pokemon/charizard.png
  docs/tutorials/img/add_pokemon/dex1.png
  docs/tutorials/img/add_pokemon/dex2.gif
  docs/tutorials/img/add_pokemon/gender_diffs.gif
  docs/tutorials/img/add_pokemon/hgssdex1.png
  docs/tutorials/img/add_pokemon/hgssdex2.png
  docs/tutorials/img/add_pokemon/overworld_data.gif
  docs/tutorials/img/add_pokemon/visualizer1.gif
  docs/tutorials/img/add_pokemon/visualizer2.png
Labels: type: documentation, General

#6490 Refactors Move absorb / block function calls to remove redundancy
  include/battle_main.h
  include/battle_util.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/lightning_rod.c
  test/battle/ability/motor_drive.c
Labels: category: battle-mechanic, type: refactor

#6477 Add OW_DEFOG_FIELD_MOVE to allow players to clear overworld Fog
  data/field_effect_scripts.s
  data/scripts/field_move_scripts.inc
  include/config/overworld.h
  include/constants/field_effects.h
  include/event_scripts.h
  include/fldeff.h
  src/data/party_menu.h
  src/fldeff_defog.c
  src/party_menu.c
Labels: category: pokemon, new-feature, category: move effect, category: overworld

#6550 AI smarter status handling
  include/battle_ai_util.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  test/battle/ai/ai.c
Labels: new-feature, category: battle-ai

#6530 Implemented Alcremie Evolution Method
  include/constants/pokemon.h
  include/field_player_avatar.h
  include/pokemon.h
  src/data/pokemon/species_info/gen_8_families.h
  src/evolution_scene.c
  src/field_control_avatar.c
  src/field_player_avatar.c
  src/play_time.c
  src/pokemon.c
Labels: category: pokemon

#6454 Add Time-Based Encounters
  Makefile
  include/config/overworld.h
  include/pokedex_area_screen.h
  include/rtc.h
  include/wild_encounter.h
  include/window.h
  json_data_rules.mk
  migration_scripts/add_time_based_encounters.py
  src/dexnav.c
  src/match_call.c
  src/pokedex.c
  src/pokedex_area_screen.c
  src/pokedex_plus_hgss.c
  src/rtc.c
  src/wild_encounter.c
  src/window.c
  tools/wild_encounters/wild_encounters_to_header.py
Labels: new-feature, category: overworld, type: big feature

#6558 Fixed Behemoth Blade/Bash handler not using form change tables
  src/pokemon.c
Labels: General

#6557 Alcremie Evolution clean up follow up
  include/constants/pokemon.h
  include/pokemon.h
  src/battle_main.c
  src/evolution_scene.c
  src/field_player_avatar.c
  src/party_menu.c
  src/pokemon.c
  src/trade.c
Labels: type: cleanup

#6563 master to upcoming, 2025-04-09
  .github/workflows/labels.yml
  Makefile
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  docs/SUMMARY.md
  docs/install/mac/MAC_OS.md
  docs/tutorials/how_to_new_pokemon.md
  docs/tutorials/how_to_new_pokemon_1_10_0.md
  docs/tutorials/how_to_new_pokemon_1_6_0.md
  docs/tutorials/how_to_new_pokemon_1_8_0.md
  docs/tutorials/how_to_new_pokemon_1_9_0.md
  docs/tutorials/img/add_pokemon/charizard.png
  docs/tutorials/img/add_pokemon/dex1.png
  docs/tutorials/img/add_pokemon/dex2.gif
  docs/tutorials/img/add_pokemon/gender_diffs.gif
  docs/tutorials/img/add_pokemon/hgssdex1.png
  docs/tutorials/img/add_pokemon/hgssdex2.png
  docs/tutorials/img/add_pokemon/overworld_data.gif
  docs/tutorials/img/add_pokemon/visualizer1.gif
  docs/tutorials/img/add_pokemon/visualizer2.png
  include/battle.h
  include/global.h
  include/pokemon.h
  src/battle_ai_main.c
  src/battle_controller_player.c
  src/battle_debug.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_util.c
  src/debug.c
  src/pokemon.c
  src/script_pokemon_util.c
  test/battle/ability/thermal_exchange.c
  test/battle/gimmick/dynamax.c
  test/battle/hold_effect/red_card.c
  test/battle/item_effect/restore_hp.c
  test/pokemon.c
  tools/mgba/README.md
  tools/mgba/mgba-rom-test-mac
Labels: General Merge

#6554 Updated move animation tests
  include/config/test.h
  test/battle/move_animations/all_anims.c
Labels: category: battle-tests

#6565 Ability access cleanup for #6550
  src/battle_ai_util.c
Labels: category: battle-ai, type: cleanup

#6446 fixed damage calculations in CanTargetFaintAiWithMod()
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
Labels: category: battle-ai, bugfix

#6456 Add B_RUN_TRAINER_BATTLE - players can run from Trainer Battles
  data/battle_scripts_1.s
  include/battle_main.h
  include/battle_scripts.h
  include/config/battle.h
  include/constants/battle_string_ids.h
  include/strings.h
  src/battle_main.c
  src/battle_message.c
  src/battle_setup.c
  src/battle_util.c
  src/field_screen_effect.c
  src/strings.c
Labels: category: battle-mechanic, new-feature, category: overworld

#6449 Refactor fixed damage moves
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_scripts.h
  include/constants/battle_script_commands.h
  src/battle_ai_util.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_move_effects.h
  test/battle/move_effect/level_damage.c
Labels: category: battle-mechanic, type: refactor

#6570 Fix broken links in merge_checklist.md
  docs/team_procedures/merge_checklist.md
Labels: type: documentation, type: cleanup, General

#6572 fix: missing break statement
  src/wild_encounter.c
Labels: bugfix, General

#6561 Adds SHOW_TYPES_SEEN to the B_SHOW_TYPES option
  include/config/battle.h
  include/type_icons.h
  src/battle_main.c
  src/type_icons.c
Labels: new-feature, General

#6553 Gimmick Indicator refactor
  include/battle_gimmick.h
  src/battle_gimmick.c
  src/battle_interface.c
  src/data/gimmicks.h
  src/data/graphics/gimmicks.h
Labels: category: move animation, bugfix

#6575 Pret merge (11 of April)
  include/global.fieldmap.h
  sound/music_player_table.inc
  src/event_object_movement.c
  src/field_player_avatar.c
  src/main.c
  src/overworld.c
  src/trainer_see.c
Labels: type: sync, General Merge

#6576 Documentation
  docs/tutorials/how_to_new_pokemon.md
Labels: type: documentation, General

#6452 Animation fixes from lucky adapted to expansion
  data/battle_anim_scripts.s
  src/battle_anim_dragon.c
  src/battle_anim_effects_1.c
  src/battle_anim_effects_2.c
  src/battle_anim_electric.c
  src/battle_anim_fire.c
  src/battle_anim_flying.c
  src/battle_anim_mon_movement.c
  src/battle_anim_mons.c
  src/battle_anim_normal.c
  src/battle_anim_poison.c
  src/battle_anim_rock.c
  src/battle_anim_utility_funcs.c
  src/battle_anim_water.c
Labels: category: move animation, bugfix

#6582 Added call to ItemId_GetDescription
  src/overworld.c
Labels: bugfix, type: cleanup, category: overworld

#6552 Ability imposter
  src/battle_util.c
  test/battle/ability/commander.c
Labels: category: battle-mechanic, bugfix

#6559 Type Effectiveness Indicators when selecting moves
  charmap.txt
  graphics/fonts/latin_narrow.png
  graphics/fonts/latin_narrower.png
  graphics/fonts/latin_normal.png
  graphics/fonts/latin_short.png
  graphics/fonts/latin_short_narrow.png
  graphics/fonts/latin_short_narrower.png
  graphics/fonts/latin_small.png
  graphics/fonts/latin_small_narrow.png
  graphics/fonts/latin_small_narrower.png
  include/config/battle.h
  src/battle_controller_player.c
  src/battle_message.c
  src/fonts.c
Labels: new-feature, General

#4901 Add B_LEVEL_UP_NOTIFICATION to improve player QoL when performing multiple level ups
  include/battle.h
  include/config/battle.h
  include/pokemon.h
  src/battle_controller_player.c
  src/battle_script_commands.c
  src/pokemon.c
Labels: category: battle-mechanic, new-feature

#6587 master to upcoming, 2025-04-12
  data/battle_anim_scripts.s
  docs/tutorials/how_to_new_pokemon.md
  include/battle_gimmick.h
  include/global.fieldmap.h
  sound/music_player_table.inc
  src/battle_anim_dragon.c
  src/battle_anim_effects_1.c
  src/battle_anim_effects_2.c
  src/battle_anim_electric.c
  src/battle_anim_fire.c
  src/battle_anim_flying.c
  src/battle_anim_mon_movement.c
  src/battle_anim_mons.c
  src/battle_anim_normal.c
  src/battle_anim_poison.c
  src/battle_anim_rock.c
  src/battle_anim_utility_funcs.c
  src/battle_anim_water.c
  src/battle_gimmick.c
  src/battle_interface.c
  src/battle_util.c
  src/data/gimmicks.h
  src/data/graphics/gimmicks.h
  src/data/items.h
  src/event_object_movement.c
  src/field_player_avatar.c
  src/main.c
  src/overworld.c
  src/trainer_see.c
  test/battle/ability/commander.c
Labels: General Merge

#6580 Add clarification for underlying math in EV caps
  src/caps.c
Labels: type: documentation, category: battle-mechanic

#6579 Add clarification for EVO_SCRIPT_TRIGGER_DMG
  include/constants/pokemon.h
Labels: type: documentation, category: pokemon

#6313 "Aerilate"-esque Ability Tests and Config
  include/config/battle.h
  include/constants/generational_changes.h
  include/generational_changes.h
  src/battle_main.c
  src/battle_util.c
  test/battle/ability/aerilate.c
  test/battle/ability/galvanize.c
  test/battle/ability/normalize.c
  test/battle/ability/pixilate.c
  test/battle/ability/refrigerate.c
Labels: category: battle-mechanic, new-feature, category: battle-tests

#5695 FakeRtc datetime and ResetRtcScreen day increments
  include/datetime.h
  include/fake_rtc.h
  include/global.h
  include/rtc.h
  include/siirtc.h
  src/datetime.c
  src/fake_rtc.c
  src/load_save.c
  src/reset_rtc_screen.c
  src/rtc.c
Labels: new-feature

#6590 Remove redundant AI defines
  include/constants/battle_ai.h
Labels: category: battle-ai, type: cleanup

#6589 Fix dynamax message
  src/battle_message.c
Labels: bugfix, General

#6592 Converts some defines to enums
  include/battle_ai_main.h
  include/battle_ai_util.h
  include/dexnav.h
  include/follower_helper.h
  src/battle_ai_main.c
  src/battle_ai_util.c
  src/dexnav.c
Labels: type: cleanup, General

#6594 Turn battle string ids into enums
  include/battle_arena.h
  include/battle_controllers.h
  include/battle_message.h
  include/battle_tv.h
  include/battle_util.h
  include/constants/battle_string_ids.h
  src/battle_arena.c
  src/battle_controllers.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_tv.c
  src/battle_util.c
  test/text.c
Labels: type: documentation, category: battle-mechanic, type: cleanup

#6593 Remove redundant bit for Throat Spray
  include/battle.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/hold_effect/throat_spray.c
Labels: category: battle-mechanic, type: cleanup

#6595 Fix declaration after label for Psywave switch
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#6597 Fixes Dynamax reversion animation when fainting
  data/battle_scripts_1.s
  test/battle/gimmick/dynamax.c
Labels: category: battle-mechanic, bugfix

#6598 Adjust enum AIScore
  include/battle_ai_main.h
Labels: category: battle-ai, type: cleanup

#6599 Fix potential compile error caused by sTeraIndicatorDataPtrs
  src/data/graphics/gimmicks.h
Labels: category: battle-mechanic, bugfix

#6603 Fixed DNS off config sometimes breaking palettes on map change
  src/overworld.c
Labels: bugfix, category: overworld

#6604 Air Balloon AI tests
  test/battle/ai/ai.c
Labels: category: battle-tests

#6601 Big Root tests
  test/battle/hold_effect/big_root.c
Labels: category: battle-tests

#6607 Revert wrongly done Embody Aspect fix
  include/battle.h
  src/battle_util.c
  test/battle/ability/embody_aspect.c
Labels: category: battle-mechanic, bugfix

#6605 Fix Magma Storm getting stuck
  data/battle_anim_scripts.s
Labels: category: move animation, bugfix

#6596 Fixes wrong battler's Illusion wearing off when the Attacker faints and fixes Illusion tests
  data/battle_scripts_1.s
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/illusion.c
  test/battle/move_effect/ally_switch.c
Labels: category: battle-mechanic, bugfix

#6568 Add Time-Based Encounter Tutorial
  docs/tutorials/how_to_time_of_day_encounters.md
Labels: type: documentation, category: overworld

#6616 Fix regression from EndTurnRefactor
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#6619 Add type checking for hold item effects
  include/battle_ai_util.h
  include/battle_main.h
  include/battle_script_commands.h
  include/battle_util.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_debug.c
  src/battle_dynamax.c
  src/battle_end_turn.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_terastal.c
  src/battle_util.c
  src/battle_z_move.c
  src/pokemon.c
  test/test_runner_battle.c
Labels: type: documentation, category: battle-mechanic, type: cleanup

#6622 Capped Exp from Daycare to level cap
  src/daycare.c
Labels: category: pokemon, bugfix

#6618 Adds move effect type checking
  include/battle_ai_util.h
  include/constants/battle_move_effects.h
  include/move.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_arena.c
  src/battle_controller_player.c
  src/battle_dome.c
  src/battle_dynamax.c
  src/battle_gfx_sfx_util.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/sheer_force.c
Labels: type: documentation, category: battle-mechanic, type: cleanup

#6631 Make form change methods into enum + type checking
  include/battle_util.h
  include/constants/form_change_types.h
  include/pokemon.h
  src/battle_util.c
  src/pokemon.c
  src/pokemon_storage_system.c
Labels: type: documentation, category: pokemon

#6636 Make generated files match the current formatting
  src/data/battle_partners.h
  test/battle/trainer_control.h
Labels: General

#6637 17-04-25 master merge
  data/battle_anim_scripts.s
  data/battle_scripts_1.s
  include/battle.h
  include/config/dexnav.h
  include/constants/battle_ai.h
  include/constants/pokemon.h
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/caps.c
  src/data/battle_partners.h
  src/data/graphics/gimmicks.h
  src/daycare.c
  test/battle/ability/embody_aspect.c
  test/battle/ability/illusion.c
  test/battle/ai/ai.c
  test/battle/gimmick/dynamax.c
  test/battle/hold_effect/big_root.c
  test/battle/move_effect/ally_switch.c
  test/battle/trainer_control.h
Labels: General Merge

#6635 Fix VRAM load for Black Hole Eclipse
  data/battle_anim_scripts.s
Labels: category: move animation, bugfix

#6639 Fixes Gulp Missile freezing the game if when attacker fainted
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/gulp_missile.c
Labels: category: battle-mechanic, bugfix

#6644 Fixed Color Change test referring to the wrong mon
  test/battle/ability/color_change.c
Labels: bugfix, category: battle-tests

#6638 Fixes Big Root Leech Seed heal amount
  src/battle_util.c
  test/battle/hold_effect/big_root.c
Labels: category: battle-mechanic, bugfix

#6630 Fix Mirror Armor and Obstruct interaction
  src/battle_script_commands.c
  test/battle/ability/mirror_armor.c
Labels: category: battle-mechanic, bugfix

#6629 Fixes some restore issues
  data/battle_scripts_1.s
  include/battle.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: category: battle-mechanic, bugfix

#6633 Fixes some moves trying to load too much VRAM
  data/battle_anim_scripts.s
Labels: category: move animation, bugfix

#6626 Fix no eligible mons when only the partner wins in multi battle
  src/battle_script_commands.c
Labels: bugfix, General

#6647 Fixes Ally Switch cancelling partner's moves targeting that side of the field
  src/battle_anim_effects_1.c
  src/battle_util.c
  test/battle/move_effect/acupressure.c
  test/battle/move_effect/ally_switch.c
Labels: category: battle-mechanic, bugfix

#6640 Remove hardcoded values from wild_encounter.h generation
  docs/tutorials/how_to_time_of_day_encounters.md
  include/config/overworld.h
  include/rtc.h
  migration_scripts/add_time_based_encounters.py
  src/rtc.c
  src/wild_encounter.c
  tools/wild_encounters/wild_encounters_to_header.py
Labels: category: pokemon, type: cleanup

#6656 Added missing `gMovesInfo` encapsulation
  include/move.h
  src/apprentice.c
  src/battle_ai_util.c
  src/battle_script_commands.c
  test/battle/ability/color_change.c
  test/battle/ability/intimidate.c
  test/battle/ability/neutralizing_gas.c
  test/battle/ability/thermal_exchange.c
  test/battle/ai/ai.c
  test/battle/hold_effect/shell_bell.c
  test/battle/move_effect/dream_eater.c
  test/battle/move_effect/follow_me.c
  test/battle/move_effect/instruct.c
  test/battle/move_effect/laser_focus.c
  test/battle/move_effect/recoil_if_miss.c
  test/battle/move_effect/rototiller.c
  test/battle/move_effect/sleep_talk.c
  test/battle/move_effect/snore.c
  test/battle/move_effect/spectral_thief.c
  test/battle/move_flags/recoil.c
  test/test_runner_battle.c
Labels: category: battle-mechanic, type: cleanup

#6658 Test for Freeze vs Scald thaw
  test/battle/status1/freeze.c
Labels: category: battle-tests

#6632 Fixes commander activation on a fainted mon
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/commander.c
Labels: category: battle-mechanic, bugfix

#6627 Remove HitmarkerSwapAttackerTarget
  data/battle_scripts_1.s
  include/constants/battle.h
  src/battle_script_commands.c
  src/battle_util.c
Labels: type: cleanup

#6218 Sky Drop clean up and tests
  include/battle_util.h
  src/battle_end_turn.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/sky_drop.c
Labels: type: cleanup

#6653 Fix captivate-oblivious interaction and related test
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  src/battle_script_commands.c
  test/battle/ability/oblivious.c
Labels: category: battle-mechanic, bugfix

#6655 Change HasTwoFramesAnimation to take into account species with 1 frame
  src/pokemon.c
Labels: category: pokemon, bugfix

#6662 Fix gBattlerTarget OOB for Gravity and Perish Song
  data/battle_scripts_1.s
Labels: category: battle-mechanic, bugfix

#6657 Fixed LGPE move test fail with `B_UPDATED_MOVE_DATA` to `GEN_7`
  test/battle/move_effect_secondary/haze.c
  test/battle/move_effect_secondary/leech_seed.c
  test/battle/move_effect_secondary/light_screen.c
  test/battle/move_effect_secondary/reflect.c
Labels: bugfix, category: battle-tests

#6664 Remove vestigial AdvanceScript function used for testing
  src/fake_rtc.c
Labels: type: cleanup, category: overworld

#6645 Fixes Intimidate / Eject Pack interaction
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/ability/intimidate.c
  test/battle/hold_effect/eject_pack.c
Labels: category: battle-mechanic, bugfix

#6667 Fixes Neutralizing Gas activating again after switch-in
  src/battle_script_commands.c
  test/battle/ability/teraform_zero.c
Labels: category: battle-mechanic, bugfix

#6666 Fixes Bug Bite eaten berry not ignoring Unnerve
  src/battle_main.c
  src/battle_util.c
  test/battle/move_effect_secondary/bug_bite.c
Labels: category: battle-mechanic, bugfix

#6675 Fixes Mirror Armor stat drops not being stopped by Substitute
  data/battle_scripts_1.s
  test/battle/ability/mirror_armor.c
Labels: category: battle-mechanic, bugfix

#6677 Fix party access in NoAliveMonsForBattlerSide
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#6683 Fixed broken palette load for shiny followers in the sprite visualizer
  src/event_object_movement.c
Labels: bugfix, General

#6678 Some Me First tests plus minor clean up
  include/constants/battle.h
  src/battle_script_commands.c
  src/battle_util.c
  test/battle/move_effect/me_first.c
Labels: category: battle-mechanic, type: cleanup

#6684 Remove misleading comment
  src/battle_script_commands.c
Labels: category: battle-mechanic, type: cleanup

#6556 Evolution Refactor
  include/constants/pokemon.h
  include/constants/weather.h
  include/debug.h
  include/line_break.h
  include/pokemon.h
  migration_scripts/1.12/update_evo_methods.py
  src/battle_main.c
  src/battle_message.c
  src/battle_pyramid.c
  src/battle_script_commands.c
  src/data/pokemon/species_info.h
  src/data/pokemon/species_info/gen_1_families.h
  src/data/pokemon/species_info/gen_2_families.h
  src/data/pokemon/species_info/gen_3_families.h
  src/data/pokemon/species_info/gen_4_families.h
  src/data/pokemon/species_info/gen_5_families.h
  src/data/pokemon/species_info/gen_6_families.h
  src/data/pokemon/species_info/gen_7_families.h
  src/data/pokemon/species_info/gen_8_families.h
  src/data/pokemon/species_info/gen_9_families.h
  src/debug.c
  src/evolution_scene.c
  src/field_player_avatar.c
  src/line_break.c
  src/party_menu.c
  src/pokedex_plus_hgss.c
  src/pokemon.c
  src/trade.c
  test/species.c
Labels: category: pokemon, type: refactor

#6634 Time menu for RTC in debug menu.
  asm/macros/event.inc
  data/scripts/debug.inc
  include/config/overworld.h
  include/fake_rtc.h
  src/debug.c
  src/fake_rtc.c
  src/scrcmd.c
Labels: new-feature, General

#6686 Removes vestigial EWRAM variable from debug menu.
  src/debug.c
Labels: type: cleanup, General

#6691 Fixes Unburden doubling speed when affected by Neutralizing Gas
  src/battle_main.c
  test/battle/ability/unburden.c
Labels: category: battle-mechanic, bugfix

#6690 Fix various Toxic Spikes interactions
  src/battle_script_commands.c
  test/battle/ability/comatose.c
  test/battle/ability/immunity.c
  test/battle/ability/purifying_salt.c
Labels: category: battle-mechanic, bugfix

#6687 Pokedex Plus HGSS move configs
  Makefile
  include/config/general.h
  include/config/pokedex_plus_hgss.h
  include/config/pokemon.h
  include/pokemon.h
  src/data/.gitignore
  src/pokedex.c
  src/pokedex_area_screen.c
  src/pokedex_plus_hgss.c
  src/pokemon.c
  tools/learnset_helpers/make_teachables.py
Labels: new-feature, General

#6685 Adds a whole bunch of new tests
  test/battle/ability/analytic.c
  test/battle/move_effect/aqua_ring.c
  test/battle/move_effect/attract.c
  test/battle/move_effect/bestow.c
  test/battle/move_effect/captivate.c
  test/battle/move_effect/entrainment.c
Labels: category: battle-tests

#6693 Disable `P_TUTOR_MOVES_ARRAY` config
  include/config/pokemon.h
Labels: category: pokemon, type: cleanup

#6694 Keep Steven Multi Debug Option at the Bottom Forever
  src/debug.c
Labels: General

#6695 Fix bracket typo in AI_CheckBadMove conditional
  src/battle_ai_main.c
Labels: category: battle-ai, bugfix

#6697 Fixes Z and Max moves dmg reduction against side protection
  include/battle.h
  src/battle_script_commands.c
  test/battle/move_effect/protect.c
Labels: category: battle-mechanic, bugfix

#6698 Fixes Z and Max moves dmg reduction against side protection - upcoming
  src/battle_util.c
  test/battle/move_effect/protect.c
Labels: category: battle-mechanic, bugfix

#6500 Follower NPCs (follow-me)
  asm/macros/event.inc
  data/event_scripts.s
  data/scripts/field_move_scripts.inc
  data/scripts/movement.inc
  include/battle_tower.h
  include/config/follower_npc.h
  include/constants/event_object_movement.h
  include/constants/event_objects.h
  include/constants/follower_npc.h
  include/constants/global.h
  include/event_object_movement.h
  include/event_scripts.h
  include/field_player_avatar.h
  include/field_screen_effect.h
  include/follower_npc.h
  include/follower_npc_alternate_sprites.h
  include/gba/defines.h
  include/global.h
  src/battle_main.c
  src/battle_setup.c
  src/battle_tower.c
  src/battle_util.c
  src/data/object_events/movement_action_func_tables.h
  src/event_object_movement.c
  src/field_control_avatar.c
  src/field_effect.c
  src/field_player_avatar.c
  src/field_screen_effect.c
  src/fldeff_teleport.c
  src/follower_npc.c
  src/item_use.c
  src/load_save.c
  src/new_game.c
  src/overworld.c
  src/party_menu.c
  src/pokemon.c
  src/scrcmd.c
  src/trainer_see.c
  src/wild_encounter.c
Labels: new-feature, category: overworld, type: big feature

#6701 27/04/25 Master to upcoming merge
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle.h
  include/battle_scripts.h
  include/battle_util.h
  src/battle_end_turn.c
  src/battle_main.c
  src/battle_script_commands.c
  src/battle_util.c
  src/event_object_movement.c
  test/battle/ability/analytic.c
  test/battle/ability/comatose.c
  test/battle/ability/immunity.c
  test/battle/ability/intimidate.c
  test/battle/ability/magician.c
  test/battle/ability/mirror_armor.c
  test/battle/ability/purifying_salt.c
  test/battle/ability/teraform_zero.c
  test/battle/ability/unburden.c
  test/battle/hold_effect/eject_pack.c
  test/battle/move_effect/aqua_ring.c
  test/battle/move_effect/attract.c
  test/battle/move_effect/bestow.c
  test/battle/move_effect/captivate.c
  test/battle/move_effect/entrainment.c
  test/battle/move_effect_secondary/bug_bite.c
Labels: General Merge

#6709 Fix pc mon pic
  src/pokemon_storage_system.c
Labels: bugfix, General

#6713 Improve AI's defense against Focus Punch
  include/config/ai.h
  include/random.h
  src/battle_ai_main.c
  test/battle/move_effect/focus_punch.c
Labels: new-feature, category: battle-ai

#6712 Fix party data assignment
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  test/battle/ai/ai_switching.c
Labels: category: battle-ai, bugfix

#6711 Use correct define for moves in test runner
  test/test_runner_battle.c
Labels: bugfix, category: battle-tests

#6715 Fixed objects not getting unloaded properly when event flags are set
  src/event_object_movement.c
Labels: bugfix, category: overworld

#6728 Release 1.11.2
  .github/ISSUE_TEMPLATE/01_battle_engine_bugs.yaml
  .github/ISSUE_TEMPLATE/02_battle_ai_issues.yaml
  .github/ISSUE_TEMPLATE/04_other_errors.yaml
  README.md
  docs/SUMMARY.md
  docs/changelogs/1.11.x/1.11.2.md
  include/constants/expansion.h
Labels: General

#6729 Updated label workflow
  .github/workflows/labels.yml
Labels: General

#6533 Centralizes non volatile status effect checks
  asm/macros/battle_script.inc
  data/battle_scripts_1.s
  include/battle_ai_util.h
  include/battle_script_commands.h
  include/battle_scripts.h
  include/battle_util.h
  include/constants/battle.h
  include/constants/battle_script_commands.h
  include/constants/battle_string_ids.h
  include/move.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_message.c
  src/battle_script_commands.c
  src/battle_util.c
  src/data/battle_move_effects.h
  src/data/moves_info.h
  test/battle/ability/flower_veil.c
  test/battle/ability/limber.c
  test/battle/ability/pastel_veil.c
  test/battle/ability/poison_point.c
  test/battle/ability/purifying_salt.c
  test/battle/ability/static.c
  test/battle/ability/sweet_veil.c
  test/battle/ability/synchronize.c
  test/battle/ability/water_bubble.c
  test/battle/move_effect/toxic.c
  test/battle/status1/burn.c
  test/battle/status1/poison.c
  test/battle/status1/sleep.c
Labels: category: battle-mechanic, type: refactor

#6724 Refactor battler flee and watch options + clean up
  include/battle.h
  include/battle_ai_main.h
  src/battle_ai_main.c
  src/battle_ai_switch_items.c
  src/battle_ai_util.c
  src/battle_controller_opponent.c
  src/battle_controller_player_partner.c
  src/battle_gfx_sfx_util.c
  src/battle_main.c
Labels: category: battle-ai, type: refactor

#6737 Fix Wonder Guard potential double switching
  src/battle_ai_switch_items.c
Labels: category: battle-ai, bugfix
